<h1>Alemanha: Bandeiras da Liga Comunista Internacional são empunhadas em manifestação ‘LLL’ (Confira o vídeo)</h1>
<p>Author: Ângelo de Carvalho</p>
<p>Time: 2023-01-30T12:00:05-03:00</p>
<p>Images: ['<a href="https://anovademocracia.com.br/images/LLL_Demonstration_2023_Internationaler_Kommunistischer_Bund_-_header.jpg">LLL_Demonstration_2023_Internationaler_Kommunistischer_Bund_-_header.jpg</a>', '<a href="https://anovademocracia.com.br/images/LLL_Demonstration_2023_Internationaler_Kommunistischer_Bund_-_2.jpg">LLL_Demonstration_2023_Internationaler_Kommunistischer_Bund_-_2.jpg</a>', '<a href="https://anovademocracia.com.br/images/LLL_Demonstration_2023_Internationaler_Kommunistischer_Bund_-_1.jpg">LLL_Demonstration_2023_Internationaler_Kommunistischer_Bund_-_1.jpg</a>']</p>
<!--METADATA-->

<p><img alt="" src="../Images/LLL_Demonstration_2023_Internationaler_Kommunistischer_Bund_-_header.jpg" /></p>
<p>Manifestantes ergueram faixa celebrando a fundação da LCI. Foto: <em>Dem Volke
Dienen</em></p>
<p>Revolucionários internacionalistas divulgaram a fundação da Liga Comunista
Internacional (LCI) em uma manifestação massiva em homenagem a Vladimir Lenin,
Rosa Luxemburgo e Karl Liebknecht (conhecida como LLL), em Berlim, no centro
da Alemanha. A manifestação ocorreu no dia 15 de janeiro e percorreu as ruas
da cidade até chegar no cemitério onde Luxemburgo e Liebknecht estão
enterrados.</p>
<p>A manifestação foi iniciada em torno de 10h da manhã, quando milhares de
pessoas iniciaram a marcha por importantes avenidas da capital.</p>
<p>O portal revolucionário Dem Volke Dienem publicou um vídeo da manifestação:</p>
<p>Uma faixa com a consigna <strong>Vida longa à Liga Comunista Internacional!</strong> foi
erguida pelos revolucionários alemães e turcos que compuseram um extenso bloco
na manifestação. Cerrados em fileiras, os revolucionários carregaram bandeiras
da LCI, da organização <em>Partizan</em> e uma grande faixa em homenagem ao Partido
Comunista da Turquia/Marxista-Leninista (TKP/ML), que atualmente dirige a
Guerra Popular naquele país.</p>
<p><img alt="" src="../Images/LLL_Demonstration_2023_Internationaler_Kommunistischer_Bund_-_2.jpg" /></p>
<p>Organização <em>Partizan</em> prestou homenagem ao Partido Comunista da Turquia
(TKP/ML). Foto: <em>Dem Volke Dienen</em></p>
<p>Além das faixas e bandeiras, panfletos com trechos da <strong>Divulgação Política e
Princípios da Liga Comunista Internacional</strong> e brochuras completas do
documento foram entregues pelos revolucionários às massas que assistiram e se
integraram à manifestação.</p>
<p><img alt="" src="../Images/LLL_Demonstration_2023_Internationaler_Kommunistischer_Bund_-_1.jpg" /></p>
<p>Bandeiras da LCI foram empunhadas no bloco dos revolucionários
internacionalistas. Foto: <em>Dem Volke Dienen</em></p>
<p>Segundo o portal <em>Dem Volke Dienen</em> , que cobriu a manifestação, as massas que
presenciaram o ato se mostraram entusiasmadas com o anúncio de fundação da
LCI. Dezenas de pessoas que viram o bloco pediram para segurar as bandeiras da
LCI múltiplas vezes e perguntaram onde podiam adquiri-las.</p>
<p>A manifestação do dia 15 de janeiro ocorre anualmente na rua de Berlim com o
objetivo de homenagear a memória de Rosa Luxemburgo e Karl Liebknecht, chefes
históricos do Partido Comunista da Alemanha, que foram assassinados pelas
tropas da social-democracia alemã em 1919, e Vladimir Lenin, chefe comunista
do proletariado internacional e grande referência para Luxemburgo e
Liebknecht.</p>
<p>Source: <a href="https://anovademocracia.com.br/noticias/18585-alemanha-bandeiras-da-liga-comunista-internacional-sao-empunhadas-em-manifestacao-lll">https://anovademocracia.com.br/noticias/18585-alemanha-bandeiras-da-liga-comunista-internacional-sao-empunhadas-em-manifestacao-lll</a></p>