<h1>Nürnberg&#8217;de Dayanışma Gecesi</h1>
<p>Author: ['muhabirhasan']</p>
<p>Time: 2023-01-29T97:00:00</p>
<p>Description: NÜRNBERG|29.01.2023| 2018 yılında &quot;yasa dışı örgüt üyesi&quot; olma gerekçesiyle 16 yöneticisi ...</p>
<p>Images: ['<a href="https://www.atik-online.net/wp-content/uploads/2023/01/e8587f3d-14e5-465c-9f3b-8b29f8b7879c-620x330.jpg">e8587f3d-14e5-465c-9f3b-8b29f8b7879c-620x330.jpg</a>', '<a href="https://www.atik-online.net/wp-content/uploads/2023/01/1c18335f-3c66-41fe-8ae4-c545e16f7e49-300x135.jpg">1c18335f-3c66-41fe-8ae4-c545e16f7e49-300x135.jpg</a>', '<a href="https://www.atik-online.net/wp-content/uploads/2023/01/7d3fb980-b1fc-4634-a67d-94ca6ca813fd-300x135.jpg">7d3fb980-b1fc-4634-a67d-94ca6ca813fd-300x135.jpg</a>', '<a href="https://www.atik-online.net/wp-content/uploads/2023/01/e8587f3d-14e5-465c-9f3b-8b29f8b7879c-300x135.jpg">e8587f3d-14e5-465c-9f3b-8b29f8b7879c-300x135.jpg</a>']</p>
<p>Categories: ['Avrupa', 'Haberler', 'Manset']</p>
<p>Type: article</p>
<!--METADATA-->

<p><img alt="" src="../Images/e8587f3d-14e5-465c-9f3b-8b29f8b7879c-620x330.jpg" /></p>
<p>NÜRNBERG|29.01.2023| 2018 yılında „yasa dışı örgüt üyesi" olma gerekçesiyle 16
yöneticisi tutuklanan Erzincan Pir Sultan Abdal Derneği ile dayanışma
etkinliği, dün Nürnberg'de gerçekleştirildi. Saat 18:00'da başlayan etkinlik,
aynı zamanda yapımı devam eden Erzincan Cemevi'ne destek olmak için Almanya
Alevi Birlikleri Federasyonu Bavyera eyalet yöneticilerinin katılımıyla
organize edildi.</p>
<p>Tüm sanatçıların dayanışmak için geldiği etkinliğe yüzlerce kişi katıldı.
Altıyüz kişilik salonu dolduran kitle coşkulu bir şekilde destek verdi.<br />
Alevi kurumları temsilcileri yaptıkları konuşmalarda; önümüzdeki dönemde
Alevileri bekleyen tehlikelere ve 14 Mayıs'ta yapılacak seçimlere ilişkin
konuşmalar yaptı. Alevi toplumunun örgütlü gücünü büyütmesi gerektiğini
açıkladılar. Faşist TC'ye karşı tüm demokrasi güçleriyle birlikte mücadele
verilmesi çağrısı yaptılar. ,</p>
<p>Nürnberg ve çevresinden bir çok devrimci demokrat kurum da geceye destek
verdi. Partizan taraftarları, gerek kitlesel katılım olarak gerekse de gecede
aldığı görevleri yerine getirmede dayanışmacı bir pratik sergiledi. Ayrıca
Partizan taraftarlarının açtığı stand ilgiyle karşılandı. Komünist Önder
İbrahim Kaypakkaya'yı anmak için 20 Mayıs'ta yapılacak ortak gecenin anons
edilmesi alkışla karşılık buldu.<br />
Katılımcı sanatçılar bir birinden güzel eserlerini kitleye sundular.<br />
Gezi direnişinden buyana Nürnberg'de yapılan en kitlesel etkinlik oldu.
Birlikte iş yapmanın, kurumlar arası dayanışmanın ve dostluğun öne çıktığı bir
gece oldu.</p>
<p><a href="https://www.atik-
online.net/wp-
content/uploads/2023/01/1c18335f-3c66-41fe-8ae4-c545e16f7e49.jpg"><img alt="" src="../Images/1c18335f-3c66-41fe-8ae4-c545e16f7e49-300x135.jpg" /></a></p>
<p><a href="https://www.atik-
online.net/wp-
content/uploads/2023/01/7d3fb980-b1fc-4634-a67d-94ca6ca813fd.jpg"><img alt="" src="../Images/7d3fb980-b1fc-4634-a67d-94ca6ca813fd-300x135.jpg" /></a></p>
<p><a href="https://www.atik-
online.net/wp-
content/uploads/2023/01/e8587f3d-14e5-465c-9f3b-8b29f8b7879c.jpg"><img alt="" src="../Images/e8587f3d-14e5-465c-9f3b-8b29f8b7879c-300x135.jpg" /></a></p>
<p>Source: <a href="https://www.atik-online.net/blog/nuernbergde-dayanisma-gecesi">https://www.atik-online.net/blog/nuernbergde-dayanisma-gecesi</a></p>