<h1>pc 28 gennaio - Riprendiamo lo Speciale Brasile con i contributi di valutazione e indicazioni dei compagni brasiliani dal giornale A Nova Democracia -</h1>
<p>Author: maoist</p>
<p>Time: 2023-01-29T06:49:00+01:00</p>
<p>Images: ['<a href="https://anovademocracia.com.br/images/Banner_Portal_ed_semanal_26_.jpg">Banner_Portal_ed_semanal_26_.jpg</a>']</p>
<!--METADATA-->

<p><strong>EDITORIALE SETTIMANALE - LA TESTA DEL SERPENTE GOLPISTA</strong> ****</p>
<p><img alt="" src="../Images/Banner_Portal_ed_semanal_26_.jpg" /></p>
<p>Ammiraglio Garnier Santos, ex comandante della Marina. Foto: Pedro
Ladeira/Folhapress</p>
<p>Secondo un giornalista della CNN, con informazioni trapelate dietro le quinte,
l'Alto Comando dell'Esercito ha discusso, durante le riunioni di novembre, se
prendere o meno l'iniziativa per un "intervento militare" prima
dell'insediamento di Luiz Inácio. Sempre secondo il monopolio della stampa, a
maggioranza, i generali reazionari hanno concluso che non era il momento di
portare a termine il colpo di stato. L'informazione dà conto anche del fatto
che uno degli uomini che principalmente hanno gestito la propaganda golpista
sarebbe Walter Braga Netto, generale a quattro stelle della riserva e
candidato a vicepresidente sulla lavagna di Bolsonaro, il debole. Ovviamente,
il generale ha negato, ma non ha convinto.</p>
<p>Il mezzo statunitense in Brasile sottolinea anche che nella Marina c'era
maggiore sostegno per la rottura istituzionale, allora capeggiata
dall'ammiraglio Garnier Santos - lo stesso che, arrabbiato, non partecipò
nemmeno alla cerimonia in cui avrebbe passato il comando. La giornalista
Marcela Matos, della rivista Veja, riferisce anche che ci sono commenti dietro
le quinte del nuovo governo su un'articolazione che coinvolgeva i marines, che
sarebbero stati mobilitati per iniziare una rivolta come scintilla del
movimento golpista. L'iniziativa è stata interrotta, in quanto non ci sarebbe
stata unità nell'Alto Comando delle Forze Armate (ACFA). Fu per questo motivo
che il generale Braga Netto consigliò agli accampati che chiedevano un colpo
di stato militare a Brasilia di aspettare e "non perdere la fede"?</p>
<p>Secondo la CNN, per questo motivo, a novembre, le foto di cinque ufficiali
generali delle Forze Armate sono state diffuse dall'estrema destra con la
frase: "generali-anguria che hanno impedito l'intervento militare" (angurie,
cioè "verdi fuori, rosse all'interno").</p>
<p>Il giornalista ultra-reazionario William Waack riferisce anche che, secondo
fonti dell'ACFA, i generali hanno, fondamentalmente, due opinioni sulle
elezioni: una parte, francamente minoritaria, ritiene che ci siano stati
brogli elettorali, e la stragrande maggioranza ritiene - letteralmente - che
"le elezioni sono state strane", cioè che ci sarebbe stata un'interferenza
della Corte Suprema nel processo elettorale e prima di esso a favore di Lula.</p>
<p>Nell'essere tutto vero - e nulla indica che sia tutta una menzogna - si tratta
di un messaggio forte: le Forze Armate reazionarie sono, infatti, convinte che
potrebbero dover portare a termine un colpo di stato militare, e la divergenza
sta nella definizione del momento e della situazione. Del resto, la logica
dice che se l'ACFA avesse considerato un principio di non intervento, non ne
avrebbe discusso come possibilità (per non parlare della difesa esplicita,
sempre fatta in caserma, anche pubblicamente, che le Forze Armate avrebbero un
mandato per intervenire).</p>
<p>Il fatto è che la maggioranza dell'ACFA - destra egemonica - non vuole
<em>sbagliare sui tempi,</em> perché un frettoloso colpo di stato militare può
sollevare un mare di masse in risposta e minare il suo piano
controrivoluzionario, quello di essere riconosciuto dalle Forze Armate come un
potere moderatore, una condizione per combattere meglio le masse
rivoluzionarie che inevitabilmente si solleveranno. Ma così come sa che non
può sbagliare <em>il tempismo</em> , è anche convinta che, meglio prima che poi,
dovrà lanciarsi a portare al termine il colpo di Stato. Questo perché le Forze
Armate reazionarie sono, in Brasile, non solo la spina dorsale del vecchio
Stato che sostiene, ma sono anche guardiani di questo Stato e dei suoi governi
di turno e, pretendono, dell'intera nazione.</p>
<p>Le tanto propagandate rimozioni e dimissioni del personale militare, in
particolare dell'ex comandante dell'esercito, Giulio Cesare Arruda, per
insubordinazione dato che si è rifiutato di rispettare l'ordine del presidente
della repubblica, e la sostituzione con il nuovo comandante Tomás Miguel
Ribeiro Paiva vengono utilizzate, ancora una volta, per ingannare l'opinione
pubblica sul paese che vive nella normalità. Al contrario, il Brasile sta
affrontando la più grande crisi militare degli ultimi 35 anni.</p>
<p>Pertanto, è totale stupidità credere che la nomina di questo o quel generale,
nella pelle di agnello, alla posizione di comandante possa trasformare la
natura stessa delle forze - il cui ACFA, addirittura, è formato sullo stesso
manuale e corsi definiti dal regime militare, corsi che il governo
dell'opportunismo, in più di 14 anni di amministrazione, non ha mai avuto il
coraggio da cambiare, e nemmeno lo farà ora. Questo movimento golpista, che
ormai tutti vedono, è stato concepito nell'ACFA come risposta preventiva alla
probabile rivolta popolare rivoluzionaria di fronte alla putrefazione
politica, come parte della decomposizione della base economica alla quale è
arrivato il sistema di sfruttamento e oppressione attualmente vigente, e che
le ribellioni del 2013/14 prefiguravano si sarebbero avverate. Questo
movimento golpista è nato nel 2015 con la crociata anti-corruzione,
inizialmente incoraggiato da <em>Rede Globo</em> con la sua <em>ode</em> a Lava Jato, e ora
dà i suoi primi respiri di età adulta. Non c'è rimedio per questo: si deve
seppellire.</p>
<p>Tutti i democratici e i rivoluzionari devono aver chiaro che è necessario
combinare la denuncia con la mobilitazione delle masse, educarle nello spirito
di garantire le loro libertà democratiche come la pupilla dei propri occhi,
perché sono le migliori condizioni per la difesa dei loro interessi più
sentiti. Questo è possibile solo sollevandosi in difesa dei propri interessi
fondamentali, strappando alla reazione miglioramenti nelle proprie condizioni
di vita attraverso l'occupazione della terra nelle campagne, scioperi e cortei
nelle città, in breve, nella lotta di classe: lì impareranno a smascherare
golpisti di alto profilo, che mangiano allo stesso tavolo di sfruttatori e
saccheggiatori del popolo e della nazione mentre ruttano patriottismo a buon
mercato per la piccola borghesia ipnotizzata. Inoltre, e soprattutto: è
necessario istruire le masse, specialmente gli operai, i contadini, i giovani
e i piccoli proprietari che possono avere tutto ciò che vogliono oggi e molto
di più con il potere politico nelle loro mani, strappando la forza ai loro
aguzzini, nella lotta prolungata e piena di peripezie, per la Rivoluzione
democratica, agraria e antimperialista.</p>
<p>**</p>
<h2>Editorial semanal - A cabeça da serpente golpista</h2>
<p>Almirante Garnier Santos, ex-comandante da Marinha. Foto: Pedro
Ladeira/Folhapress</p>
<p>Segundo jornalista da CNN, com informações vazadas de bastidores, o Alto
Comando do Exército discutiu, durante reuniões em novembro, se tomaria ou não
a iniciativa por uma "intervenção militar" antes da posse de Luiz Inácio.
Ainda segundo o monopólio de imprensa, por maioria, os generais reacionários
concluíram que não era o momento de culminar o golpe. A informação dá conta
ainda que um dos principais articuladores da propaganda golpista seria Walter
Braga Netto, general de quatro estrelas da reserva e candidato a vice-
presidente na chapa de Bolsonaro, o Fraco. Obviamente, o general negou, mas
não convenceu.</p>
<p>O veículo norte-americano no Brasil ainda destaca que na Marinha foi onde
houve maior apoio à ruptura institucional, então chefiada pelo almirante
Garnier Santos - o mesmo que, irado, sequer participou da cerimônia na qual
passaria o comando. A jornalista Marcela Matos, da revista Veja,</p>
<p>informa ainda que corre comentários nos bastidores do novo governo sobre uma
articulação que envolveu fuzileiros navais, que estariam mobilizados para
iniciar um motim como chispa do movimento golpista. A iniciativa foi abortada,
pois não teria havido unidade no Alto Comando das Forças Armadas (ACFA). Teria
sido por essa razão que o general Braga Netto aconselhou acampados que pediam
golpe militar em Brasília a esperar e "não perder a fé"?</p>
<p>Segundo a CNN, por essa razão, em novembro, fotos de cinco oficiais-generais
das Forças Armadas foram divulgadas pela extrema-direita com a sentença:
"generais melancias que impediram intervenção militar" (melancias, quer dizer,
"verde por fora, vermelho por dentro").</p>
<p>O jornalista ultrarreacionário William Waack também informa que, segundo
fontes no ACFA, os generais têm, fundamentalmente, duas opiniões sobre as
eleições: uma parte, francamente minoritária, considera que houve fraude
eleitoral, e a imensa maioria considera - em palavras literais - que "as
eleições foram estranhas", isto é, que teria havido ingerência do STF no
processo eleitoral e antes dele em favorecimento de Lula.</p>
<p>Em sendo tudo verdade - e nada indica que seja de tudo mentira - trata-se de
uma forte mensagem: as Forças Armadas reacionárias estão, de fato, convictas
de que poderão ter que culminar um golpe militar, sendo a divergência a
definição quanto ao momento e situação. Afinal, a lógica diz que se o ACFA
considerasse um princípio a não-intervenção, não a teria discutido como
possibilidade (sem mencionar a defesa explícita, desde sempre feita na
caserna, inclusive publicamente, de que as Forças Armadas supostamente têm
mandato para intervir).</p>
<p>Fato é que a maioria do ACFA - direita hegemônica - não quer errar o <em>tim</em>
<em>ing</em> , porque um golpe militar precipitado pode levantar um mar de massas em
resposta e prejudicar seu plano contrarrevolucionário de ser reconhecidas as
Forças Armadas como Poder Moderador, condição para melhor combater as massas
revolucionárias que se sublevarão inevitavelmente. Mas, assim como sabe que
não pode errar o <em>tim</em> <em>ing</em> , igualmente está convicta de que, mais cedo do
que tarde, terá que se lançar no culminar do golpe de Estado. Isto porque as
Forças Armadas reacionárias são, no Brasil, não somente medula do velho Estado
o qual sustenta, são também tutoras deste Estado e de seus governos de turno
e, pretendem-se, de toda a Nação.</p>
<p>As tão propaladas remoções e demissões de militares, em especial do ex-
comandante do Exército, Júlio César Arruda, por insubordinação ao recusar-se
cumprir ordem do presidente da república, e a substituição pelo novo
comandante Tomás Miguel Ribeiro Paiva estão sendo usadas, uma vez mais, para
enganar a opinião pública de que o País vive normalidade. Longe disso, o
Brasil está diante da maior crise militar dos últimos 35 anos.</p>
<p>Sendo assim, é estupidez completa crer que a nomeação deste ou daquele general
com pele de cordeiro para o cargo de comandante possa transformar a natureza
mesma das forças - cujo ACFA, inclusive, é formado na mesma cartilha e cursos
definidos pelo regime militar, cursos que o governo do oportunismo, em mais de
14 anos de gerência, nunca teve peito para mudar, e tampouco o fará agora.
Esse movimento golpista, que agora todos veem, foi concebido no ACFA como
resposta preventiva ao provável levantamento popular revolucionário ante a
putrefação política, como parte da decomposição da base econômica a que chegou
o sistema de exploração e opressão secularmente vigente, e que as rebeliões de
2013/14 prenunciavam de ocorrer. Ele veio à luz em 2015 com a cruzada
anticorrupção, a princípio incentivado pela Rede Globo com sua <em>ode</em> à Lava
Jato, e agora já dá seus primeiros suspiros de vida adulta. Não há remédio que
dê jeito: é preciso enterrá-lo.</p>
<p>Todos os democratas e revolucionários devem ter em claro que é preciso
combinar a denúncia com a mobilização de massas, educá-las no espírito de
assegurar suas liberdades democráticas como a menina dos olhos, porque são as
melhores condições para a defesa dos seus interesses mais sentidos. Isso só é
possível através de levantá-las em defesa dos seus interesses básicos, por
arrancar da reação melhorias em suas condições de vida através das tomadas de
terras no campo, greves e marchas nas cidades, enfim, na luta de classes: ali
aprenderão a desmascarar golpistas de alto coturno, que comem na mesma mesa
dos exploradores e saqueadores do povo e da Nação enquanto arrotam patriotismo
barato para a pequena burguesia hipnotizada. Ademais, e principalmente: é
preciso instruir as massas, especialmente os operários, camponeses, juventude
e pequenos proprietários de que poderão ter tudo o que querem hoje e muito
mais com o Poder político nas mãos, arrancado à força de seus algozes, na luta
prolongada e cheia de peripécias, pela Revolução Democrática, Agrária e Anti-
imperialista.</p>
<p>Source: <a href="https://proletaricomunisti.blogspot.com/2023/01/pc-28-gennaio-riprendiamo-lo-speciale.html">https://proletaricomunisti.blogspot.com/2023/01/pc-28-gennaio-riprendiamo-lo-speciale.html</a></p>