<h1>pc 29 gennaio: Il vero terrorismo è quello dello Stato di Israele</h1>
<p>Author: fannyhill</p>
<p>Time: 2023-01-29T10:21:00+01:00</p>
<p>Images: ['<a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjXvuhJRT2aCNfHbkL5j4bEQI8AYeX1a1surfbc3rEgAb_KmflNsmFP7T3JGV908n0AQhKDt6Tf1xdFeU8B5yGn3bnIs7nusNbEwjPry2nnAZiP-1z4rb2fcBhvAFP5SaT5-2hW3LO78FTvnGHCvoErqwxj5Y_ZefIA_-vZQ_lao1impiaYEkqj_8urfQ/w400-h227/israele.jpg">israele.jpg</a>']</p>
<!--METADATA-->

<p><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjXvuhJRT2aCNfHbkL5j4bEQI8AYeX1a1surfbc3rEgAb_KmflNsmFP7T3JGV908n0AQhKDt6Tf1xdFeU8B5yGn3bnIs7nusNbEwjPry2nnAZiP-1z4rb2fcBhvAFP5SaT5-2hW3LO78FTvnGHCvoErqwxj5Y_ZefIA_-
vZQ_lao1impiaYEkqj_8urfQ/s298/israele.jpg"><img alt="" src="../Images/israele.jpg" /></a></p>
<p>Il novo governo israeliano, ancor più di prima, è sionista di stampo
neonazista, massacra il popolo palestinese con la complicita' di imperialismo,
Onu, Usa/Nato, Italia compresa.</p>
<p>I proletari e il popolo palestinese, i ragazzi, le loro organizzazioni
riconosciute hanno l'urgenza e la necessita' di usare la lotta di massa e la
lotta armata per fermare tutto questo, e mantenere aperta la via della
liberazione nazionale sociale.</p>
<p>Ad essi deve andare la massima solidarieta'.</p>
<p>Source: <a href="https://proletaricomunisti.blogspot.com/2023/01/pc-29-gennaio-il-vero-terrorismo-e.html">https://proletaricomunisti.blogspot.com/2023/01/pc-29-gennaio-il-vero-terrorismo-e.html</a></p>