<h1>MPP: Tuomitkaamme Dina Boluarten taantumushallituksen kansanmurhainen repressio</h1>
<p>Author: mats</p>
<p>Time: 2023-01-30T99:00:00</p>
<p>Images: ['<a href="https://punalippu.noblogs.org/files/2023/01/popular1-300x197.png">popular1-300x197.png</a>']</p>
<p>Categories: ['Yleinen']</p>
<!--METADATA-->

<p><img alt="" src="../Images/popular1-300x197.png" /></p>
<p>Perun tapahtumilla on suurta merkitystä maan sisällä ja laajemmin koko
kansainväliselle kommunistiselle liikkeelle, sillä Perun Kommunistinen Puolue
aloitti kampanjan maoismin puolesta 41 vuotta sitten huipentuen viime vuonna
Kansainvälisen Kommunistien Liiton (KKL) perustamiseen.</p>
<p>Suomessa revisionistit puolustelevat rondero Castillon hallitusta. Tämän he
ovat tehneet esimerkiksi "Tiedonantajan" viime numerossa sekä Euroopan
vasemmiston yhteiskannanotossa. Julkaisemme tämän epävirallisen suomennoksen
tiedottaaksemme Perun tapahtumista ja vastustaaksemme revisionistien valheita.</p>
<p>Suomennos on epävirallinen, alkuperäinen kirjoitus on luettavissa espanjaksi
<a href="https://vnd-peru.blogspot.com/2023/01/mpp-condenamos-la-represion-
genocida_20.html">täällä</a>.</p>
<p><em>Kaikkien maiden proletaarit, liittykää yhteen!</em></p>
<p><strong>Tuomitsemme Dina Boluarten taantumushallituksen kansanmurhainen repressio</strong></p>
<p>Perun kansanliike (Movimiento Popular Perú [MPP]), Perun Kommunistisen
Puolueen (PKP) generoima organismi puolueen ulkomaantyötä varten, ohjaa
proletariaattia ja Perun kansaa sekä proletariaattia ja maailman kansoja
ilmaisemaan kantansa viimeaikaisimmista tapahtumista Perussa:</p>
<p>Syvällä luokkavihalla tuomitsemme, paheksumme ja merkitsemme tulella
kansanmurhaisen repression, jonka on päästänyt valloilleen uusi
taantumuksellinen hallitus, jonka päänä on ollut vastavallankumouksellinen
opportunisti Dina Boluarte sen jälkeen, kun hänestä tuli maanomistaja-
byrokraattisen vanhan valtion presidentti palveluksessa imperialismille,
pääasiassa jenkkiläiselle, korvaten vastavallankumouksellisen opportunisti
Pedro Castillo Terronesin taantumuksellisen hallituksen. Kansanmurhainen
repressio, jonka Dina Boluarten hallitus on määrännyt ja jota toimeenpanevat
poliisi- sekä asevoimat, on aiheuttanut noin 50 kuollutta, satoja
haavoittuneita ja pidätettyjä, hallituksen ensimmäisen kuukauden aikana,
korkeimpana ja tuomittavimpana pisteenään tähän asti kohtuuton ja
epäoikeutettu joukkomurha, jonka vanhan valtion repressiovoimat suorittivat
Juliacan kaupungissa (Punossa), jossa rekisteröitiin 17 kuollutta protesteissa
9. tammikuuta.</p>
<p>Boluarte johtaa vanhaa valtiota ja sen myötä fasistista, kansanmurhaista ja
maanpetoksellista hallintoa, joka astui voimaan huhtikuussa 1992 niin
kutsutulla "Fujimorin kaappauksella omassa hallinnossaan". Seuraten Puolueen
havaitsemaa kehityksen lakia, Boluarten uusi hallitus on nälkäisempi,
maanpetoksellisempi ja kansamurhaisempi kuin kaikki aiemmat. Nykyinen
hallitus, toistaen taantumuksellisen repression mustimpia sivuja, antaa
joukoille tällä hetkellä niin sanotusti isän kädestä, koska kansamurhaiset
asevoimat ovat eksperttejä taistelussa aseettomia ihmisiä vastaan, talonpoikia
vastaan. Kuten Puolue on sanonut: "he ovat eksperttejä voitoissa aseetonta
kansaa vastaan", se on se, mitä he ovat, ja kansamme on todellinen,
konkreettinen ja elävä todiste. Kansa näyttää luokkavihaa kansamurhaisia
asevoimia vastaan, koska kansanmurhaajat tähtäävät hyökkäyksensä pääasiassa
kansaa vastaan, joukkoja vastaan. Kansansota, jonka Puolue aloitti 17.
toukokuuta 1980, on paljastanut vanhan valtion ja sen siviili- ja
sotilashallitukset sekä -instituutiot, jotka soveltavat kansanmurhan
politiikkaansa aseettomia joukkoja vastaan.</p>
<p>Kansanmurhaaja Boluarten johtaman taantumuksellisen hallituksen repressio
tapahtuu keskellä taantumuksellisten fraktioiden kilpataistelua vanhan valtion
hallitusvallasta ja sen restrukturoimisesta uuden perustuslain kautta, jotta
se voisi harjoittaa paremmin repressiota joukkojen taistelua ja vallankumousta
vastaan, ja tähän osallistuvat kummankin fraktion edustajat: ex-presidentti
Castillo yhtäältä ja toisaalta parlamentaarinen enemmistö, tavoittelee
asevoimien tukea suorittaakseen oman valtiokaappauksensa, Tämän vuoksi
parlamentin enemmistö pyrkii tekemään parlamentista linnoituksensa, vaihtaen
Lady Camonesin ex-kenraali Williamsiin (parlamentin nykyinen puhemies).
Samoista syistä vastavallankumouksellinen rondero Castillo nimitti
puolustusministeriksi fasistisen Antauro Humala Tasson, armeijan jäsenen
(majuri – huomautus kääntäjän), joka vapautettiin vankilasta. Kaikki tämä
tapahtui muutamia kuukausia ennen epäonnistunutta "Castillon kaappausta omassa
hallinnossa" ja parlamentaaris-sotilaallista kaappausta, joka nimitti
presidentin virkaan Boluarten ja poistaa virastaan Castillon.</p>
<p>Me vahvistamme jälleen PKP:n havainnon, että hallitsevat luokat ja niiden
rakas jenkki-imperialismi, käyttävät taantumuksellisia asevoimia ylläpitämään
maanomistaja-byrokraattista valtiotaan, harjoittavat jatkuvasti
luokkadiktatuuriaan (suurporvariston ja maanomistajien diktatuuria), käyttäen
de facto jompaakumpaa sotilashallituksia tai vaaleista nousseita hallituksia,
niin kutstuttuja perustuslaillisia hallituksia.</p>
<p>Huippukerrosten kriisi ilmenee selvästi nyt kun elämme vallankumouksellisen
tilanteen kehityksessä. Lenin on mestarillisesti luonnehtinut sen kolmen
huomion kautta: "1) Hallitsevien luokkien on mahdotonta säilyttää herruutensa
muuttumattomana; vallitsee jonkinlainen 'huippukerrosten' kriisi, hallitsevan
luokan politiikan kriisi, se synnyttää halkeaman, johon tunkeutuu sorrettujen
luokkien tyytymättömyys ja suuttumus. Vallankumouksen alkamista varten ei
tavallisesti riitä se, että 'pohjakerrokset eivät tahdo', vaan sitä varten on
välttämätöntä vielä se, että 'huippukerrokset eivät voi elää vanhaan tapaan.
2) Sorrettujen luokkien puutteen ja kurjuuden kärjistyminen tavallista
tuntuvammaksi. 3) Joukkojen aktiivisuuden huomattava voimistuminen
yllämainituista syistä, joukkojen, jotka 'rauhan' aikana sallivat rauhassa
riistää itseään, mutta jotka myrskyisinä aikoina vetää itsenäiseen
historialliseen toimintaan niin kriisin synnyttämä tilanne yleensä kuin myös
itse 'huippukerroskin'." (II Internationalen vararikko).</p>
<p>Tilanteen kehitys maassa osoittaa, että tuo huippukerrosten kriisi avaa nyt
tosiaan halkeaman, johon tunkeutuu sorrettujen luokkien tyytymättömyys ja
suuttumus. Se on tosiasia, että joukot ovat aloittaneet päivä päivältä
voimallisemman vastustuksen, kuten viime vuonna elinkustannusten ja hintojen
noustessa. Joukot ovat astumassa kuohuntavaiheeseen, kaikki tämä heikon ja
epäonnistuneen hallituksen aikana, kuten oli myös Castillon hallitus, joka ei
täyttänyt eikä voinut täyttää vaalilupauksiaan. Mutta tilanne ei muutu paljon
taantumuksen kannalta, sen vaikeudet vain kasvavat. Tämä on hyväksi
vallankumoukselle, se on hyväksi etenemiselle puolueen yleisen
uudelleenorganisoinnin tehtävässä kansansodassa ja kansansotaa varten. Tämän
kaltaisissa tilanteissa, hallituksen vaihtuessa, tietäen, että uusi hallitus
on oleva paljon huonompi joukoille, on välttämätöntä mobilisoida taisteluun,
verellä valloitettujen joukkojen oikeuksien, vapauksien ja etuisuuksien
puolustamiseksi, jotta se kohotettaisiin poliittiseksi taisteluksi. Se on
tehtävä jotta tulisi täytettyä puolueen yleisen uudelleenorganisoinnin
viivästynyt tehtävä ja jatkettaisiin kehittäen uusdemokraattista
vallankumousta kansansodalla.</p>
<p>Koskien luokkasisältöä, joka on revisionismin ja opportunismin nostamilla
tunnuksilla "uusista vaaleista ja kansanäänestyksestä perustuslakia säätävää
kokousta ja uutta perustuslakia varten":</p>
<p>Marxilaisuus on sillä kannalla, että vaaleja on käytettävä propagandaa sekä
agitaatiota varten, ja revisionistit ovat tätä vastaan, kannattaen vaalien
käyttämistä parlamenttipaikkojen voittamiseksi, palvellakseen vanhan valtion
restrukturointia, pyrkien korjaamaan vanhan ja raihnaisen valtion,
käyttääkseen sen keskitettyä voimaa, taistellakseen vallankumousta vastaan.
Tämä on luokkasisältönä noissa kriteereissä, joita kaikenlaiset revisionistit,
pääasiassa OOL-Movadef tekevät kaikissa muodoissa, levittäen sanomaansa
joukkojen oikeutetuissa protesteissa laulaen ja tanssien.</p>
<p>Ei pidä unohtaa, että revisionismi Perussa käytti puoluetta keskittääkseen sen
vaaleihin ja nosti Pradon ja Bustamanten hallituksia, jotka edustivat
comprador-porvaristoa; myöhemmin Belaunden ensimmäistä hallitusta, joka edusti
byrokraattista porvaristoa; sittemmin he tukivat Velazcoa ja Alán Garcian
ensimmäistä hallitusta, byrokraattien edustajia.</p>
<p>Vuoden 2021 yleisvaaleissa he käyttivät jälleen mestarinsa Jorge del Pradon
keinoja. He nostivat vastavallankumouksellisen opportunistin rondero Pedro
Castillon hallitusvaltaan, Perú Libren toimiessa sateenvarjona. Perú Libre on
Cerrónin perheen omaisuutta. Tämä Pedro Castillo Terronesin kansanmurhaisen
taantumushallituksen osana, pääministerinään Bellido ja työministerinään Iber
Maraví (OOL), he suorittivat teloittajan roolin, teloituksen kohdistuen
nykyisen ajanjakson suurimpaan marxisti-leninisti-maoistiin, puheenjohtaja
Gonzaloon, vallankumouksen ja puolueen suureen johtajaan.</p>
<p>Marxilaisuus on opettanut meitä käyttämään vaaleja propagandana ja
agitaationa, meidän tapauksessa, käyttämään niitä kansansodan kehittämisen
hyväksi, tällä hetkellä täyttämään puolueen yleisen uudelleenorganisoinnin
tehtävän, murskaten revisionismin kansansodassa ja kansansotaa varten.</p>
<p>Joukkojen toiminnan hillitsemiseksi, niitä houkutellaan "puolustamaan
demokratiaa" ja "puolustamaan miljoonien äänestystä", "kansanäänestyksellä
valittua presidenttiä". Tähän on myös lisätty "taistelu uuden perustuslain
puolesta". Näin ne toimivat muovatakseen korporatiivisen valtion,
kilpataistelussa toisen fraktion kanssa, suurporvariston comprador-fraktion
kanssa. Kilpataistelussa, joka johtaa kasvattamaan kansan vastaista
repressiota. Kuten näemme näiden päivien tapahtumien kehityksessä.</p>
<p>Tämä on se mikä on tehtävä selväksi joukoille. On olemassa suunnitelma jota
revisionistit, opportunistit ja urapoliitikot sekä kaikki muut sellaiset
täyttävät ylläpitääkseen vanhan järjestyksen. He ovat vastuullisia
kansanmurhasta, nälästä, kurjuudesta ja maan myymisestä imperialismille. He
tulevat pitäytymään suunnitelmassa, koska heillä on opportunistinen itsensä
myymisen asenne, jota ilman he eivät olisi opportunisteja. Yksilöt vaihtuvat,
nimet muuttuvat, mutta lakeijamaisuus ja opportunismi ovat aina olemassa,
lakeijamaisuus on olemassa ja tulee olemaan kunnes se uppoaa, koska porvarit
ja imperialistit tarvitsevat sitä ja kapitalismi synnyttää sen. Näin ollen tuo
on vanhan järjestyksen puolustamista, se keskittyy olemaan tukijana, olemaan
vaali-intoilijoita [electoreristas], ja tänään sen toiminta on kansansotaa
vastaan, keskittyen haluun likvidoida PKP.</p>
<p>Maan tapahtumien tulee palvella Dina Boluarten uuden kansanmurhaisen
taantumushallituksen paljastamista ja samalla kertaa sen tulisi auttaa
paljastamaan revisionismi ja sen epäonnistunut kansanmurhainen
taantumushallitus, jota johti opportunisti rondero Castillo ja hänen
palvelijansa OOL revisionistinen ja kapitulationistinen, sekä Perú Libren,
Movadefin, Fenateperún, "opettajien blokin" (vuoden 2017 lakot) ja
kaikenlaisten rottien revisionistinen joukkio samoin kuin myös sen ansamainen
revisionistinen lippu "taistelusta kansanäänestyksen puolesta perustuslakia
säätävää kokousta ja uutta perustuslakia varten", joka pyrkii vanhan valtion
restrukturointiin voidakseen täyttää kolme taantumuksellista tehtäväänsä.</p>
<p>Luokkataistelu kärjistyy, ja joukoilla on koko ajan suurempi tarve taistella.
Joukot ovat valmiita taisteluun.</p>
<p>Kansansota, ylitti monimutkaisen ja vaikean tilanteen sen jälkeen, kun
puheenjohtaja Gonzalo ja osa johdosta joutui sotavangiksi. Myöhemmin
revisionistisen ja kapitulationistisen oikeisto-opportunistisen linjan (OOL)
rotat tekivät petoksen vallankumoukselliselle sodalle, ja alkoivat palvelemaan
CIA:n ja Perun taantumuksen "rauhankirjeiden" hölynpölyä, tuhotakseen PKP:n ja
kansansodan. Nämä rotat ryhtyivät hyökkäämään puheenjohtaja Gonzaloa, puolueen
ja vallankumouksen suurta johtajaa vastaan, sekä luopuivat marxismi-leninismi-
maoismista, gonzalon ajattelusta. Tämä tilanne nostaa tarpeen PKP:n yleiselle
uudelleenorganisoimiselle kansansodan johtamiseksi.</p>
<p>Keskellä monimutkaisia tilanteita Perun kommunistien on täytettävä
kiireellinen ja viivästynyt puolueen yleisen uudelleenorganisoinnin tehtävä.
Tällä tilanteella on heijastevaikutuksia joukkojen taisteluun ja vielä enemmän
maailmantilanteeseen, jossa kohtaamme uuden vallankumousten jakson, jonka
myötä tulee joukkojen suuri räjähtävyys ja aktiivisuus, kuten puheenjohtaja
Gonzalo on opettanut.</p>
<p>Tätä vastaavasti meidän on vahvistettava jälleen itsemme puheenjohtaja
Gonzalon suuressa johtajuudessa ja kaikkivoipassa gonzalon ajattelussa
tehtävän täyttämiseksi, kansansodan kehittämiseksi, jotta voidaan kulminoida
proletariaatin johtama demokraattinen vallankumous, uusdemokraattinen
vallankumous, joka on muodostava, perustavanlaatuinen ja ratkaiseva osa koko
maailman proletaarista vallankumousta.</p>
<p>Joukkojen räjähtävyys voimistuu kaikilla rintamilla. Peru on tyytymättömyyden
leimaama maa, ja se tulee kasvamaan entisestään, se ilmenee siinä kun
vastavallankumouksellinen Pedro Castillo Terronesin johtama hallitus
syrjäytetään ja parlamentti lahtaa kansalaisia Bolívarin aukiolla kuin sikoja.
Tyytymättömyys ilmenee myös siinä kuinka joukot vastustavat Dina Boluarten
uutta kansanmurhaista taantumushallitusta. Tilanne, jota taantumus ja
revisionismi käyttävät taantumuksellisessa kilpataistelussaan, johtaa
suurempaan repressioon kansaa sekä vertaan vuodattavia joukkoja vastaan.
Vastustus Dina Boluarten kansanmurhaisen taantumushallituksen ja Perun vanhan
valtion kansanmurhaisten repressiovoimien harjoittama repressio.  Vastustus
hätätilan julistaminen tämän taantumushallituksen toimesta ja kätytöönotto
kansanmurhaisten asevoimien eri verukkeilla.</p>
<p>Puheenjohtaja Gonzalo on sanonut meille edetessään nykyisen kaltaiseen
tilanteeseen:</p>
<p>"Joutuisivatko joukot epätoivoon? He synnyttävät spontaaneja liikkeitä, jotka
ovat vaarallisia, koska niitä voidaan käyttää väärin, hyödyllisiä sen suhteen,
että pystyy herättämään joukoissa enemmän tarvetta taistella ja meidän
velvollisuuttamme ottaa selko tästä räjähtävästä tilanteesta ja käyttää se
luokan ja kansan omien etujen mukaisesti, kansansodan hyväksi."</p>
<p>Opportunistit ja revisionistit, pääasiassa revisionistinen ja
kapitulationistinen OOL tekevät päinvastoin, he teeskentelevat nostavansa
joukot käyttäen vaaliautoa ja "perustuslakia säätävää kokousta uutta
perustuslakia varten" palvellakseen rakkaidensa imperialistien ja
taantumuksellisten etuja. Kommunistien tehtävänä on taistella toivottomia
opportunisteja vastaan, mutta joukkoja ei saa tuomita, emme voi sanoa, että
joukot ovat opportunisteja. Koska heitä on petetty, täytyy meidän saada heidät
avaamaan silmänsä ja näkemään, todellisuus on hyvä opettaja, se on kriisi tai
luokkataistelu, joka on voimakkaampi joka päivä, nykyisen kansanmurhaisen
Boluarten hallituksen sama taantumuksellinen väkivalta, kaikki tämä auttaa
joukkoja ymmärtämään, mutta ei riitä, että he ymmärtävät kielteisen kautta,
vaan heidät on saatava ymmärtämään myönteisen kautta, esitettävä heille, mitä
on tehtävä ja mikä on kurssi, jota on seurattava.</p>
<p>Perun kansanliike</p>
<p>Tammikuu 2023</p>
<p>Source: <a href="https://punalippu.noblogs.org/post/2023/01/30/3859/">https://punalippu.noblogs.org/post/2023/01/30/3859/</a></p>