<h1>Devrimciler Mezar Başlarında Anıldı</h1>
<p>Author: ['muhabirhasan']</p>
<p>Time: 2023-01-30T99:00:00</p>
<p>Description: ULM|30.01.2023| Göppingen ve Ulm Şehir mezarlıklarında bulunan devrimci-sosyalistler mezarları ziyar...</p>
<p>Images: ['<a href="https://www.atik-online.net/wp-content/uploads/2023/01/anma-ulm-01-620x330.jpg">anma-ulm-01-620x330.jpg</a>', '<a href="https://www.atik-online.net/wp-content/uploads/2023/01/anma-ulm-01-300x169.jpg">anma-ulm-01-300x169.jpg</a>', '<a href="https://www.atik-online.net/wp-content/uploads/2023/01/anma-ulm-02-300x169.jpg">anma-ulm-02-300x169.jpg</a>', '<a href="https://www.atik-online.net/wp-content/uploads/2023/01/anma-ulm-03-300x225.jpg">anma-ulm-03-300x225.jpg</a>', '<a href="https://www.atik-online.net/wp-content/uploads/2023/01/anma-ulm-05-300x225.jpg">anma-ulm-05-300x225.jpg</a>', '<a href="https://www.atik-online.net/wp-content/uploads/2023/01/anma-ulm-06-620x350-1-300x169.jpg">anma-ulm-06-620x350-1-300x169.jpg</a>']</p>
<p>Categories: ['Avrupa', 'Haberler', 'Manset']</p>
<p>Type: article</p>
<!--METADATA-->

<p><img alt="" src="../Images/anma-ulm-01-620x330.jpg" /></p>
<p>ULM|30.01.2023| Göppingen ve Ulm Şehir mezarlıklarında bulunan devrimci-
sosyalistler mezarları ziyaret edildikten sonra, Tohum Kültür Merkezi’nde anma
etkinliği düzenlendi.</p>
<p>1978 yılında Ocak ayının son haftası Proleterya Partisi tarafından Parti ve
Devrim Şehitlerine adanmasıyla, Ulm bölgesinde Partizan taraftarları Parti ve
Devrim şehitlerinin mezarlarını ziyaretle birlikte Tohum Kültür Merkezi'nde
anma etkinliği düzenledi.</p>
<p>Üç ayrı şehirde bulunan mezarlıklar ziyaret edildi. Birinci Anma Göppingen’de
Sınıf Teorisi taraftarı Ali Asker Yel’in mezar başında gerçekleştirildi. Tüm
anmalarda olduğu gibi anma toprağa düşen ve kaybedilen insanlar için bir
dakikalık saygı duruşuyla başladı. Ardından Partizan temsilcisi bugün burda
bulunmanın önemini toplumsal somut örneklerle dile getirdi. Özellikle devrimci
eylem birliğin önemi ele alınarak İbrahim Kaypakkaya’nın 50.Yıl dönümü
vurgulandı. Konuşmasının ardından Sınıf Teorisi temsilcisi söz alarak İbrahim
Kaypakkaya’nın katledilişinin 50.Yıl dönümünde, birlikte yapılacak merkezi
eylemlerinin, kaybettiğimiz insanlarımız önünde ne demek olduğunu dile
getirdi. Ve bu eylemlere katılım çağrısında bulundu.</p>
<p>Anmanın ardından Wiblingen’de ilerici-demokrat dernek üyesi İzzet Ateş mezar
başında ziyaret edildi. Burada Partizan adına yapılan konuşmada örgütsel
mücadelenin neler yaratabildiğini Izzet Ateş’in kişiliğiyle sundu. Izzet
Ateş’in hiç bir gün bunun önemini unutmadığı hayatı boyunca bu mücadeleyi
desteklediğini özellikle vurgulandı.</p>
<p>Bu mezar başı anmasının ardından Ulm Dursun Çaktı mezarı ziyaret edildi.
Kitlesel katılım önünde Partizan adına yapılan konuşmada Proletarya Partisinin
tarihsel süreci ve tüm zor koşullara rağmen gerçeklere dayanarak nelerin
tekrar yaratabildiğini anmada bulunanlara sunuldu. Tüm mücadele alanlarının
içinde esas görevin, örgütlenmek ve birlikte haksızlıklara karşı mücadele
etmek görev sayılması gerektiğini dile getirildi.</p>
<p>Mezar başı anmalarının ardından programın ikinci bölümüne geçildi. Kültür
Merkezinde gerçekleştirilen bu bölümde TKP-ML Merkez komitesinin açıklamasının
okunmasının ardından komünizm ve devrim şehitleri için hazırlanan müzikal
slayt gösterildi. Etkinlikte ayrıca MLKP ve Avrupa Sürgünler Meclisi (ASM)
adına söz hakkı alınarak anma selamlandı. Yaklaşık sekiz saat süren tüm anma
programının son bölümünde sanatçı Erkan’la birlikte ağıtlar ve marşlar okundu.</p>
<p><a href="https://www.atik-online.net/wp-
content/uploads/2023/01/anma-ulm-01.jpg"><img alt="" src="../Images/anma-ulm-01-300x169.jpg" /></a></p>
<p><a href="https://www.atik-online.net/wp-
content/uploads/2023/01/anma-ulm-02.jpg"><img alt="" src="../Images/anma-ulm-02-300x169.jpg" /></a></p>
<p><a href="https://www.atik-online.net/wp-
content/uploads/2023/01/anma-ulm-03.jpg"><img alt="" src="../Images/anma-ulm-03-300x225.jpg" /></a></p>
<p><a href="https://www.atik-online.net/wp-
content/uploads/2023/01/anma-ulm-05.jpg"><img alt="" src="../Images/anma-ulm-05-300x225.jpg" /></a></p>
<p><a href="https://www.atik-online.net/wp-
content/uploads/2023/01/anma-ulm-06-620x350-1.jpg"><img alt="" src="../Images/anma-ulm-06-620x350-1-300x169.jpg" /></a></p>
<p>Source: <a href="https://www.atik-online.net/blog/devrimciler-mezar-baslarinda-anildi">https://www.atik-online.net/blog/devrimciler-mezar-baslarinda-anildi</a></p>