<h1>Trondheim: Kastet ut alenemor med barn fra kommunal leilighet</h1>
<p>Author: Tjen Folket Media</p>
<p>Description: Alenemor “Ana” (30) hadde til tross for mange forsøk ikke klart å finne bolig på det private utleiemarkedet i Trondheim. Torsdag 19. januar kastet Trondheim kommune “Ana” og sønnen hennes (6) ut av…</p>
<p>Publish Time: 2023-01-30T19:52:40+00:00</p>
<p>Modified Time: 2023-01-30T19:52:44+00:00</p>
<p>Images: ['<a href="https://tjen-folket.no/wp-content/uploads/2022/10/Trondheim_radhus-1160x694.jpg">Trondheim_radhus-1160x694.jpg</a>']</p>
<p>Tags: None</p>
<p>Category: 'Innenriks'</p>
<!--METADATA-->

<hr />
<p>Av en kommentator for Tjen Folket Media.</p>
<hr />
<p><strong>Alenemor “Ana” (30) hadde til tross for mange forsøk ikke klart å finne
bolig på det private utleiemarkedet i Trondheim. Torsdag 19. januar kastet
Trondheim kommune “Ana” og sønnen hennes (6) ut av den kommunale leiligheten
de hadde bodd i siden de kom til byen for seks år siden.  </strong></p>
<p>Avisa Nidaros har i januar skrevet om situasjonen til “Ana,” som kom til Norge
på flukt fra krig i 2016. De skriver at alenemoren studerer helse- og
oppvekstfag på videregående skole. Hun mottar nå overgangsstønad fra NAV, men
vil kunne starte lærlingtiden som helsefagarbeider og dermed få ordinær lønn
om to år.</p>
<p>“Ana” sa tidlig i desember til Nidaros:<br />
“Situasjonen er fortvilet. Jeg har vært på mange visninger, senest i jula, og
har virkelig prøvd å komme meg inn på det private utleiemarkedet. Men så langt
har jeg ikke klart det. Det er ikke lett å få leid bolig i Trondheim uten fast
inntekt, samtidig som jeg ikke snakker så godt norsk.”</p>
<p>Den forrige leiekontrakten for den kommunale leiligheten gikk ut i fjor, og
hun søkte da om ny forlengelse på bakgrunn av en endring i retningslinjene for
utleie av kommunale boliger. Endringen medførte blant annet at
“vanskeligstilte barnefamilier under gitte vilkår kan innvilges inntil ti års
leie i kommunale boliger,” ifølge Nidaros. Hun fikk avslag på forlengelse, og
mottok i desember varsel om forestående utkastelse. Leder av klagenemda i
kommunen, som opprettholdt vedtaket, begrunnet avslaget med at “Ana” ikke
lenger fyller kriteriene for tildeling av kommunal bolig og at “10-årsregelen
er myntet på barnefamilier opp mot å beholde skolekrets. Kvinnen har allerede
bodd i leiligheten i seks år, og de må uansett flytte fra leiligheten i løpet
av skoleløpet til sønnen.”</p>
<p>“Ana” fortalte til Nidaros at hun søkte om forlengelse av leiekontrakten i håp
om mer tid til å finne en bolig i nærområdet, slik at sønnen kan fortsette å
gå på samme skole, og fordi det er en del bråk i den kommunale blokka, som
gjør den lite egnet for barn. Hun beskrev at utryggheten og uforutsigbarheten
omkring boligsituasjonen var svært belastende for dem begge.  </p>
<p>4. januar møtte namsfogden og representanter fra Trondheim kommune opp på
døra med utkastelsesordre. Utkastelsen var varslet på forhånd, men ble ikke
gjennomført: avisa Nidaros møtte opp, med det resultat at namsfogden og
kommunen trakk seg midlertidig tilbake.</p>
<p>Torsdag 19. januar tok namsfogden seg inn i leiligheten og låsen på døra ble
skiftet ut mens “Ana” var på skolen. Hun ble varslet av naboen, og ble møtt
ute på gata utenfor boligkomplekset av to representanter fra namsfogden, to
politibetjenter og to ansatte fra Trondheim Eiendom. Hun ble nektet tilgang
til leiligheten og rådet til å søke nødbolig hos NAV. Nidaros beskrev
situasjonen som hjerteskjærende, og at “Ana” fortvilet spurte om å få hentet
noen nødvendige ting til sønnen og seg selv. Dette ble avvist. Hun fikk én
time på seg dagen etter til å hente ut nødvendigheter som medisiner, og én
måned på å hente ut resten av eiendelene til familien.</p>
<p>Nidaros melder at “Ana” og sønnen bor midlertidig hos venner etter
utkastelsen, og at de nylig fikk tilbud om å leie leilighet i nærområdet på
det private utleiemarkedet etter at den opprinnelige leietakeren likevel ikke
skulle ha leiligheta. Dette utfallet endrer imidlertid ikke det faktum at
Trondheim kommune, midt i ei dyrtid og i en situasjon med stort press på
leiemarkedet, gjennomførte en utkastelse av en liten familie med en ung
forelder med lav inntekt lav inntekt og eneansvar for et lite barn.</p>
<p><strong>Referanser:<br />
</strong><a href="https://www.nidaros.no/her-kommer-namsfogden-pa-dora-for-a-kaste-ut-
alenemor-30/s/5-113-405228">Her kommer namsfogden på døra for å kaste ut alenemor (30) –
Nidaros</a><br />
<a href="https://www.nidaros.no/her-er-alenemoren-30-kastet-ut-fra-den-
kommunale-leiligheten-sin/s/5-113-408255">Her er alenemoren (30) kastet ut fra den kommunale leiligheten sin –
Nidaros</a><br />
<a href="https://www.nidaros.no/alenemor-30-kastet-ut-torsdag-na-har-saken-
tatt-en-ny-vending/s/5-113-409262">Alenemor (30) kastet ut på torsdag – nå har saken tatt en ny vending –
Nidaros</a> ****</p>
<p>Source: <a href="https://tjen-folket.no/index.php/2023/01/30/trondheim-kastet-ut-alenemor-med-barn-fra-kommunal-leilighet/">https://tjen-folket.no/index.php/2023/01/30/trondheim-kastet-ut-alenemor-med-barn-fra-kommunal-leilighet/</a></p>