<h1>AND entrevista mãe e esposa de Samuel e Willian, assassinados pela PM em 2021</h1>
<p>Author: Giovanna Maria</p>
<p>Time: 2023-01-30T11:13:03-03:00</p>
<p>Images: ['<a href="https://anovademocracia.com.br/images/IMG_1530.jpg">IMG_1530.jpg</a>']</p>
<!--METADATA-->

<p><img alt="" src="../Images/IMG_1530.jpg" /></p>
<p>Mãe e esposa de estudante e trabalhador assassinados pela polícia realiza
manifestação em 25 de janeiro na Zona Norte do Rio de Janeiro. Foto: Banco de
dados AND</p>
<p>No dia 25 de janeiro, Sonia Bonfim, mãe vítima de violência do velho Estado, e
os familiares vítimas da violência policial realizaram uma manifestação em
frente à 31° Delegacia de Polícia de Ricardo de Albuquerque, exigindo a
investigação e punição dos policiais envolvidos no assassinato de seu filho,
Samuel Vicente, de 17 anos, e seu marido, Willian Vasconcellos, de 38 anos.</p>
<p>Eles foram assassinados no dia 25 de setembro de 2021, por policiais militares
do 41° Batalhão da Polícia Militar (PM), no Complexo do Chapadão, Zona Norte
do Rio. Na ocasião, Samuel e Willian retornavam de uma comemoração da
aprovação de Samuel para o Exército quando foram fuzilados.</p>
<h4>[Leia também: RJ: Mãe organiza manifestação pela punição dos policiais</h4>
<p>assassinos de seus familiares](/noticias/18471-rj-ocorrera-amanha-mae-
organiza-manifestacao-pela-punicao-dos-policiais-assassinos-de-seus-
familiares)</p>
<p>Confira o vídeo de <strong>AND</strong> da manifestação:</p>
<p>Source: <a href="https://anovademocracia.com.br/noticias/18626-and-entrevista-mae-e-esposa-de-samuel-e-willian-assassinados-pela-pm-em-2021">https://anovademocracia.com.br/noticias/18626-and-entrevista-mae-e-esposa-de-samuel-e-willian-assassinados-pela-pm-em-2021</a></p>