<h1>PM executa chacina contra camponeses em Nova Mutum/RO, denuncia a Abrapo</h1>
<p>Author: GABRIEL ARTUR</p>
<p>Time: 2023-01-30T15:44:13-03:00</p>
<p>Images: ['<a href="https://anovademocracia.com.br/images/16750064344332_1.jpg">16750064344332_1.jpg</a>']</p>
<!--METADATA-->

<p><img alt="" src="../Images/16750064344332_1.jpg" /></p>
<p>Camponeses covardemente assassinados em chacina. Foto: Rondoniaovivo</p>
<p>Segundo denunciou a Associação Brasileira dos Advogados do Povo Gabriel
Pimenta (Abrapo), no dia 28 de janeiro policiais militares do Batalhão de
Operações Especiais (Bope) e do Batalhão de Divisas e Fronteiras (BPFron)
torturaram e assassinaram covardemente dois camponeses e feriram outros três.
A ação foi perpetrada durante uma operação de reintegração de posse na sede da
fazenda NorBrasil, localizada em Nova Mutum-Paraná (RO), recentemente ocupada
por camponeses nas últimas semanas. Os camponeses assassinados são Raniel
Barbosa Laurindo, de 24 anos, e Rodrigo Hawerroth, de 34. Outros três
camponeses ficaram feridos durante a chacina.</p>
<blockquote>
<p>Ver essa foto no Instagram</p>
<p><a href="https://www.instagram.com/p/Cn_K7jEN-
Tk/?utm_source=ig_embed&amp;utm_campaign=loading">Uma publicação compartilhada por ABRAPO
(@abraponacional)</a></p>
</blockquote>
<p>A fim de justificar a chacina macabra, a Polícia Militar (PM) de Rondônia e a
imprensa latifundiária do estado afirmam que os camponeses portavam armas de
grosso calibre e que houve “troca de tiros”. Segundo informações da Abrapo, no
entanto, a verdade é que os camponeses foram torturados e executados.</p>
<p>Ainda segundo a Abrapo, o monopólio de imprensa “omitiu que a região faz parte
de uma das diversas áreas griladas pelo latifundiário Antônio Martins dos
Santos, conhecido como Galo Velho, investigado pelas polícias civil e federal,
em conjunto com o Ministério Público, pelo financiamento de pistoleiros na
região para a grilagem de terra e expulsão de camponeses”.</p>
<p>Desde que foi ocupada, a área tem sido palco de constantes ataques de
policiais e pistoleiros contra as famílias camponesas em busca de um pedaço de
terra. Na semana anterior à chacina, uma caminhonete não identificada disparou
contra mulheres e crianças no mesmo local e foi expulsa pelas famílias
moradoras da Área Tiago Campin dos Santos (assista no vídeo).</p>
<blockquote>
<p>Na semana anterior à chacina, uma caminhonete não identificada disparou
contra mulheres e crianças no mesmo local e foi expulsa pelas famílias
moradoras da Área Tiago Campin dos Santos.
<a href="https://t.co/qqwJChZClH">pic.twitter.com/qqwJChZClH</a></p>
<p>— A Nova Democracia (@jornaland) <a href="https://twitter.com/jornaland/status/1620131341399650305?ref_src=twsrc%5Etfw">January 30,
2023</a></p>
</blockquote>
<p>A área é a mesma onde, em novembro de 2021, grupos armados do latifúndio
atuaram ampla e impunemente contra as mais de 800 famílias da Área
Revolucionária Tiago Campin dos Santos, que ocupou as terras da empresa do
“Galo Velho”, em Nova Mutum-Paraná, e seguem nela. Na ocasião, mais de 3 mil
tropas das forças policiais, sob direção política das Forças Armadas
reacionárias, e combinadas com as tropas mercenárias investigadas, foram
mobilizadas para reprimir os camponeses.</p>
<p>O pretenso dono, “Galo Velho”, está sendo investigado por pagar diária para
grupos paramilitares cometer abusos e execuções sumárias usando armamento e
viaturas oficiais das forças policiais nas área da fazenda NorBrasil. O grupo,
composto por policiais e pistoleiros, ainda lavava dinheiro e fraudava
processos judiciais de desapropriação de terras. A partir do afastamento do
sigilo bancário dos investigados pelo MP foi possível identificar
movimentações financeiras superiores a R$ 445 milhões, sendo efetivamente
comprovado o pagamento de valores aos servidores contratados para a função de
bando paramilitar particular do latifúndio.</p>
<h4>[Leia também: Tropa mercenária do latifúndio é desarticulada em Nova</h4>
<p>Mutum/RO](/noticias/18388-tropa-mercenaria-do-latifundio-e-desarticulada-em-
nova-mutum-ro)</p>
<p>A redação de <strong>AND</strong> seguirá mobilizada e trará, a qualquer momento, novas
informações.</p>
<p>Source: <a href="https://anovademocracia.com.br/noticias/18629-pm-executa-chacina-contra-camponeses-em-nova-mutum-ro-denuncia-a-abrapo">https://anovademocracia.com.br/noticias/18629-pm-executa-chacina-contra-camponeses-em-nova-mutum-ro-denuncia-a-abrapo</a></p>