<h1>Palestina: Resistência Nacional deixa sete mortos e 12 feridos após massacre de operação sionista</h1>
<p>Author: Ângelo de Carvalho</p>
<p>Time: 2023-01-30T17:15:55-03:00</p>
<p>Images: ['<a href="https://anovademocracia.com.br/images/protesto_perto_de_gaza_Abdelkhaim_Abu_Riash_Al_Jazeera_2.jpg">protesto_perto_de_gaza_Abdelkhaim_Abu_Riash_Al_Jazeera_2.jpg</a>']</p>
<!--METADATA-->

<p><img alt="" src="../Images/protesto_perto_de_gaza_Abdelkhaim_Abu_Riash_Al_Jazeera_2.jpg" /></p>
<p>Palestinos promovem ações contra agressão sionista de Israel. Foto: Abdelkhaim
Abu Riash/Al Jazeera</p>
<p>Nos dias 27 e 28 de janeiro, sete israelenses foram mortos e 12 ficaram
feridos como resultado de dois ataques feitos pela Resistência Nacional
Palestina em Jerusalém Oriental, região anexada e ocupada por Israel. Os
ataques ocorreram após o assassinato de dez palestinos no dia 25/01 por tropas
sionistas do Estado de Israel na cidade de Jenin, na Palestina. A Jihad
Islâmica Palestina (JIP) e o Hamas, grupos da Resistência Nacional Palestina,
saudaram os ataques.</p>
<p>O primeiro ataque ocorreu em torno de 20h15 do dia 27/01, quando um palestino
de 21 anos estacionou seu carro próximo a uma sinagoga de Jerusalém Oriental e
alvejou 17 pessoas com tiros de armas de fogo. Sete pessoas morreram na hora e
outras dez ficaram feridas. O combatente da Resistência Nacional tentou fugir
após o ataque, mas foi perseguido e morto por tropas sionistas das Forças de
Defesa de Israel (IDF, em inglês).</p>
<p>Menos de 24 horas depois, na manhã do dia 28/01, foi realizado o segundo
assalto. Desta vez, um palestino de 13 anos disparou com uma pistola contra um
grupo de cinco pessoas. Dois israelenses ficaram feridos e nenhum foi morto. O
jovem foi alvejado na sequência por israelenses transeuntes, que abriram fogo
contra o combatente e o subjugaram até a chegada das tropas sionistas da IDF.
Atualmente, o palestino se encontra sob custódia em um hospital israelense.</p>
<p>As ações em Jerusalém Oriental foram celebradas por grupos da Resistência
Nacional, como o Hamas e a JIP. Hazem Qassem, porta-voz do Hamas, afirmou que
“essa operação [o tiroteio em Jerusalém Oriental] é uma resposta ao crime
conduzido pela ocupação em Jenin e uma resposta natural às ações criminosas da
ocupação”. Apesar disso, nenhum dos dois grupos reivindicou autoria das
operações.</p>
<p>Os recentes ataques em Jerusalém Oriental ocorrem em um contexto de
<a href="/noticias/18150-palestina-
resistencia-nacional-se-robustece-enfrentando-sionismo-israelense-e-traidores-
capitulacionistas">robustecimento da Resistência Nacional</a> Palestina frente à escalada da agressão sionista de Israel.
Em 2022, a agressão sionsita que deixou 225 palestinos mortos foi respondida
com o crescimento de grupos armados em território palestino, <a href="/noticias/17947-palestina-resistencia-nacional-dispara-misseis-em-
resposta-a-terrorismo-promovido-por-israel">lançamentos de
mísseis</a>, <a href="/noticias/18412-palestina-ataques-a-bomba-em-israel-dao-resposta-a-
crimes-da-ocupacao-sionista">ataques a
bomba</a> e <a href="/noticias/18373-palestina-
apos-semanas-de-incursoes-sionistas-palestino-deixa-tres-israleneses-mortos-
na-cisjordania">ataques a faca</a>.</p>
<p>Agora, com a continuação das operações sionistas em Israel ao longo de 2023
(somente em janeiro, 35 palestinos foram mortos por militares israelenses), e
sobretudo após o massacre de Jenin, a Resistência Nacional Palestina segue a
afirmar por meio de declarações e ações que seguirá na elevação de sua luta.
Somente nos últimos quatro dias já foram realizados <a href="/noticias/18621-palestina-dez-
palestinos-mortos-em-um-so-dia-por-exercito-sionista-de-israel">bloqueios de vias,
protestos de rua, ataques com mísseis</a> e tiroteios
contra a agressão sionista do Estado de Israel.</p>
<p>Source: <a href="https://anovademocracia.com.br/noticias/18630-palestina-resistencia-nacional-deixa-sete-mortos-e-12-feridos-apos-massacre-de-operacao-sionista">https://anovademocracia.com.br/noticias/18630-palestina-resistencia-nacional-deixa-sete-mortos-e-12-feridos-apos-massacre-de-operacao-sionista</a></p>