<h1>CPI (Maoist) Cadre Captured During Raid By NIA Team In Bijapur District</h1>
<p>Author: Alan Warsaw</p>
<p>Publish Time: 2023-01-30T10:39:42+00:00</p>
<p>Update Time: 2023-01-30T18:42:27+00:00</p>
<p>Images: ['<a href="https://www.redspark.nu/wp-content/uploads/2020/06/handcuffs-jail-cell-800x445.jpg">handcuffs-jail-cell-800x445.jpg</a>']</p>
<p>Tags: ['Bijapur', 'Bijapur District', 'Chhattisgarh', 'CPI (maoist)', 'CPI(maoist)', 'India', 'Kamla', 'Madkam Ungi', 'National Investigation Agency', 'Naxal', 'naxalites', 'naxals', 'NIA', 'police', 'Political Prisonner', 'PPW in India', 'Raipur', 'Raipur District']</p>
<p>Categories: ['India', "People's War", 'Political Prisoners']</p>
<!--METADATA-->

<p><img alt="" src="../Images/handcuffs-jail-cell-800x445.jpg" /></p>
<p><strong>Bijapur District, January 30, 2023:</strong> A cadre of the CPI (Maoist), wanted in
a case related to an attack on a police party in 2021 that left 22 personnel
dead and 30 others injured, was arrested in Chhattisgarh's Bijapur district,
an NIA spokesperson said on Monday.</p>
<p>Madkam Ungi alias "Kamla", a resident of Muthamadgu in Bijapur district, was
captured during a raid on Sunday, and subsequently produced before the NIA
Special Court in Jagdalpur, the spokesperson said.</p>
<p>She was taken into custody by the NIA-Raipur in connection with a case
pertaining to the attack by armed CPI (Maoist) cadres on police and security
force personnel near Tekalgudiyam village in Bijapur district in 2021 that
resulted in death of 22 policemen and injuries to 30 others, the official of
the National Investigation Agency (NIA) said.</p>
<p>The case was initially registered by the Tarrem police station in Bijapur
district and was later re-registered by the NIA on June 5, 2021, the
spokesperson said.</p>
<p>During investigations, the NIA said, an input was received that a wanted woman
Maoist was hiding in the Bhopalpatanam area of Bijapur district.</p>
<p>Immediately, an NIA team from Raipur was mobilized and deployed as part of an
operation to apprehend her, the agency said.</p>
<p>Further probe in the case is in progress, the spokesperson said.</p>
<blockquote>
<p>Source : https://www.deccanchronicle.com/nation/current-affairs/300123/nia-
arrests-woman-maoist-in-chhattisgarh.html</p>
</blockquote>
<p>Source: <a href="https://www.redspark.nu/en/peoples-war/cpi-maoist-cadre-captured-during-raid-by-nia-team-in-bijapur-district/">https://www.redspark.nu/en/peoples-war/cpi-maoist-cadre-captured-during-raid-by-nia-team-in-bijapur-district/</a></p>