<h1>Naxalites Clash With Police In Kanker District</h1>
<p>Author: Alan Warsaw</p>
<p>Publish Time: 2023-01-29T10:37:33+00:00</p>
<p>Update Time: 2023-01-30T01:38:22+00:00</p>
<p>Images: ['<a href="https://www.redspark.nu/wp-content/uploads/2020/08/naxal3_630_630_630_630_571_855-800x445.jpg">naxal3_630_630_630_630_571_855-800x445.jpg</a>']</p>
<p>Tags: ['Chhattisgarh', 'CPI (maoist)', 'CPI(maoist)', 'District Reserve Guard', 'DRG', 'India', 'Kanker District', 'Naxal', 'naxalites', 'naxals', 'police', 'PPW in India']</p>
<p>Categories: ['India', "People's War"]</p>
<!--METADATA-->

<p><img alt="" src="../Images/naxal3_630_630_630_630_571_855-800x445.jpg" /></p>
<p><strong>Kanker District, January 29, 2023:</strong> As many as 26 different types of
equipment were recovered after an encounter broke out between the police and a
squad of Naxalites in the forests of Chhattisgarh's Kanker district, the
officials informed on Sunday. After the encounter, the Naxalites fled from the
site, looking at a much larger number of security personnel, the officials
said.</p>
<p>The incident happened in the Useli forests in the Amabeda area, which is
around 20 km from the Kanker district headquarters of Chhattisgarh. The
District Reserve Guard (DRG) team reached Amabeda police station in the
morning and recovered several types of equipment like batteries, solar plates
and jerkins.</p>
<blockquote>
<p>Source :
https://www.devdiscourse.com/article/headlines/2335159-chhattisgarh-police-
recover-huge-cache-of-weapons-after-encounter-with-naxals-in-kanker</p>
</blockquote>
<p>Source: <a href="https://www.redspark.nu/en/peoples-war/naxalites-clash-with-police-in-kanker-district/">https://www.redspark.nu/en/peoples-war/naxalites-clash-with-police-in-kanker-district/</a></p>