<h1>国际共产主义者同盟就何塞·马利亚·西松同志的逝世致哀</h1>
<p>Author: maoistlibrary</p>
<p>Publish Time: 2023-01-29T03:23:36+00:00</p>
<p>Modified Time: 2023-01-29T03:23:36+00:00</p>
<p>Description: 国际共产主义者同盟二〇二三年一月 国际共产主义者同盟就何塞·马利亚·西松同志的逝世致哀 全世界无产者，联合起来&hellip;</p>
<p>Images: []</p>
<p>Categories: ['菲律宾', '人民战争']</p>
<p>Type: article</p>
<!--METADATA-->

<p>国际共产主义者同盟<br />
二〇二三年一月</p>
<p><strong>国际共产主义者同盟就何塞·马利亚·西松同志的逝世致哀</strong></p>
<p><strong><em>全世界无产者，联合起来！</em></strong></p>
<p>国际共产主义者同盟就菲律宾共产党创始主席何塞·马利亚·西松的逝世向菲律宾共产党，向党的中央委员会、干部、党员、战士、革命群众，向在党的领导下的菲律宾人民表示衷心的哀悼。国际无产阶级向西松同志的一生及其对国际无产阶级和菲律宾人民的贡献致敬。</p>
<p>自1962年起，何塞·马利亚·西松就成为了一名共产党员，而且，在中华人民共和国无产阶级文化大革命和毛泽东思想的影响下，他坚决地反对赫鲁晓夫修正主义，并领导了与菲律宾修正主义者决裂的斗争。1968年，西松同志领导成立了以马克思主义、列宁主义、毛泽东思想为基础的菲律宾共产党以发动武装斗争，开展新民主主义革命作为迈向共产主义的第一步。1969年，西松同志领导成立了光荣的新人民军，点燃了人民战争的火焰。后来，西松同志承认了马克思列宁毛主义是当代的马克思主义。今天，菲律宾共产党正高举着人民战争和毛主义的红旗以延续这些光荣的遗产。</p>
<p>尽管菲律宾共产党无法到场国际毛主义统一大会、国际共产主义者同盟第一次大会，但西松同志缔造的党的精神，还有当今世界无产阶级革命第一战线的一员——伟大的人民战争的榜样都是在场的。</p>
<p>2022年12月26日，菲律宾人民战争的红色战士鸣枪致敬西松同志；这些始终如一坚持走西松同志开辟的人民战争道路的共产党人的榜样和牺牲，是对西松同志对国际共产主义运动、菲律宾无产阶级和菲律宾人民的贡献的最好的致敬。</p>
<p>荣耀和光荣归于西松同志！</p>
<p>菲律宾人民战争万岁！</p>
<p><strong><em>全世界无产者，联合起来！</em></strong> 菲律宾共产党建党54周年万岁！</p>
<p>国际共产主义者同盟</p>
<p><a href="https://ci-
ic.org/blog/2023/01/19/%e5%9b%bd%e9%99%85%e5%85%b1%e4%ba%a7%e4%b8%bb%e4%b9%89%e8%80%85%e5%90%8c%e7%9b%9f%e5%b0%b1%e4%bd%95%e5%a1%9e%c2%b7%e9%a9%ac%e5%88%a9%e4%ba%9a%c2%b7%e8%a5%bf%e6%9d%be%e5%90%8c%e5%bf%97%e7%9a%84/">https://ci-
ic.org/blog/2023/01/19/%e5%9b%bd%e9%99%85%e5%85%b1%e4%ba%a7%e4%b8%bb%e4%b9%89%e8%80%85%e5%90%8c%e7%9b%9f%e5%b0%b1%e4%bd%95%e5%a1%9e%c2%b7%e9%a9%ac%e5%88%a9%e4%ba%9a%c2%b7%e8%a5%bf%e6%9d%be%e5%90%8c%e5%bf%97%e7%9a%84/</a></p>
<p>Source: <a href="https://maozhuyi.home.blog/2023/01/29/%e5%9b%bd%e9%99%85%e5%85%b1%e4%ba%a7%e4%b8%bb%e4%b9%89%e8%80%85%e5%90%8c%e7%9b%9f%e5%b0%b1%e4%bd%95%e5%a1%9e%c2%b7%e9%a9%ac%e5%88%a9%e4%ba%9a%c2%b7%e8%a5%bf%e6%9d%be%e5%90%8c%e5%bf%97%e7%9a%84/">https://maozhuyi.home.blog/2023/01/29/%e5%9b%bd%e9%99%85%e5%85%b1%e4%ba%a7%e4%b8%bb%e4%b9%89%e8%80%85%e5%90%8c%e7%9b%9f%e5%b0%b1%e4%bd%95%e5%a1%9e%c2%b7%e9%a9%ac%e5%88%a9%e4%ba%9a%c2%b7%e8%a5%bf%e6%9d%be%e5%90%8c%e5%bf%97%e7%9a%84/</a></p>