<h1>pc 29 gennaio: Crosetto un ministro della guerra bugiardo e...</h1>
<p>Author: fannyhill</p>
<p>Time: 2023-01-29T10:27:00+01:00</p>
<p>Images: ['<a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh7gUzuXppsOM_nbejyz0BztbVjOXK6eeFX1mpTYnQtnk1IQ2Ucx8ljqxMqC6edLsg6AQB2NG02zVOAXCjkki4sGlNXSNM_JPXCMIc5coc-d68fIQHkYjMTCe4sw2risguHa5PJCuZSKdWD9KRT5zOLwJoy0Lec3YVLhtnM99Qt56L-44AqdfkWR5YJIw/w400-h246/crosetto.jpg">crosetto.jpg</a>']</p>
<!--METADATA-->

<p><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh7gUzuXppsOM_nbejyz0BztbVjOXK6eeFX1mpTYnQtnk1IQ2Ucx8ljqxMqC6edLsg6AQB2NG02zVOAXCjkki4sGlNXSNM_JPXCMIc5coc-d68fIQHkYjMTCe4sw2risguHa5PJCuZSKdWD9KRT5zOLwJoy0Lec3YVLhtnM99Qt56L-44AqdfkWR5YJIw/s286/crosetto.jpg"><img alt="" src="../Images/crosetto.jpg" /></a></p>
<p>Noi siamo contro l'invasione russa dell'Ucraina ma il governo imperialista
italiano, Meloni/Crosetto, è bugiardo, ipocrita, serve i piani di guerra
dell'imperialismo Usa/Nato e non rispetta in nessuna maniera i bisogni e gli
interessi dei proletari e del popolo italiano.</p>
<p>Crosetto è un bugiardo: esiste eccome un accordo Francia/Italia per fornire
700 missili al regime reazionario, co i nazisti dentro di Zelensky, pedina
dell'imperialismo e della guerra.</p>
<p>Crosetto mente sapendo di mentire, perchè è vero che ogni passo in questa
direzione è una tappa verso una possibile guerra mondiale inter imperialista.</p>
<p>Crosetto è al servizio dell'Industria bellica, si ingrassa in tutti i sensi
dei profitti di guerra, fa i suoi interessi in questa guerra e quelli dei
padroni, e in nessuna maniera questo rappresenta, sotto nessuna veste gli
interessi dei proletari e delle masse popolari nel nostro paese.</p>
<p>Source: <a href="https://proletaricomunisti.blogspot.com/2023/01/pc-29-gennaio-crosetto-un-ministro.html">https://proletaricomunisti.blogspot.com/2023/01/pc-29-gennaio-crosetto-un-ministro.html</a></p>