<h1>Filippinene: CPP hilser Internasjonalt Kommunistisk Forbund</h1>
<p>Author: Tjen Folket Media</p>
<p>Description: Filippinenes Kommunistiske Parti (engelsk forkortelse: CPP) hilser de 15 partiene og organisasjonene fra 14 land, som har stiftet Internasjonalt Kommunistisk Forbund på den forente maoistiske inter…</p>
<p>Publish Time: 2023-01-29T05:30:00+00:00</p>
<p>Modified Time: 2023-01-28T11:47:18+00:00</p>
<p>Images: ['<a href="https://tjen-folket.no/wp-content/uploads/2019/02/CPP-50th-anniversary-Quezon-Rappler-December-26-2018-007-1160x771.jpg">CPP-50th-anniversary-Quezon-Rappler-December-26-2018-007-1160x771.jpg</a>']</p>
<p>Tags: None</p>
<p>Category: 'Asia'</p>
<!--METADATA-->

<hr />
<p>Av en kommentator for Tjen Folket Media.</p>
<hr />
<p><strong>Filippinenes Kommunistiske Parti (engelsk forkortelse: CPP) hilser de 15
partiene og organisasjonene fra 14 land, som har stiftet Internasjonalt
Kommunistisk Forbund på den forente maoistiske internasjonale konferansen.</strong></p>
<p>Partiet skriver at selv om de ikke selv er av den oppfatning at tiden er inne
for å danne et internasjonalt senter, hilser de likevel velkommen forbundets
mål om å promotere marxismen-leninismen-maoismen og føre revolusjonær kamp
verden over.</p>
<p>CPP skriver at deres syn er at den viktigste oppgaven her og nå for
kommunistene, er å anvende marxismen-leninismen-maoismen til å utføre
klasseanalyse og undersøkelser av sosiale forhold i de forskjellige landene,
for å utforme en særegen strategi og taktikk, som gjør dem i stand til å lede
proletariatet og alle undertrykte og utbytta klasser i nydemokratisk eller
sosialistisk revolusjonær kamp.</p>
<p>Sentralkomiteen i CPP skriver avslutningsvis at de ser fram til å utvide sine
internasjonale forbindelser og smi større enhet og gå inn for mer samarbeid
med andre kommunistiske partier og organisasjoner, inkludert medlemmene i
Internasjonalt Kommunistisk Forbund.</p>
<p><strong>Referanser</strong><br />
<a href="https://ci-ic.org/blog/2023/01/25/cpp-central-comittee-on-
the-announced-formation-by-the-international-communist-league/">CPP Central Comittee: On the announced formation by the International
Communist League</a></p>
<p>Source: <a href="https://tjen-folket.no/index.php/2023/01/29/filippinene-cpp-hilser-internasjonalt-kommunistisk-forbund/">https://tjen-folket.no/index.php/2023/01/29/filippinene-cpp-hilser-internasjonalt-kommunistisk-forbund/</a></p>