<h1>Liban: Heurts lors des protestations contre l’étouffement de l’affaire de l’explosion du port</h1>
<p>Author: maoistroad</p>
<p>Description: Liban: Heurts lors des protestations contre l’étouffement de l’affaire de
l’explosion du port ...</p>
<p>Time: 2023-01-29T04:23:00-08:00</p>
<p>Images: []</p>
<!--METADATA-->

<h2>[Liban: Heurts lors des protestations contre l'étouffement de l'affaire de</h2>
<p>l'explosion du port](https://secoursrouge.org/liban-heurts-lors-des-
protestations-contre-letouffement-de-laffaire-de-lexplosion-du-port/ "Liban:
Heurts lors des protestations contre l’étouffement de l’affaire de l’explosion
du port")</p>
<p>Jeudi, des dizaines de membres des familles des victimes se sont rassemblés
devant le Palais de justice, brandissant les portraits de leurs proches tués
dans l'explosion du 4 août 2020 qui a fait plus de 215 morts. Ils
manifestaient en soutien au juge Tarek Bitar poursuivi pour insubordination en
raison de sa détermination à enquêter sur l'explosion de centaines de tonnes
de nitrate d'ammonium stockées sans précaution au port de l'aveu même des
responsables. Les autorités sont accusées par des ONG et les familles des
victimes de torpiller l'enquête locale pour éviter des inculpations et
refusent une enquête internationale. Le juge avait été contraint de suspendre
pendant 13 mois son enquête en raison d'une quarantaine de poursuites à son
encontre et de pressions de la part d'une grande partie de la classe
politique, dont le Hezbollah. En décidant de la reprendre lundi à la surprise
générale, il a inculpé plusieurs personnalités, dont le procureur général
Ghassan Oueidate et deux hauts responsables de la sécurité. En représailles,
le procureur général a décidé de poursuivre le juge Bitar pour « rébellion
contre la justice » et « usurpation de pouvoir ». Le procureur général
Oueidate a en outre ordonné la libération de l'ensemble des personnes détenues
depuis l'explosion, dont un responsable de la sécurité au port, le Libano-
Américain Ziad al-Ouf qui a pris l'avion pour les Etats-Unis dès sa
libération.</p>
<p>Source: <a href="https://maoistroad.blogspot.com/2023/01/liban-heurts-lors-des-protestations.html">https://maoistroad.blogspot.com/2023/01/liban-heurts-lors-des-protestations.html</a></p>