<h1>pc 30 gennaio: MILANO: LACRIMOGENI CONTRO 700 MIGRANTI ACCAMPATI FUORI DALL&#8217;UFFICIO IMMIGRAZIONE DELLA QUESTURA</h1>
<p>Author: fannyhill</p>
<p>Time: 2023-01-30T07:35:00+01:00</p>
<p>Images: ['<a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi_4KZ5ynyrLxddznPHCjSHq8b55pciENME43esGY1yPSBz2r7g-D_4bsbOxqT8E3zdJ2fnyvRUaA9cFK8H0jZQ8C1psZlDLoW_M5HpBgWIpG9-jPGOGm_gpjp2sGaz4ZeqHUktE8Rg_pwLSKbiVhMhe0NpvKpiyd3_Mz2miRqedkLi0Kc7FDmz7Ucg7A/w400-h226/questura-mi.jpg">questura-mi.jpg</a>']</p>
<!--METADATA-->

<p><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi_4KZ5ynyrLxddznPHCjSHq8b55pciENME43esGY1yPSBz2r7g-D_4bsbOxqT8E3zdJ2fnyvRUaA9cFK8H0jZQ8C1psZlDLoW_M5HpBgWIpG9-jPGOGm_gpjp2sGaz4ZeqHUktE8Rg_pwLSKbiVhMhe0NpvKpiyd3_Mz2miRqedkLi0Kc7FDmz7Ucg7A/s735/questura-
mi.jpg"><img alt="" src="../Images/questura-mi.jpg" /></a></p>
<p><strong><em>Da Radio Onda d'urto</em></strong></p>
<p>A Milano caos degli uffici immigrazione nelle questure, gestito, lunedì 23
gennaio 2023, a colpi di… lacrimogeni. Verso le 7 fuori dalla caserma della
polizia di via Cagni, dove si erano concentrate 700 persone per le pratiche di
immigrazione e asilo, la Polizia ha sparato lacrimogeni per disperdere le
persone che attendevano l'apertura degli uffici dove ci sono state alcune
tensioni.</p>
<p>Alcune di queste si erano accampate da venerdì in attesa riaprissero gli
sportelli.</p>
<p>Ci sono tre migranti, due di 25 anni e uno di 38, medicati dal 118, e due di
essi sono stati portati al pronto soccorso per escoriazioni ed ecchimosi.</p>
<p><em>Di seguito, la nota del Naga di Milano:</em></p>
<p>"Il processo di criminalizzazione dell'immigrazione è in atto da decenni e si
manifesta a volte subdolamente nel linguaggio, nella formulazione della norme,
nella rappresentazione del fenomeno migratorio, altre volte in modo plastico,
violento e spudorato, come è successo davanti agli uffici della Questura di
via Cagni a Milano".</p>
<p>"Dopo anni di incapacità di rispondere tempestivamente alla manifestazione di
volontà di richiedere protezione internazionale, la Questura di Milano non
ritiene che ci sia di meglio da fare che disperdere</p>
<p>con i lacrimogeni la folla che cerca di entrare negli uffici preposti e, con
un acrobatico rimbalzo di responsabilità, la scarica sulle persone che,
esasperate dall'inutile attesa durata anche mesi, cercano di entrare per
prime".</p>
<p>"Ricordiamo che questa situazione si è creata fin da quando gli uffici sono
stati trasferiti in via Cagni decentrandoli rispetto alla sede dell'Ufficio
Immigrazione della Questura di via Montebello. La prima denuncia del Naga
risale all'autunno del 2021 e già allora venivano segnalate sia la scarsità
delle risorse messe a disposizione per gestire gli ingressi per richiedere
asilo, sia l'inadeguatezza dei rimedi adottati. L'ultima procedura scelta,
avviata con l'inizio del nuovo anno dopo un primo e disastroso esperimento
effettuato il 22 dicembre 2022, prevede che vengano raccolte 120 domande alla
settimana esclusivamente al lunedì mattina. Anche questo tentativo tardivo non
ha risolto la questione perché il ritardo accumulato in un anno e mezzo ha
creato una quantità di aspiranti richiedenti asilo molto maggiore di quello
che questi numeri possono assorbire", conclude Radice.</p>
<p>Source: <a href="https://proletaricomunisti.blogspot.com/2023/01/pc-30-gennaio-milano-lacrimogeni-contro.html">https://proletaricomunisti.blogspot.com/2023/01/pc-30-gennaio-milano-lacrimogeni-contro.html</a></p>