<h1>CPP Demands Immediate Release Of Retired NDFP Consultants Arrested By PNP</h1>
<p>Author: Alan Warsaw</p>
<p>Publish Time: 2023-01-30T05:08:13+00:00</p>
<p>Update Time: 2023-01-30T18:08:50+00:00</p>
<p>Images: ['<a href="https://www.redspark.nu/wp-content/uploads/2023/01/free-the-salutas-1024x502-1-800x445.png">free-the-salutas-1024x502-1-800x445.png</a>']</p>
<p>Tags: ['communist party of the philippines', 'CPP', 'CPP-NPA-NDF', 'CPP-NPA-NDFP', 'GRP-NDFP Peace Talks', 'Marco L. Valbuena', 'National Democratic Front of the Philippines', 'NDFP', "new people's army", 'NPA', 'Philippine National Police', 'Philippine Revolution', 'Philippine Revolution Web Central', 'philippines', 'PNP', 'police', 'Political Prisonner', 'PPW in the Philippines', 'Presentacion Saluta', 'Ruben Abenir Saluta', 'Yvonne Losaria']</p>
<p>Categories: ["People's War", 'Philippines', 'Political Prisoners']</p>
<!--METADATA-->

<p><img alt="" src="../Images/free-the-salutas-1024x502-1-800x445.png" /></p>
<p><strong>Marco Valbuena | Chief Information Officer | Communist Party Of The
Philippines</strong></p>
<p><strong>January 30, 2023</strong></p>
<p>We condemn the Philippine National Police (PNP) for the unlawful and baseless
arrest of retired NDFP consultant, Ruben Abenir Saluta, 75 years old, literary
writer and newspaperman, together with wife Presentacion Saluta and a female
companion identified as Yvonne Losaria, last night in Doña Soledad, Barangay
Labangal, General Santos City.</p>
<p>Saluta, who is frail and suffering from hypertension, as well as from chronic
pulmonary disease, has long retired from active duty since being released from
imprisonment after cases against him and his wife were dismissed from 2016 to
2019. Presentacion, likewise, suffers from hypertension and heart disease.</p>
<p>We condemn the police for planting firearms and explosives against Saluta et
al.</p>
<p>The Party supports the call for the immediate release of Saluta and company.</p>
<p>The Party denounces the gross inhumane treatment of the elderly
revolutionaries who have lived lives in service of the oppressed and exploited
masses.</p>
<p>We call on human rights defenders, as well as journalists and cultural workers
to come to the aid of Saluta and raise the demand for their immediate freedom!</p>
<blockquote>
<p>Source : https://philippinerevolution.nu/statements/release-ndfp-retirees-
saluta-et-al/</p>
</blockquote>
<p>Source: <a href="https://www.redspark.nu/en/peoples-war/cpp-demands-immediate-release-of-retired-ndfp-consultants-arrested-by-pnp/">https://www.redspark.nu/en/peoples-war/cpp-demands-immediate-release-of-retired-ndfp-consultants-arrested-by-pnp/</a></p>