<h1>Ober-Ramstadt&#8217;da Irkçılık Karşıtı Futbol Turnuvası</h1>
<p>Author: ['muhabirhasan']</p>
<p>Time: 2023-01-29T99:00:00</p>
<p>Description: OBER-RAMSTADT|29.01.2023| ATiF‘e bağlı Ober-Ramstadt İşçi Gençlik Derneği'nin her yıl geleneksel ola...</p>
<p>Images: ['<a href="https://www.atik-online.net/wp-content/uploads/2023/01/ober-ramstadt-turnuva-620x330.jpg">ober-ramstadt-turnuva-620x330.jpg</a>']</p>
<p>Categories: ['Avrupa', 'Haberler', 'Manset']</p>
<p>Type: article</p>
<!--METADATA-->

<p><img alt="" src="../Images/ober-ramstadt-turnuva-620x330.jpg" /></p>
<p>OBER-RAMSTADT|29.01.2023| ATiF‘e bağlı Ober-Ramstadt İşçi Gençlik Derneği'nin
her yıl geleneksel olarak düzenlediği „Irkçılığa, Ötekileştirmeye ve
Dışlanmaya Karşı“ Futbol Turnuvası bu yıl da 28 Ocak Cumartesi günü büyük bir
coşkuyla gerçekleştirildi. Hem Ober-Ramstadt Belediye Başkanı'nın hem de
farklı takımların turnuvaya destek vermesi turnuvayı düzenleyenler tarafından
değerli bulundu. Belediye Başkanı yapmış olduğu selamlama konusmasında, var
olan ırkçılık ve ayrımcılığa karşı toplumda bir bilinç yaratmak için yapılan
bu turnuvayı çok anlamlı bulduğunu ve bu gibi çalışmalara her zaman destek
vereceklerini dile getirdi.</p>
<p>Dernek temsilcisi de, Avrupa‘da ve Almanya‘da artan ırkçılığa dikkat çekerek
buna karşı kitlesel olarak birlikte hareket etmenin ve dayanışma önemine vurgu
yaptı.<br />
12 amatör futbol takımın yanı sıra 400’e yakın seyircinin katılımıyla aksam
saat 21:00‘e kadar süren turnuva ilk 3 sırayı alan takımlara hediyeleri
verilerek bir sonraki etkinlikte buluşma temennileriyle dostane bir havada
sonlandırıdı.<br />
<strong>ATiF Darmstadt</strong></p>
<p>Source: <a href="https://www.atik-online.net/blog/ober-ramstadtda-irkcilik-karsiti-futbol-turnuvasi">https://www.atik-online.net/blog/ober-ramstadtda-irkcilik-karsiti-futbol-turnuvasi</a></p>