<h1>特别致谢贡萨罗主席和秘共的决议</h1>
<p>Author: maoistlibrary</p>
<p>Publish Time: 2023-01-29T03:10:24+00:00</p>
<p>Modified Time: 2023-01-29T03:10:24+00:00</p>
<p>Description: 国际共产主义者同盟二〇二二年十月 全世界无产者，联合起来！ 特别致谢贡萨罗主席和秘共的决议 2021年9月11&hellip;</p>
<p>Images: []</p>
<p>Categories: ['秘鲁', '非洲', '帝国主义国家', '拉丁美洲', '亚洲', '人民战争']</p>
<p>Type: article</p>
<!--METADATA-->

<p>国际共产主义者同盟<br />
二〇二二年十月</p>
<p>全世界无产者，联合起来！</p>
<h4>特别致谢贡萨罗主席和秘共的决议</h4>
<p>2021年9月11日，贡萨罗主席在人民战争最光辉的战壕中献出了他的生命，为秘鲁共产党、人民战争、国际无产阶级和世界人民夺取了政治上、军事上和道义上的胜利。我们，国际共产主义者同盟第一次国际会议的成员，向无产阶级的这位伟大领袖致以特别的敬意，把不败的旗帜升至顶端，发誓效仿他彻底、完全献身我们事业的杰出榜样，为共产主义而斗争和不可阻挡地跋涉。</p>
<p>贡萨罗主席在我们所有人的头脑中和心中，在我们已经发展的所有任务和所有斗争中，我们不朽的意识形态，马克思列宁毛主义，准确指引着这些任务和斗争。他以公正而正确的方式把马克思列宁毛主义定义为马克思主义的新的、第三个和更高阶段。贡萨罗主席教导我们，在今天成为马克思主义者就是成为毛主义者。因此，国际会议是贡萨罗主席的斗争的结果和表现，因此，它构成了对这位思想和行动的巨人的敬意。</p>
<p>秘鲁人民战争，在困难和复杂的形势中，走在贡萨罗主席确立的道路上，因为这个英勇的战斗，秘鲁共产党——以他的形象和模样铸造的——仍然存在。我们的同志们在秘鲁的全面重组在进行着，现在正发展着，我们与他们肩并肩，准备为它的成功做出任何必要的贡献。我们确信，发展人民战争，随着越来越多的人民战争，秘共将继续完成它的作用，正如它一直做的，发展秘鲁革命，为世界革命服务。</p>
<p>秘共出席我们的会议是会议成功发展和国际共产主义者同盟成立的不可或缺的条件。</p>
<p><strong>贡萨罗主席永垂不朽！<br />
秘鲁共产党和它领导的人民战争万岁！<br />
贡萨罗主席没有死——他活在我们中间！</strong></p>
<p>国际共产主义者同盟第一次国际会议<br />
2022年10月</p>
<p>链接：https://ci-ic.org/blog/2022/12/28/resolution-of-special-acknowledgment-to-
chairman-gonzalo-and-the-pcp/</p>
<p>Source: <a href="https://maozhuyi.home.blog/2023/01/29/%e7%89%b9%e5%88%ab%e8%87%b4%e8%b0%a2%e8%b4%a1%e8%90%a8%e7%bd%97%e4%b8%bb%e5%b8%ad%e5%92%8c%e7%a7%98%e5%85%b1%e7%9a%84%e5%86%b3%e8%ae%ae/">https://maozhuyi.home.blog/2023/01/29/%e7%89%b9%e5%88%ab%e8%87%b4%e8%b0%a2%e8%b4%a1%e8%90%a8%e7%bd%97%e4%b8%bb%e5%b8%ad%e5%92%8c%e7%a7%98%e5%85%b1%e7%9a%84%e5%86%b3%e8%ae%ae/</a></p>