<h1>pc 30 gennaio - Il governo Meloni sferra un altro attacco ai diritti dei lavoratori: contratti a termine senza limiti e senza causali</h1>
<p>Author: prolcompal</p>
<p>Time: 2023-01-30T18:22:00+01:00</p>
<p>Images: ['<a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh-KG5PPiTCRBHLTmgRiHrRad1sk88e9YOTQCzbr_kdzzZZPSMkGH4ttguaKnGXc1L-5F01p1AttLAtqrZFPvY56UnZVrIoul7eBtCSQ9wNBi-XQKHL29jGyk8oKqOPsHw9aZSnXPOc0j-QzdPuy5KwDq2GjqYhIULfYZr_k4eKUDsQK2seWnH1t1Vv7Q/w339-h480/APA%2018FEB.jpg">APA%2018FEB.jpg</a>']</p>
<!--METADATA-->

<p>Dopo l'introduzione dei voucher con la legge di bilancio, nei prossimi giorni
il governo Meloni si appresta a fare altri favori ai padroni liberandoli dai
"vincoli" che erano posti ai contratti a termine, vincoli spesso imposti anche
da sentenze di tribunale e perfino dalla Corte costituzionale che "è già
intervenuta sul Jobs Act di Renzi, per invitare il Parlamento a legiferare in
modo più favorevole ai lavoratori per quanto riguarda i risarcimenti nei casi
di licenziamenti senza giusta causa." come riporta il Manifesto del 25 scorso.</p>
<p>È chiaro che i "risarcimenti" sono stati introdotti per attutire i colpi dei
licenziamenti, ma non hanno risarcito e non possono risarcire un operaio o una
operaia che perde il lavoro!</p>
<p>Le nuove norme sui contratti a termine dovrebbero essere varate "entro
l'inizio di febbraio: <strong>via il limite di 12 mesi per i contratti a tempo senza
causali</strong> , l'ipotesi è <strong>tornare a 36 mesi, come ai tempi del governo Renzi</strong>
e del ministro Poletti. <strong>Con la possibilità di ulteriori 12 mesi da affidare
ai contratti collettivi</strong>. Si allargheranno anche le causali per i rinnovi,
che oggi sono legati sostanzialmente alla sostituzione di lavoratori e
incrementi temporanei dell'attività."</p>
<p>Alle normali obiezioni che con queste norme si aggrava la precarietà già
estesa, visto che in Italia ci sono ufficialmente oltre 3 milioni di
lavoratrici e lavoratori in queste condizioni, si affretta a rispondere la
ministra del lavoro (della precarietà e della disoccupazione) Elvira Calderone
che bacchetta, per giunta! "«Basta considerare la flessibilità solo in chiave
negativa, il contratto a termine non è di per sé una forma di
precarizzazione»" e di che, se no? qui la ministra dimostra anche perdita di
capacità logica! Ma in realtà, la logica è giusta, è quella del capitalismo-
imperialismo.</p>
<p>"… sembra di tornare alle narrazioni dei tempi della Leopolda. - dice il
quotidiano - Senza tenere conto del fatto che, <strong>nel 2021</strong> (secondo i dati
del rapporto Inapp), solo il 14,8% dei nuovi contratti di lavoro era a tempo
indeterminato, <strong>mentre il 69,8% era a termine</strong>. Numeri che hanno spinto gli
stessi autori del rapporto definire il mercato del lavoro italiano <strong>«
intrappolato nella precarietà</strong>»."</p>
<p>Segue un piccolo elenco di dichiarazioni dei sindacati confederali, di fatto
al servizio del Capitale, che si lamentano e invitano il governo a ripensarci,
a discutere, discutere…</p>
<p>È invece, necessario passare ai fatti!</p>
<p>Lavoratrici e lavoratori, a "tempo indeterminato" o precari, si devono
organizzare, a fronte di questi continui attacchi, e unire le lotte contro
padroni e i loro governi.</p>
<p>Anche la lotta contro la precarietà sarà argomento dell'Assemblea Proletaria
Anticapitalista che si terrà a Roma il 18 febbraio prossimo dalle 10,30 alle
18,30 presso lo Spazio Occupato Metropoliz, di Via Prenestina  913</p>
<p><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh-
KG5PPiTCRBHLTmgRiHrRad1sk88e9YOTQCzbr_kdzzZZPSMkGH4ttguaKnGXc1L-5F01p1AttLAtqrZFPvY56UnZVrIoul7eBtCSQ9wNBi-
XQKHL29jGyk8oKqOPsHw9aZSnXPOc0j-QzdPuy5KwDq2GjqYhIULfYZr_k4eKUDsQK2seWnH1t1Vv7Q/s1170/APA%2018FEB.jpg"><img alt="" src="../Images/APA%2018FEB.jpg" /></a></p>
<p>Source: <a href="https://proletaricomunisti.blogspot.com/2023/01/pc-30-gennaio-il-governo-meloni-sferra.html">https://proletaricomunisti.blogspot.com/2023/01/pc-30-gennaio-il-governo-meloni-sferra.html</a></p>