<h1>99 anos de Jayme Caetano Braun: Gaúcho sem fronteiras</h1>
<p>Author: Henrique Júdice Magalhães</p>
<p>Time: 2023-01-30T19:00:00-03:00</p>
<p>Images: ['<a href="https://anovademocracia.com.br/images/WhatsApp_Image_2023-01-30_at_130608.jpg">WhatsApp_Image_2023-01-30_at_130608.jpg</a>']</p>
<!--METADATA-->

<p><strong>Nota da redação:</strong> Por ocasião dos 99 anos do artista do povo Jayme Caetano
Braun, republicamos a matéria da edição nº 27 de AND, de novembro de 2005,
“Gaúcho sem fronteiras”, de autoria de Henrique Júdice.</p>
<p><img alt="" src="../Images/WhatsApp_Image_2023-01-30_at_130608.jpg" /></p>
<p>Pedro Ortaça e Jayme Caetano Braun, artistas do povo. Foto: Gabriel Ortaça</p>
<blockquote>
<p>E, nesse andejar em frente</p>
<p>sem procurar recompensa</p>
<p>fui vendo — na diferença</p>
<p>entre passado e presente</p>
<p>que a lembrança de um ausente</p>
<p>tem mais força que a presença</p>
</blockquote>
<p><em>Querência, tempo e ausência</em> , de Jayme Caetano Braun.</p>
<p>Jayme Caetano Braun (1924-1999) nasceu em Timbaúva (hoje Bossoroca), então
distrito de São Luiz Gonzaga, um dos sete povos das Missões guaranis. Filho de
pai alemão e mãe índia, trazia simbolicamente na própria origem de sangue e
solo a síntese da formação histórica do Rio Grande do Sul:</p>
<p>“Avô paterno, o lavrador colono,/ no mundo novo, perseguindo anseios;/ avô
materno, o campeador de entono,/ guardião de pátria em pedestal de arreios!/
Avó paterna, a camponesa reta,/ germana ruiva de ancestrais heranças;/ avó
materna, a campesina inquieta,/ amando a terra e maldizendo as lanças”
—escreveu em <strong><em>Estirpe</em></strong>.</p>
<p>Arte, contexto, militância</p>
<p>Jayme torna-se poeta ao mesmo tempo que entra na vida adulta, em meados dos
anos 40. Iniciava-se então, no Rio Grande do Sul como no conjunto do país, um
tempo de crise e reafirmação de uma identidade ameaçada pela penetração
econômica e cultural do imperialismo. O modelo latifundiário exportador
esgotara suas possibilidades de manter na sociedade gaúcha um grau mínimo de
coesão, a questão agrária tornava-se ineludível e a literatura refletia estas
contradições. Na trilogia composta por <strong><em>Sem rumo</em></strong> (1937), <strong><em>Porteira
fechada</em></strong> (1944) e <strong><em>Estrada nova</em></strong> (1954), o romancista Cyro Martins
denunciava que o gaúcho, reduzido à servidão nos latifúndios da fronteira,
estava a pé, despojado que fora até de seu instrumento essencial de trabalho e
guerra, o cavalo.</p>
<p>Paralelamente, alguns setores rurais médios ligados à oligarquia, emigrados
para Porto Alegre, buscavam, face à própria decadência econômica e à crescente
americanização da elite e da classe média da capital, revalorizar um passado
mítico. Os valores associados à figura do gaúcho (coragem, solidariedade,
honra, altivez), contudo, só poderiam ser efetivamente defendidos no bojo de
um projeto de enfrentamento do imperialismo e do latifúndio. Esta tarefa coube
ao trabalhismo, força política que unia pequenos e médios industriais e
comerciantes, profissionais liberais, setores das forças armadas e, a partir
do fim dos anos 50, camponeses com pouca ou nenhuma terra.</p>
<p>Jayme torna-se militante político ao mesmo tempo em que torna-se poeta. Filho
da pequena burguesia do interior do estado, identifica-se com a ala esquerda
do Partido Trabalhista Brasileiro. Participa das campanhas de Getúlio (para a
Presidência em 50), Leonel Brizola, Rui Ramos e Alberto Pasqualini. Defendia
as tradições gaúchas compreendendo que a ameaça a elas vinha da penetração
imperialista e que, para salvá-las, eram urgentes as reformas de base, em
especial a agrária.</p>
<p>A questão da terra, aliás, perpassa toda sua obra. Missioneiro, tem como
referência recorrente Sepé Tiaraju, o líder da resistência guarani à invasão
portuguesa no século XVIII, cuja derrota é a origem ancestral do problema
agrário no Rio Grande do Sul:</p>
<p>“Não pude deter a vaga de Andonega e Barbacena./ Se a História não os condena,
a mancha nunca se apaga!/ A opressão jamais indaga na sua ambição mesquinha./
Era meu tudo o que tinha, era meu tudo o que havia,/ e eu morri porque dizia
que aquela terra era minha!”, escreveu em <strong><em>Payada</em></strong>.</p>
<p>O que é ser gaúcho?</p>
<p>A defesa das raízes culturais do Rio Grande do Sul e o movimento de
resistência surgido nos anos 40 têm pontos em comum com um esforço de igual
natureza iniciado no Nordeste do país, na mesma época, por homens como Ariano
Suassuna. Ambos os movimentos buscam preservar manifestações populares frente
à invasão cultural do USA, empreendida via Rio e São Paulo através de
emissoras de televisão, de rádio e gravadoras. Ambos buscam superar a cisão
entre arte erudita e popular através da síntese destes elementos. E ambos
nascem à margem da universidade e da imprensa, que só reconheceram sua
existência pela forte repercussão social que tiveram.</p>
<p>O esforço de coleta e sistematização de dados sobre a cultura popular que
Suassuna realizou em Pernambuco foi empreendido no Rio Grande do Sul por
homens como Paixão Côrtes e Barbosa Lessa, fundadores do Movimento
Tradicionalista Gaúcho (MTG) que, em seus primórdios, teve uma importância
análoga à do Movimento Armorial de Suassuna. Todavia, o MTG, como instituição,
sofreu, ao longo dos anos, um processo de estagnação que terminou por
subtrair-lhe importância. As manifestações mais vivas e autênticas da cultura
do povo gaúcho deram-se no bojo do movimento, mas fora da obediência estrita a
suas diretrizes.</p>
<p>Na realidade, toda a história do tradicionalismo gaúcho é perpassada pela
contradição entre sua ala conservadora e a progressista. As duas têm em comum
a valorização do passado e de alguns símbolos. Mas a maneira de compreendê-los
as difere. Enquanto a vertente conservadora tende a emoldurar o passado, para
a progressista o passado é história. E história viva, cheia de opressão e
lutas. A primeira prende-se à defesa de imagens cristalizadas, a segunda à de
princípios. Esta contradição aumenta à medida que, pela repercussão social do
movimento, políticos e empresários passam, de maneira oportunista, a valer-se
do sentimento de identidade do povo do Rio Grande do Sul em proveito próprio.</p>
<p>O próprio Jayme cantou, principalmente no início de sua carreira, a
indumentária e a cozinha tradicionais do gaúcho (o mate, o arroz de
carreteiro, o lenço, a faca). Mas sempre denunciou o uso indevido destes
símbolos pelos opressores para confundir o povo.</p>
<p>“Eu pergunto: de que adianta/ plantar um pé de erva-mate,/ como sinal de
combate/ em defesa de uma planta/ se a mesma mão que levanta/ nessas
considerações/ é a que assina concessões/ num inconsciente floreio/ aos
assassinos do meio/ que fazem devastações?”, questionou em <strong><em>Primavera</em></strong>. E
em <strong><em>Sangue Farrapo</em></strong> , escrita após o golpe de 1964:</p>
<blockquote>
<p>"Hoje — quer seja funcionário,<br />
 ou operário,<br />
 ou da cidade — ou da lavoura<br />
 ou do rodeio,<br />
 ante os que aviltam o trabalho<br />
 e o salário,<br />
 se me obrigarem a escolher, volto e peleio!”</p>
</blockquote>
<p>Poeta e pesquisador</p>
<p>Poeta-repentista de gênio, intérprete dos anseios de seu povo, crítico da
opressão exercida pelo latifúndio e pelo imperialismo, Jayme tem, no sul,
papel equivalente ao de Patativa do Assaré no nordeste. Só diferencia-se do
cearense pelo fato de, até mesmo em decorrência das condições objetivas do
meio em que vivia, ter tido maior acesso à cultura erudita, mesmo que como
autodidata — primeiro através do pai, professor primário, depois como diretor
da Biblioteca Pública no governo Brizola. Exemplo disto é o poema <strong><em>Chimarrão
e poesia</em></strong> , pontilhado de referências à poesia grega e medieval.</p>
<p>Jayme tinha também um sólido conhecimento de história e geografia,
principalmente de sua região. As referências históricas são uma das marcas de
sua obra e embasam a denúncia da opressão a que o gaúcho é submetido:</p>
<blockquote>
<p>“Meu canto é rio,<br />
 meu canto é sol,<br />
 meu canto é vento,<br />
 Eu tenho pátria,<br />
 eu tenho berço,<br />
 eu tenho glória.<br />
 Eu só não tenho<br />
 terra própria<br />
 porque a história<br />
 que eu escrevi<br />
 me deserdou no testamento!"<br />
<strong> __</strong></p>
<p><em>Da terra nasceram gritos,</em> de Jayme Caetano Braun.</p>
</blockquote>
<p>Além de poeta, foi pesquisador do folclore gaúcho. Tinha especial interesse
pela medicina campeira, pelos remédios à base de ervas usados pelos índios
(carqueja, quebra-pedra). Chegou a escrever um livro, <strong><em>Vocabulário pampeano
- pátrias, fogões e legendas</em></strong> , sobre as tradições do estado.</p>
<p>Esta formação não livrou-o do preconceito das elites contra a arte popular. Em
resposta, escreveu os versos de <strong><em>Identidade</em></strong> :</p>
<blockquote>
<p>Meia dúzia de impostores<br />
 que se arvoram folcloristas<br />
 e andam — mesmo que angolistas<br />
 ciscando nos corredores<br />
 com siglas de professores<br />
 que adotaram por decreto<br />
 me chamam de analfabeto —<br />
 aceito a definição,<br />
 mas tenho o usucapião<br />
 que me concede o dialeto!</p>
</blockquote>
<p>Regional, nacional, continental</p>
<p>A militância cultural e política de Jayme não limitou-se às fronteiras do Rio
Grande do Sul ou do Brasil. A partir dos anos 60, começa a estudar a cultura
gaúcha da Argentina e do Uruguai e estreita contatos com artistas daqueles
países, como o uruguaio Sandalio Santos, seu amigo.</p>
<p>Foi através destes contatos que encontrou a forma de expressão em que melhor
se saía: a <em>payada,</em> arte de compor e declamar de improviso versos de rima
entrelaçada, geralmente em décimas e ao som de violão. De origem ibérica,
nascida na campanha uruguaia no século XIX, a payada é o equivalente gaúcho do
repente nordestino. Assim como este, pode ser improvisada em dueto, em jogo de
perguntas e respostas, variante denominada payada de contraponto, que equivale
ao desafio dos cantadores do Nordeste. Jayme foi o primeiro e mais importante
payador brasileiro.</p>
<p>O poeta e pesquisador Antônio Augusto Fagundes, um dos maiores conhecedores da
cultura gaúcha, conta, em artigo publicado no jornal Galpão Crioulo quando da
morte de Jayme, a impressão que lhe causou vê-lo se defrontar numa payada de
contraponto com Sandálio Santos e o argentino Cayetano Daglio em Porto Alegre,
em 1962, durante um congresso tradicionalista.</p>
<p>Em sua luta em defesa da identidade cultural latino-americana, Jayme
homenageou em versos comoventes ( _ <strong>Don Atahualpa</strong>_ ) o argentino Atahualpa
Yupanqui, a quem tinha como ídolo, e chegou a escrever poemas em espanhol.
Para ele, não havia incoerência entre esta aproximação e sua postura de
ferrenho defensor da cultura riograndense e brasileira. Afinal, argentinos e
uruguaios eram povos irmãos, oprimidos pela mesma potência, contexto em que
perdiam sentido rivalidades menores.</p>
<p>Sem deixar de valorizar o heroísmo do gaúcho e sua importância para a
definição das fronteiras do Brasil nas guerras platinas do século XIX, um dos
motes principais do tradicionalismo, defendia a unidade entre os povos da
América do Sul, especialmente as “três pátrias gaúchas” (Brasil, Argentina,
Uruguai). Os poemas de seu livro <em><strong>Paisagens perdidas</strong></em> contém inúmeras
referências a manifestações culturais rioplatenses como <em><strong>Martín Fierro</strong></em> ,
o poema nacional argentino. No poema T _ <strong>res gauchos</strong>_ , sintetizou este
ideal:</p>
<p>“Hermanos de sembra y paz,/ América és tu bandera!/ ayer - hicimos frontera,/
hoy- no la queremos más.</p>
<p>Jayme também recebeu homenagens como esta. Em <em><strong>Paisagens perdidas</strong></em> ,
transcreve um poema de Sandalio Santos escrito em agradecimento por seu livro
<em><strong>Pátrias, fogões e legendas</strong></em>. Mais recentemente, no Brasil, o repentista
potiguar Geraldo do Norte, em seu disco <em><strong>Diploma de nordestino</strong></em> (2000),
gravou um poema intitulado <em><strong>Tributo a Jayme Caetano Braun</strong></em>.</p>
<blockquote>
<p><strong>Da terra nasceram gritos</strong></p>
<p>Mataram meus infinitos<br />
 e me expulsaram dos campos;<br />
 Da terra nasceram gritos,<br />
 Dos gritos brotaram cantos!</p>
<p>E me fiz canto<br />
 De tropeiros e ervateiros<br />
 Rasgando sulcos,<br />
 Com arado e saraquá;<br />
 Nas alpargatas dos "quileiros"<br />
 e "chibeiros",<br />
 Andei as léguas<br />
 De Corrientes e Aceguá!</p>
<p>Meu canto é rio,<br />
 Meu canto é sol,<br />
 Meu canto é vento,<br />
 Eu tenho pátria,<br />
 Eu tenho berço,<br />
 Eu tenho glória,<br />
 Eu só não tenho<br />
 terra própria<br />
 Porque a história<br />
 Que eu escrevi,<br />
 Me deserdou no testamento!</p>
<p>De qualquer forma -<br />
 bem ou mal,<br />
 Não me emociono,<br />
 Com os que combatem<br />
 As verdades do<br />
 meu canto;<br />
 Sem ter direito de comer,<br />
 Nem o que planto,<br />
 Só não entendo,<br />
 É tanta terra<br />
 E pouco dono!</p>
<p>Mas mesmo assim,<br />
 Tenho pra dar,<br />
 Um outro tanto,<br />
 Se precisarem do meu sangue<br />
 Noutra guerra;<br />
 Mesmo sem terra,<br />
 Hei de voltar grito de terra,<br />
 Pelo milagre<br />
 Das espigas do meu canto</p>
</blockquote>
<p>Jayme Caetano Braun nasceu em 30 de janeiro de 1924. Em 1943, começa a
publicar poemas na imprensa de sua cidade natal, São Luiz Gonzaga. Quis
estudar medicina, mas não pôde. Mudou-se na década de 50 para Porto Alegre,
onde foi funcionário do Instituto de Pensões e Aposentadorias dos Servidores
do Estado (Ipase, hoje Ipergs). Foi um dos fundadores, nos anos 50, da
Estância da Poesia Crioula. No rádio, apresentou, em São Luiz, Galpão de
estância, a partir de 1948, e, em Porto Alegre, Brasil Grande do Sul, nos anos
70.  </p>
<p>Publicou oito livros de poesia: Galpão de estância (1954), De fogão em fogão
(58), Potreiro de guachos (65), Bota de garrão, Brasil Grande do Sul e
Paisagens perdidas (todos de 66). Em 1990, publicou a coletânea Payador e
troveiro e, em 96, 50 anos de poesia, ambos coletâneas. Em 1974, lança <strong>
<em>Vocabulário Pampeano - Pátrias, fogões e legendas</em></strong>.  </p>
<p>Gravou também discos de poemas declamados, entre os quais Payador, Pampa e
Guitarra, de 1974, com Noel Guarany, e Êxitos 1, acompanhado pelo violão de
Lúcio Yanel. Teve também inúmeros poemas musicados por Noel Guarany, Cenair
Maicá e Luiz Marenco. Boa parte de sua obra, no entanto, encontra-se ainda
esparsa ou inédita, e uma parte também significativa, feita de improviso em
ocasiões informais, “se perdeu nas noites de galpão”, no dizer do poeta
Balbino Marques da Rocha, seu amigo.  </p>
<p>Jayme morreu em Porto Alegre, em 8 de julho de 1999. Uma lei estadual tornou o
dia de seu nascimento Dia do payador. Vários Centros de Tradições Gaúchas
(CTGs) pelo Brasil levam seu nome.</p>
<p>Source: <a href="https://anovademocracia.com.br/noticias/18627-gaucho-sem-fronteiras-2">https://anovademocracia.com.br/noticias/18627-gaucho-sem-fronteiras-2</a></p>