<h1>¡No más complacencia con el feminicidio!</h1>
<p>Author: Revolución Obrera</p>
<p>Time: 2023-01-29T09:03:08-05:00</p>
<p>Images: ['<a href="https://www.revolucionobrera.com/wp-content/uploads/2023/01/niunamenos.jpg">niunamenos.jpg</a>']</p>
<p>Tags: ['Feminicidio', 'Ni una menos']</p>
<p>Categories: ['Emancipación de la mujer']</p>
<!--METADATA-->

<p><a href="https://www.revolucionobrera.com/wp-
content/uploads/2023/01/niunamenos.jpg"><img alt="¡No más complacencia con el feminicidio!
1" src="../Images/niunamenos.jpg" /></a>Manifestación en Argentina contra el
feminicidio</p>
<p>A una semana del feminicidio de Valentina Trespalacios, el pueblo es testigo
de uno nuevo: en el barrio La Virginia del municipio de Pitalito (Huila), una
pequeña de 10 años fue asesinada por un exconvicto acusado del delito de abuso
sexual. Jonathan Francisco García Tapias según los medios de comunicación
burgueses, fue sorprendido por la abuela de la niña María Camila cuando
intentaba abusarla, de inmediato la señora Luz Marina Valderrama intentó
defender a su nieta, por lo que este violador asesinó a la pequeña y causó
graves heridas a su abuela.</p>
<p>Con rabia y lágrimas en los ojos me animo a escribir sobre estos casos, sobre
todo, luego de conocer que podría declararse nulo el juicio por feminicidio
protagonizado por John Poulos asesino de Valentina, por leguleyadas, como que
hay problemas con la traductora usada por la justicia burguesa, pues,
supuestamente, el desgraciado no entiende de qué cargos lo acusan. El
feminicidio tiene un solo lenguaje en todo el mundo, es la concepción impuesta
por la ideología burguesa respecto a que las mujeres somos objeto sexual al
servicio de los hombres, además de ser su propiedad.</p>
<p>Lo peor de todo, es que en Colombia dizque los feminicidios son condenados,
supuestamente estamos cobijadas por la ley ante una violación, ante la
agresión y la amenaza, pero la realidad muestra qué tan lejos estamos de ello;
las cifras de feminicidio abundan, ni decir las de violaciones, golpizas y
maltratos, mujeres y niñas somos el blanco de los feminicidas, violadores y
acosadores sin que suceda mayor cosa, y lamentablemente, los casos de María
Camila y Valentina son botones de muestra: dejar en libertad a un violador y
la posibilidad de liberar a un feminicida por un simple trámite legal de
traducción, como si no supiéramos que este asesino se hace el pendejo y tiene
bien claro que asesinó sin ninguna consideración a Valentina.</p>
<p>Compañeros, hoy como desde hace varios meses estoy convencida del llamado
hecho por la UOC (mlm) a construir el Movimiento Femenino Revolucionario; es
un deber como mujer coadyuvar en este propósito, la vida de nuestras niñas y
mujeres no puede depender de la justicia y la formalidad de nuestros verdugos,
es decir, de las instituciones del Estado burgués, ese que a través de sus
fuerzas militares y judiciales también ha asesinado, violado y revictimizado a
cientos de mujeres.</p>
<p>Llegó la hora de organizarnos compañeras, son muchas las reivindicaciones que
tenemos que conquistar, es mucho el camino por recorrer para lograr nuestra
libertad, que hace parte de la liberación de todos los explotados y oprimidos.
¡Sí quiero luchar por la vida!, ¡sí quiero luchar por los derechos de las
mujeres!, ¡sí quiero desatar mi rabia en una causa justa!, aquella tendiente a
acabar con toda esta porquería que hoy nos hace llorar a nuestras muertas.</p>
<p>Las invito compañeras a que aportemos ideas en el chat de este Portal Digital
o en su correo para consolidar una Plataforma de Lucha de este Movimiento,
construyamos entre todas nuestro pliego, donde no sea negociable el objetivo
de luchar contra la causa real de nuestra opresión y explotación: el sistema
capitalista imperialista y su podrido Estado burgués. Este nudo en mi garganta
se convertirá en un grito de batalla dentro del Movimiento Femenino
Revolucionario. Compañeras: ¡unámonos para que este grito se convierta en
fuerza revolucionaria organizada!</p>
<h4>¡Ni una menos! ¡Si tocan a una, respondemos TODOS! ¡Exigimos justicia</h4>
<p>para Valentina y María Camila!</p>
<p>Source: <a href="https://www.revolucionobrera.com/mujer/no-mas-feminicidio/">https://www.revolucionobrera.com/mujer/no-mas-feminicidio/</a></p>