<h1>Novo Portal do AND irá ao ar nesta semana; saiba mais</h1>
<p>Author: Redação de AND</p>
<p>Time: 2023-01-29T21:09:11-03:00</p>
<p>Images: ['<a href="https://anovademocracia.com.br/images/andportalnovo.jpg">andportalnovo.jpg</a>']</p>
<!--METADATA-->

<p>Avisamos aos nossos leitores e apoiadores que, nesta semana, o Portal de
<strong>AND</strong> será completamente reformulado. Um Novo Portal irá ao ar, mais
dinâmico, correspondente ao salto de qualidade no trabalho da imprensa popular
e democrática.</p>
<p>Em virtude disso, a qualquer momento nos próximos dias, o site de <strong>AND</strong>
ficará fora do ar por dois dias, no máximo, tempo necessário para implementar
as mudanças.</p>
<p><strong>O que será o Novo Portal?</strong></p>
<p>O Novo Portal terá um design profissional, colocando a forma em maior
correspondência com todo o conteúdo, acúmulo de 20 anos de trabalho
jornalístico de <strong>AND</strong>. A distribuição do conteúdo será dinâmica, o que
possibilitará adequação a qualquer necessidade. Assim, as matérias não mais
serão distribuídas de modo cronológico na Home, como hoje; a Home será
completamente diagramável, dando mil e uma possibilidades de expor o conteúdo
segundo sua importância.</p>
<p>O sistema de buscas estará completamente transformado, sendo mais fácil do que
nunca encontrar os materiais desejados. Isso será resultado de uma nova
organização do conteúdo, que possibilitará uma pesquisa mais aprofundada para
os leitores e para todos que usam o jornal como fonte de pesquisas e estudos.</p>
<p>Os conteúdos em vídeo e áudios, como video-reportagens e podcasts, estarão
integrados ao Novo Portal.</p>
<p>Além disso, estarão disponíveis infinitos recursos para apresentação de fotos,
transmissão de <em>Lives</em> , utilização de infográficos e mapas e muito mais, em
virtude da nova plataforma sobre a qual se edificará o Novo Portal.</p>
<p>Todas as modificações visam servir mais à luta popular no Brasil e no mundo,
para dar o melhor da imprensa popular e democrático, tal como demandam e
merecem os operários, camponeses, a juventude revolucionária, as mulheres do
povo e todos os povos e nações oprimidas do mundo.</p>
<p>Saudações de Nova Democracia!</p>
<p><img alt="" src="../Images/andportalnovo.jpg" /></p>
<p>Source: <a href="https://anovademocracia.com.br/noticias/18625-novo-portal-do-and-ira-ao-ar-nesta-semana-saiba-mais">https://anovademocracia.com.br/noticias/18625-novo-portal-do-and-ira-ao-ar-nesta-semana-saiba-mais</a></p>