<h1>SP: Metalúrgicos em greve exigem pagamento atrasado com protestos em frente à fábrica</h1>
<p>Author: Giovanna Maria</p>
<p>Time: 2023-01-30T17:19:32-03:00</p>
<p>Images: ['<a href="https://anovademocracia.com.br/images/sidor1.jpg">sidor1.jpg</a>', '<a href="https://anovademocracia.com.br/images/dana1.jpg">dana1.jpg</a>']</p>
<!--METADATA-->

<p><img alt="" src="../Images/sidor1.jpg" /></p>
<p>Operários da Sidor realizam protesto após sete dias de greve. Foto: Divulgação</p>
<p>No dia 30 de janeiro, operários da Sidor, atualmente em greve há 7 dias,
exigiram o pagamento de seus salários atrasados durante um protesto realizado
em frente às instalações da fábrica, na cidade de Sorocaba (SP).Os operários
da produção estão com os vale-salários atrasados desde o dia 20/01, enquanto
os trabalhadores da administração estão com os salários referentes a dezembro
atrasados desde o dia 05/01. O pagamento do 13° salário dos trabalhadores
também estava atrasado, mas foi depositado após a mobilização dos operários.</p>
<p>Não é a primeira vez que os operários da Sidor se mobilizam pelo atraso de
salários. Em julho e outubro do ano passado, os operários da empresa
realizaram uma série de greves pelos mesmos motivos. Depois das mobilizações,
os salários foram conquistados. A Sidor tem cerca de 50 trabalhadores e produz
autopeças e acessórios automobilísticos.</p>
<p>Também em Sorocaba, metalúrgicos da empresa Dana realizaram uma paralisação de
duas horas no dia 26/01 para protestar contra falta de transparência e
divergências referente às metas e valores da segunda parcela do Programa de
Participação nos Resultados (PPR) de 2022.</p>
<p><img alt="" src="../Images/dana1.jpg" /></p>
<p>Metalúrgicos da Dana paralisam produção por duas horas. Foto:
Foguinho/Imprensa SMetal</p>
<p>Nos últimos anos, diversas mobilizações operárias ocorreram em São Paulo
contra a perda de direitos e por melhores condições de trabalho. Em novembro
do ano passado, operários conquistaram seus direitos após realizarem ao menos
dez greves durante uma intensa campanha de aumento salarial real e contra
demissões em massa.</p>
<p>Source: <a href="https://anovademocracia.com.br/noticias/18631-sp-metalurgicos-em-greve-exigem-pagamento-atrasado-greve-com-protestos-em-frente-a-fabrica">https://anovademocracia.com.br/noticias/18631-sp-metalurgicos-em-greve-exigem-pagamento-atrasado-greve-com-protestos-em-frente-a-fabrica</a></p>