<h1>CPI (Maoist) Posters Surface In Rayagada District Ahead Of Republic Day</h1>
<p>Author: Alan Warsaw</p>
<p>Publish Time: 2023-01-29T05:19:34+00:00</p>
<p>Update Time: 2023-01-30T01:20:09+00:00</p>
<p>Images: ['<a href="https://www.redspark.nu/wp-content/uploads/2020/06/naxalite-attack-article-body-image-1394571859-800x445.jpg">naxalite-attack-article-body-image-1394571859-800x445.jpg</a>']</p>
<p>Tags: ['Basadhara-Ghumusar-Nagavali Division of the CPI (Maoist)', 'CPI (maoist)', 'CPI(maoist)', 'Dongaria Kandha Tribe', 'India', 'Naxal', 'naxalites', 'naxals', 'Odisha', 'Odisha PVTG Empowerment and Livelihood Improvement Programme', 'Odisha State', 'OPELIP', 'Police Informant', 'PPW in India', 'Rayagada District', 'Republic Day', 'Tribals']</p>
<p>Categories: ['India', "People's War"]</p>
<!--METADATA-->

<p><img alt="" src="../Images/naxalite-attack-article-body-image-1394571859-800x445.jpg" /></p>
<p><strong>Rayagada District, January 29, 2023:</strong> Several posters in the name of the
Basadhara-Ghumusar-Nagavali Division of the CPI (Maoist) surfaced in the
Niyamagiri hills range of Kalyan Singhpur block in Odisha's Rayagada district
before the upcoming Republic Day.</p>
<p>The Maoist party claimed that the Republic Day is only meant for the rich
instead of poor. The Maoists had appealed to the people to boycott the day’s
celebrations.</p>
<p>In yet another poster, the Maoist party appealed to the Dongaria Kandha tribe
to drive away the Odisha PVTG Empowerment and Livelihood Improvement Programme
(OPELIP), a Government agency for tribal development from the area alleging
that it is the manipulating the people’s movement.</p>
<p>"The OPELIP is involved in spreading false information and creating brokers.
So those people, who are involved in this nefarious activity, are warned to
leave this agency or else face the consequence. Due to this agency only one to
two persons per village are really benefited. In the name of reform, it has
made the people idle. So the Niyamagiri people should be alert."</p>
<p>In fact, the private companies are funding the agencies like OPELIP. The real
purpose of the agency is not to help, but to suppress peoples’ resistance.
Along with OPELIP agencies like Tata Trusts, New Hope, OTELP, Living Farms are
working in the guise of police informants. They are anti-movement, anti-
tribal, anti-people and anti-national, the Maoist poster alleged.</p>
<blockquote>
<p>Source : https://www.dailypioneer.com/2023/state-editions/maoist-posters-
urge-people-to-drive-away-opelip.html</p>
</blockquote>
<p>Source: <a href="https://www.redspark.nu/en/peoples-war/cpi-maoist-posters-surface-in-rayagada-district-ahead-of-republic-day/">https://www.redspark.nu/en/peoples-war/cpi-maoist-posters-surface-in-rayagada-district-ahead-of-republic-day/</a></p>