<h1>pc 29 gennaio - Africa: la bomba del debito, ovvero l&#8217;imperialismo degli &#8220;Stati falliti&#8221;</h1>
<p>Author: prolcompal</p>
<p>Time: 2023-01-29T13:25:00+01:00</p>
<p>Images: ['<a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhz_cJyvE5rVP8SXoIxEChqW2_YAOomn79GxPbuSJGhML8MruPMFsVfPJ-UKWUWiHSIXfSTP0x9AlqlzZwnWvxf2I5F_NYgBWpadHu2BeEgsUz0FAWQqOyYlmoEobaiofme8w_HCTnbMM3exig_FRX017Q7RgBgwiHCkWLYrIsKgjTrodyWKp6GrE4bkQ/w453-h512/AFRICA%20A%20RISCHIO%20FALLIMENTO.jpg">AFRICA%20A%20RISCHIO%20FALLIMENTO.jpg</a>']</p>
<!--METADATA-->

<p><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhz_cJyvE5rVP8SXoIxEChqW2_YAOomn79GxPbuSJGhML8MruPMFsVfPJ-
UKWUWiHSIXfSTP0x9AlqlzZwnWvxf2I5F_NYgBWpadHu2BeEgsUz0FAWQqOyYlmoEobaiofme8w_HCTnbMM3exig_FRX017Q7RgBgwiHCkWLYrIsKgjTrodyWKp6GrE4bkQ/s2136/AFRICA%20A%20RISCHIO%20FALLIMENTO.jpg"><img alt="" src="../Images/AFRICA%20A%20RISCHIO%20FALLIMENTO.jpg" /></a></p>
<p>" <strong>Nel 2019</strong> il Fondo monetario internazionale consacrava l'ascesa del
Ghana, l'economia <strong> «a più rapida crescita del mondo</strong>» … <strong>Nel dicembre
2022</strong> , con tre anni di pandemia alle spalle …: <strong>terzo Paese africano finito
in default</strong> dall'inizio dell'emergenza Covid".</p>
<p>A proposito di fallimenti, se il FMI dovesse essere valutato per le sue
previsioni sarebbe fallito da tempo! Ma qui non si tratta di <em>capacità di
previsione</em> del FMI, ma come si sa <em>dell 'intervento</em> di questo organismo
finanziario internazionale nelle mani dell'imperialismo, che con le sue
analisi interessate trasmette piuttosto i suoi "desideri".</p>
<p>Il tipo di intervento <em>classico</em> è quello dello "scambio" tra prestiti e
<strong>obbligo di ristrutturazione</strong> economica e politica interna al Paese che di
regola si trasforma in taglio alla spesa pubblica per pensioni, sanità, scuola
ecc. con forte peggioramento delle condizioni delle masse popolari; in questo
caso ce lo spiega in parte anche questo articolo del Sole 24 Ore del 22
gennaio che riporta le affermazioni stesse del FMI che <strong>pochi giorni prima</strong>
del "fallimento del Ghana" aveva accordato un  <strong>prestito da 3 miliardi</strong> di
dollari <strong>per tenere a galla la sua economia</strong> …  e insieme al Ghana c'è <strong>lo
Zambia nel 2020</strong> e il <strong>Mali nello stesso 2022</strong> … ma nel complesso, secondo
"una ricognizione del Chatham House, un think tank britannico": "I Paesi
africani nell'una o nell'altra situazione <strong>sono 22</strong> ".</p>
<p>"In valore assoluto - dice il quotidiano di Confindustria - la <strong>mole
debitoria</strong> è lievitata di cinque volte fra 2000 e 2020, toccando <strong>i 696
miliardi di dollari</strong> nell'anno di esplosione del Covid: <strong>una cifra che
supera, da sola, il Pil aggregato di 40 economie africane. " </strong>Su 54 paesi
complessivi <strong>.</strong></p>
<p>Che questo debito sia " <strong>insostenibile</strong> " ce lo dice lo stesso FMI e l'altro
organismo nelle mani dell'imperialismo, la Banca Mondiale: "Il Fondo monetario
internazionale e la Banca mondiale stimano che <strong>il 60% delle economie a basso
reddito si sobbarchi, già oggi, un debito insostenibile o prossimo a
diventarlo in tempi stretti</strong> ".</p>
<p>Quali paesi imperialisti hanno nelle mani questo debito?</p>
<p>"La Cina ne detiene una fetta pari al 13%, secondo un'elaborazione del centro
studi Bu Global Development Center. Un altro 15% va in debiti bilaterali, il
12% a banche commerciali, il 27% in obbligazioni sul mercato e il 32% in
prestiti contratti con istituzioni multilaterali." Condizioni che " … fanno
temere una girandola di insolvenze in tempi rapidi. Il debito pubblico di
Sudafrica, Costa d'Avorio e Kenya è dato in aumento rispettivamente di 14,1,
17,6 e 10,3 punti percentuali rispetto al Pil nel triennio concluso nel 2022,
rileva Chatham House. Ora, aggiunge, <strong>c 'è il rischio che «la situazione
debitoria possa peggiorare ancora nel 2023»." </strong></p>
<p>Peggio di così? Certo, visto che l'intervento dei paesi imperialisti, Stati
Uniti, Italia, Francia, Spagna, Germania, Cina, Russia… non si limita al
fattore "economico" che significa alimentare la monocoltura, la corruzione
della borghesia compradora, le guerre interne in corso (anche qui per
interposta persona) con relativa spinta alle spese militari, presenza militare
straniera, imponente emigrazione interna e verso i paesi imperialisti… e in
questo caso straparlare di emigrazione dall'Africa senza tenere conto di
queste condizioni oggettive, dell'oppressione dell'imperialismo, significa non
capire di che si parla…</p>
<p>A queste "cause" si aggiungerebbero ancora gli "stessi fattori che tengono
sotto scacco l'economia mondiale" e cioè "guerra in Ucraina" "inflazione e
rialzo dei prezzi energetici e alimentari" e relativa "crisi di insicurezza
alimentare che incombe sul oltre 140 milioni di persone" e ancora il
"rafforzamento del dollaro che ha provocato l'aumento" degli interessi sul
debito che in Nigeria, come "rapporto fra le spese per il ripagamento del
debito e le entrate da export, il cosiddetto <em>debt service ratio</em> , è volato
oltre il 102% nel 2022." Insomma, non bastano nemmeno tutte le entrate da
esportazione di petrolio, di cui la Nigeria è uno dei principali produttori,
per ripagare il debito!</p>
<p>Il quadro complessivo del disastro in corso è chiaro! A questo punto ci si
dovrebbe chiedere come faranno questi paesi a uscire dal disastro, e invece la
domanda che si fa il giornalista del Sole24Ore è " <strong>quali saranno i prossimi
Paesi a scivolare in default</strong>. Pangea-Risk, una società di intelligence,
prevede che almeno sei paesi della regione subsahariana saranno chiamati <strong>a
ristrutturare il proprio debito</strong> entro il 2024, un elenco che include anche
grandi nazioni come il Kenya e la stessa Nigeria. A Nord del Sahara <strong>l
'Egitto</strong>, il paese più popoloso dell'Africa settentrionale, è zavorrato da
quasi <strong>158 miliardi di dollari in debito estero</strong> e sta contrattando con il
Fmi un pacchetto di finanziamenti da 5-6 miliardi di dollari." Ma non è finita
qui, perché addirittura "Altri scenari sono anche più <em>tranchant</em> … L'agenzia
di rating S&amp;P identifica quattro economie africane, sulle 24 sotto la propria
lente, «vulnerabili» al default nel 2023 <strong>(Burkina Faso, Congo-Brazzaville,
Etiopia e Mozambico)</strong> , allineandosi alle due che hanno già subito la stessa
sorte <strong>(Ghana e Zambia</strong> : il <strong>Mali</strong> è fuori dai radar di S&amp;P). Allargando
la valutazione ad altri criteri, il totale dei casi in bilico può
moltiplicarsi ad almeno <strong>18 paesi incapaci di onorare i propri debiti</strong>." Che
"Solo tra 2022 e 2024, secondo Pangea-Risk, andranno in scadenza <strong>debiti per
185 miliardi di dollari</strong>. Se le dimensioni del problema sono chiare, non lo è
la via per attutire l'impatto di una crisi che può travolgere anche più Paesi
di quanto non siano già finiti sotto osservazione."</p>
<p>Ma una sua "soluzione" l'imperialismo la trova! "Una soluzione invocata -
continua l'articolo - è il <em>debt relief</em> , il <strong>condono parziale o totale</strong>
che alleggerirebbe il carico debitorio sulle spalle di economie ancora più
urtare dalle turbolenze internazionali."</p>
<p>E non si tratterebbe affatto di novità, visto che è una manovra già adottata
nel passato, e che <strong>non ha risolto né poteva risolvere</strong> i problemi dei paesi
oppressi dall'imperialismo! <strong>Anzi</strong> , è una manovra per tenere imbrigliati e
legati a sé questi Paesi che così continuano a fornire soprattutto materie
prime a basso costo!</p>
<p>Ma chi dovrebbe "alleggerire" il debito? " <strong>Gli occhi sono puntati sulla
Cina</strong> , ma una manovra di impatto richiederebbe un'intesa fra Pechino e <strong>le
istituzioni occidentali che detengono quote di debito anche maggiori</strong>. Il
meeting dello scorso dicembre fra Fmi, Banca Mondiale e Cina si è chiuso con
spiragli di ottimismo" ma, come dice la presidente del FMI, Kristalina
Georgieva, "non si sono registrate accelerazioni o ipotesi nette
sull'emergenza."</p>
<p>Tutto l'ottimismo imperialista finisce nella possibilità di una "piattaforma
per affrontare «sistematicamente» le questioni del debito, tratteggiando un
«ruolo attivo della Cina», oltre a una spinta più robusta sul Common Framework
del G20: un'iniziativa del <strong>club delle economie ricche</strong> <strong>per fornire
soluzioni ai Paesi poveri</strong> che si ritrovano sulle spalle debiti in
sofferenza." È per tutto questo che la bomba che potrebbe scoppiare non è solo
quella del debito! L'imperialismo produce "stati falliti"</p>
<p>Insomma, "La strada è lunga" dice il Sole24Ore: «Ci vorrà <strong>tempo</strong> , una
certa <strong>fortuna</strong> [proprio così!] e il <strong>sostegno degli stessi creditori
attuali</strong> …" cioè degli stessi paesi imperialisti (che si "accorgono" di
questi Paesi quando non possono più pagare gli interessi sui prestiti) ma che
si sforzeranno perché alla fine "l'Africa è un'opportunità enorme".</p>
<p>I proletari e le masse popolari dell'Africa devono trasformare questa
"opportunità enorme" per i propri interessi di classe perché "le stesse cause
economiche e sociali che spingono gli imperialisti a guerre di rapina,
diventano condizioni materiali invivibili, insopportabili per gli schiavi del
capitale, condizioni materiali per la ribellione dei proletari, dei popoli,
delle nazioni e dei paesi sfruttati e oppressi dai monopoli e dai paesi
imperialisti."</p>
<p>E ancora una volta è necessario ricordarci che "Spetta al Movimento Comunista
Internazionale portare loro la coscienza rivoluzionaria, organizzare e
trasformare le ribellioni in lotta rivoluzionaria contro il nemico comune: il
sistema capitalista mondiale di oppressione e sfruttamento." ( <em>Dichiarazione
internazionale e internazionalista -
https://proletaricomunisti.blogspot.com/2023/01/pc-18-gennaio-
dichiarazione.html#more)</em></p>
<p>Source: <a href="https://proletaricomunisti.blogspot.com/2023/01/pc-29-gennaio-africa-la-bomba-del.html">https://proletaricomunisti.blogspot.com/2023/01/pc-29-gennaio-africa-la-bomba-del.html</a></p>