<h1>LA VISITA DE LULA, EL MERCOSUR Y LOS TLC CON CHINA Y EUROPA</h1>
<p>Author: admin (Person)</p>
<p>Publisher: www.pcr.org.uy (Organization)</p>
<p>Publish Time: 2023-01-30T14:44:01+00:00</p>
<p>Modified Time: 2023-01-30T14:44:03+00:00</p>
<p>Description: Editorial de Al Pueblo La Verdad N° 171 (adelanto) Escribe Ricardo Cohen</p>
<p>Images: []</p>
<p>Categories: ['Editorial', 'Periódico al Pueblo la Verdad']</p>
<p>Type: article</p>
<!--METADATA-->

<p>Dijimos en el discurso del 50° aniversario de nuestro partido, del 12 de
noviembre pasado, que el triunfo de Lula  frente al fascista Bolsonaro era una
buena noticia para el Brasil y para el continente, pero que ‘’ojo con lo que
festejamos’’, ya que lo conocemos por los gobiernos anteriores del PT que en
esencia defendieron consecuentemente los intereses del capital financiero
brasileño.</p>
<p>A lo interno no avanzaron siquiera en las profundas reformas que necesitaba la
clase obrera y el pueblo para lograr una nueva sociedad sin explotados ni
explotadores y a lo sumo llevaron adelante una política asistencialista que
fue significativa mientras hubo precios internacionales altos para sus
materias primas.</p>
<p>En lo externo dichos gobiernos se posicionaron, y Lula se plantea abiertamente
ahora volver hacerlo, como potencia en este mundo multipolar, con el
imperialismo yanqui principal enemigo de nuestros pueblos, en decadencia,
China disputando la hegemonía, Rusia invadiendo Ucrania y la OTAN cada día más
involucrada en dicha guerra. Desde esa posición su gobierno promoverá la
CELAC, la UNASUR, el Mercosur y los posibles TLC y acuerdos con las demás
potencias.</p>
<p>Los gobiernos anteriores del PT mantuvieron y profundizaron una política en el
Mercosur que impuso a rajatabla una desindustrialización generalizada en
nuestro país, con la pérdida de 140.000 puestos de trabajo en la industria
manufacturera de la vestimenta, textil, calzado, metalurgia,
electrodomésticos, vidrio, etc., solo en los primeros tres años de su
funcionamiento. Esto fue lo que el contador Astori y los sectores oportunistas
del FA de aquella época definieron como ‘’un trago amargo’’ y como inevitable.
¡Otra que amargo y largo el trago para la clase obrera y el pueblo!</p>
<p>En realidad por el desarrollo capitalista desigual entre los países del
Mercosur, el gran mercado de esta potencia regional y de peso internacional,
se concentró allí gran parte de la industria de la región mientras sus
monopolios se apropiaron también estos años, en nuestro país, nada menos que
de la mayor parte de los frigoríficos, el arroz, la cerveza, el gas y
avanzaron mucho en la banca, curtiembres, etc. Algo que viene pasando también
aunque de diferente forma en los demás países de la región.</p>
<p>Decía Lenin en su trabajo de 1915 sobre la consigna de los Estados Unidos de
Europa, que «si no se derrocan por vía revolucionaria las monarquías alemanas,
austríacas y rusa, esta consigna carece de sentido y es falsa». A continuación
señalaba que «desde el punto de vista de las condiciones económicas del
imperialismo, los Estados Unidos de Europa son imposibles o son
reaccionarios’’ y que «en el capitalismo es imposible un proceso uniforme de
desarrollo económico de las distintas economías y de los distintos Estados» ya
que «la desigualdad del desarrollo económico y político es una ley absoluta
del capitalismo.»</p>
<p>Decimos esto porque lo que propone ahora Lula y sus amigos oportunistas que
aspiran a un nuevo gobierno del FA, es más de lo mismo, supuestamente tener
más en cuenta las asimetrías en el Mercosur, lo que prácticamente no hicieron
hasta ahora, mientras se negociará un TLC con la Unión Europea y acuerdos con
China pero sobre la base de los intereses de las clases dominantes de Brasil.</p>
<p>El gobierno de Lacalle Pou y su coalición de derecha y ultraderecha, plantea
un TLC con China y una flexibilización y mayor apertura comercial del Mercosur
porque defiende en esencia los intereses de la burguesía  intermediaria y el
latifundio, y en particular los de los exportadores del agronegocio, que
quieren quedarse con algunos cientos de millones de aranceles que pagan
actualmente. Esto a costa de abrir más nuestra economía a  los monopolios
imperialistas, lo que implicaría un nuevo golpe a la industria manufacturera,
abrirle  aún más las empresas estatales y las licitaciones públicas, entregar
lo que va quedando de la infraestructura portuaria y de aeropuertos, y
sectores importantes de los servicios.</p>
<p>En los TLC que se manejan tanto con la UE, con China y el Transpacífico, la
base sería un nuevo ajuste en la economía, la liquidación de fuentes de
trabajo en la industria manufacturera por la baja de aranceles y una mayor
entrega de la soberanía nacional. Parecería que esas son las únicas opciones,
tanto para el gobierno como para la mayoría oportunista de la dirección del
FA. Marcelo Abdala presidente del Pit-Cnt decora esto planteando la creación
de ‘’trabajo de calidad’, como si no hubieran pasado más de tres décadas de
esta ‘’integración’’ al servicio de los monopolios, que él y su partido, el
PCU revisionista apoyan y embellecen.</p>
<p>En su reciente discurso del 22/1, al conmemorarse el 14°aniversario del Estado
Plurinacional de Bolivia, el presidente Luis Arce, hizo un pormenorizado
balance de lo logrado por la política económica y social de los gobiernos
surgidos de la lucha popular y antiimperialista, que encabezaron Evo Morales y
el suyo actual. Destacó con razón que los importantes logros obtenidos en el
plano económico y social, tuvieron como base la nacionalización de los
recursos naturales, de los hidrocarburos y la minería, en particular del litio
al que industrializan en el país imponiendo fuertes condicionamientos a las
empresas extranjeras asociadas.</p>
<p>La otra política de gran importancia que están desarrollando es la de
substitución de importaciones, subsidiando y protegiendo la producción
industrial y agraria del país, dando un gran ejemplo al continente de que hay
un camino soberano, que enfrenta las políticas que impulsan los organismos
imperialistas, que intentan ajustar permanentemente nuestras economías a la
división internacional del trabajo del sistema imperialista-capitalista
imperante.</p>
<p><strong>Desechar las ilusiones que siembra el oportunismo y preparar un año de
grandes luchas</strong></p>
<p>El gobierno intentará aprobar la Reforma de la Seguridad Social reaccionaria a
corto plazo en la Cámara de Diputados, las encuestas reflejan ya un rechazo
mayoritario de nuestro pueblo a la misma y es imprescindible enfrentarla tanto
con la movilización como con el Plebiscito que vienen promoviendo ATSS
(Asociación de Trabajadores de la Seguridad Social) y el MONDESS (Movimiento
en Defensa de la Seguridad Social), donde confluyen sindicatos, corrientes
sindicales clasistas, organizaciones sociales y que cuenta con el apoyo de
nuestra Unidad Popular.</p>
<p>En unos meses se llevará adelante la 10ª Ronda de Consejos de Salarios, con
195 grupos, y también la última Rendición de Cuentas del período, eventos
donde la clase obrera intentará una recuperación real de los salarios y
jubilaciones luego de tres años de ajuste y rebaja de los mismos.</p>
<p>En estas condiciones y al calor de las luchas obreras es necesario fortalecer
las agrupaciones clasistas en el movimiento sindical, para cambiar la
correlación de fuerzas en el Pit-Cnt, en cuya dirección predomina una mayoría
oportunista, unificar las luchas y darle una nueva perspectiva a las mismas.</p>
<p><strong>17° aniversario de la Unidad Popular-AP</strong></p>
<p>La UP, herramienta político-electoral unitaria de la izquierda
antiimperialista radical e independiente del oportunismo, conmemorará su 17°
aniversario el 22 de abril y se encamina a su 12° Encuentro Nacional de
Militantes, a realizarse en el mes de Mayo, donde se analizará la situación
política, económica y social del país, se impulsará el trabajo contra la
Reforma de la Seguridad Social y el Plebiscito, y se encaminará el trabajo
organizativo y de política de alianzas hacia las elecciones del 2024, con el
objetivo de recuperar nuestra presencia en el parlamento para ponerla al
servicio de la lucha de nuestro pueblo.</p>
<p>El Coordinador Nacional ha acordado también comenzar próximamente con el
trabajo programático desarrollando talleres temáticos en el área de la
Educación y el Medioambiente y avanzar en las tareas organizativas.</p>
<p><strong>¡Arriba las y los que luchan!</strong></p>
<p><strong>Ricardo Cohen</strong></p>
<p>Source: <a href="http://pcr.org.uy/?p=3322">http://pcr.org.uy/?p=3322</a></p>