<h1>"Alfredo Cospito fuori dal 41bis!". Il MFPR si sta mobilitando in tutte le iniziative in solidarieta' con Alfredo Cospito e chiama le donne, le lavoratrici, le compagne ad essere dovunque in prima fila</h1>
<p>Author: fannyhill</p>
<p>Description: Su soccorsorossoproletario.blogspot.com - le iniziative in corso Alfredo
Cospito sta morendo, lo stanno ammazzando, tutti e tutte in piazza ...</p>
<p>Time: 2023-01-29T09:31:00+01:00</p>
<p>Images: ['<a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg3BCTxKctA0ziP4Ic8EUfksnh5uZTLPVinCZPiRZnvdEhs2r1RL6JqGrrYpJTwHFG45zROXawysvfN3LIUsTxJsN-JfiL2awtlZHGK-jH8bl2Jh2_9hks0RLSGkXPkYu7DBAWQ6VyYK1BLRfFJUVCB2j9nCdH9nQVZ5mLQxhcDOlCAdFqVf9_huQMW/w400-h251/download%20-%20Copia.jpg">download%20-%20Copia.jpg</a>']</p>
<!--METADATA-->

<p><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg3BCTxKctA0ziP4Ic8EUfksnh5uZTLPVinCZPiRZnvdEhs2r1RL6JqGrrYpJTwHFG45zROXawysvfN3LIUsTxJsN-
JfiL2awtlZHGK-
jH8bl2Jh2_9hks0RLSGkXPkYu7DBAWQ6VyYK1BLRfFJUVCB2j9nCdH9nQVZ5mLQxhcDOlCAdFqVf9_huQMW/s284/download%20-%20Copia.jpg"><img alt="" src="../Images/download%20-%20Copia.jpg" /></a></p>
<p>Su soccorsorossoproletario.blogspot.com - le iniziative in corso  </p>
<ul>
<li><strong><a href="https://soccorsorossoproletario.noblogs.org/post/2023/01/27/alfredo-cospito-sta-morendo-lo-stanno-ammazzando-tutti-e-tutte-in-piazza-ora/">Alfredo Cospito sta morendo, lo stanno ammazzando, tutti e tutte in piazza ora</a></strong></li>
<li><a href="https://soccorsorossoproletario.noblogs.org/post/2023/01/26/alfredo-cospito-massima-mobilitazione/">Alfredo Cospito, massima mobilitazione</a></li>
<li><a href="https://soccorsorossoproletario.noblogs.org/post/2023/01/26/torino-perquisizione-poliziesca-al-centro-sociale-askatasuna/">Torino: perquisizione poliziesca al centro sociale Askatasuna</a></li>
<li><a href="https://soccorsorossoproletario.noblogs.org/post/2023/01/25/il-caso-di-alfredo-cospito-ludienza-in-cassazione-sara-fra-tre-mesi-quando-alfredo-sara-morto-pagherete-caro-pagherete-tutto-maledetti-assassini/">Il caso di Alfredo Cospito, l'udienza in Cassazione sarà fra tre mesi, quando Alfredo sarà morto. Pagherete caro pagherete tutto maledetti assassini!</a></li>
<li><a href="https://soccorsorossoproletario.noblogs.org/post/2023/01/25/cospito-vietato-diffondere-notizie-sulle-sue-condizioni-di-salute/">COSPITO. VIETATO DIFFONDERE NOTIZIE SULLE SUE CONDIZIONI DI SALUTE</a></li>
<li><a href="https://soccorsorossoproletario.noblogs.org/post/2023/01/25/manifestazione-a-giulianova-per-alfredo-cospito-denunciati-7-anarchici-solidarieta-del-srp/">Manifestazione a Giulianova per Alfredo Cospito, denunciati 7 anarchici. Solidarietà del SRP</a></li>
<li><a href="https://soccorsorossoproletario.noblogs.org/post/2023/01/25/il-41-bis-e-tortura-perche-e-isolamento-totale-ma-il-trattamento-non-e-uguale-per-tutti-i-detenuti/">Il 41 bis è tortura perché è isolamento totale, ma il trattamento non è uguale per tutti i detenuti</a></li>
<li><a href="https://soccorsorossoproletario.noblogs.org/post/2023/01/24/rompere-il-silenzio-con-cui-lo-stato-borghese-vuol-far-morire-alfredo-sabato-presidio-carcere-bergamo/">Rompere il silenzio con cui lo stato borghese vuol far morire Alfredo. Sabato presidio al carcere di Bergamo</a></li>
<li><a href="https://soccorsorossoproletario.noblogs.org/post/2023/01/23/caso-cospito-laccusa-di-strage-come-atto-politico/">Caso Cospito, l'accusa di strage come atto politico</a></li>
<li><a href="https://soccorsorossoproletario.noblogs.org/post/2023/01/23/morire-di-pena-piattaforma-per-labolizione-di-ergastolo-e-41bis/">Morire di pena, piattaforma per l'abolizione di ergastolo e 41bis</a></li>
<li><a href="https://soccorsorossoproletario.noblogs.org/post/2023/01/22/contro-il-carcere-e-in-solidarieta-ad-alfredo-cospito-in-sciopero-della-fame-nuove-iniziative/">Contro il carcere e in solidarietà ad Alfredo Cospito in sciopero della fame - Nuove iniziative e un docufilm</a></li>
</ul>
<p><strong>Intervento di una compagna di proletari comunisti</strong></p>
<p>Per i detenuti politici rivoluzionari il 41bis viene applicato con una
funzione di vendetta verso coloro che non si pentono, che rivendicano la loro
militanza rivoluzionaria (come appunto Alfredo Cospito), e con una funzione
deterrente anche verso l'esterno.</p>
<p>Lo Stato borghese, i governi vogliono imporre dentro e fuori la loro  <strong>"pace
sociale" ancora di più oggi nella fase di crisi, partecipazione alla guerra
inter imperialista, e ancora di più oggi da parte di un governo Meloni</strong>
moderno fascista che punta a stravolgere anche i diritti costituzionali, che
fa stare nel proprio seno (parlamento, Camera, Senato, governo) personaggi
dichiaratamente fascisti, in aperto contrasto con le stesse leggi
antifasciste, antirazziste; e che ora con le nuove prossime norme del Min.
della giustizia vuole continuare a coprire i politici corrotti, i fascisti, la
criminalita' "legale".</p>
<p>La stessa cattura di Messina Denaro viene usata per rafforzare e dare nuova
legittimazione al regime del 41bis e dell'ergastolo ostativo, mettendo sempre
sullo stesso piano (vedi le dichiarazioni di Nordio sulle intercettazioni),
mafia e terrorismo, intendendo chiaramente per "terrorismo" le organizzazioni,
le lotte dei rivoluzionari, dei comunisti, per rovesciare con tutte le armi
necessarie questo sistema capitalista, il suo Stato, ai suoi governi.</p>
<p>La repressione che questo Stato sta portando da tempo avanti ed avanza sempre
di più per colpire le lotte e le loro avanguardie che fuoriescano dai limiti
imposti dalla legislazione borghese, trova la sua punta di iceberg verso i
prigionieri politici; cioè verso chi, in varie maniere, con cui si può essere
d'accordo o meno (noi non siamo d'accordo con gli anarchici con la loro
visione strategica, la loro politica e spesso anche la loro pratica), pone di
fatto la verita', necessita' della lotta armata contro uno Stato che attacca i
diritti della maggioranza delle masse, dei proletari, da quelli più elementari
e quotidiani, il diritto al lavoro, al salario, alla sanita', alla scuola, a
quelli più generali, uno Stato che oggi ci trascina nella guerra.</p>
<p><strong>Ma da un lato questo Stato con la repressione si mostra forte, dall'altro,
proprio per questo, mostra di avere paura anche del solo fatto che si alluda
ad un cambiamento radicale di questa società.</strong></p>
<p>In questo contesto va visto l'accanimento dello Stato contro Alfredo Cospito.
Che, non dimentichiamo, ha gia' scontato la condanna per aver ferito a Genova
il dirigente dell'Ansaldo Roberto Adinolfi, e ora viene accusato di aver posto
dei pacchi bomba davanti alla scuola allievi dei carabinieri di Fossano che
non hanno causato né morti né feriti. Ma questo viene considerato strage
politica contro lo Stato e per questo lo si vuole segregare a vita. La sua
colpa è aggravata dal fatto che continua a lottare con lo sciopero della fame
e in questo senso è un'indicazione vivente a non piegarsi.</p>
<p>Il regime del 41bis, giustamente l'abbiamo definito "tortura bianca", è un
isolamento a 360 gradi, non solo con l'esterno con i propri familiari, ma
anche all'interno del carcere con gli altri detenuti. E' vietato ricevere
posta, libri, è vietato anche salutarsi tra detenuti, c'è di fatto il divieto
di comunicazione, di parola.</p>
<p>Questo è uccidere una persona. E giustamente Cospito in una sua lettera ha
scritto: " <strong>La vita non ha senso in questa tomba per vivi".</strong></p>
<p>Ma ancora una volta lo Stato, la giustizia borghese oltre che reazionaria,
repressiva, <strong>  è anche "stupida"</strong>: ha voluto mettere a tacere un anarchico e
ha sollevato una pietra che gli sta comunque ricadendo sui piedi, la vicenda
di Alfredo, con il suo indomito sciopero della fame, è diventata di dominio
pubblico, ha suscitato vasta solidarieta' anche da realta' molto diverse,
tante e continue iniziative, manifestazioni.</p>
<p>Oggi questa mobilitazione va continuata, sviluppata ancora di più, estesa,
utilizzando vari mezzi e forme, investendo da ogni realta' di lotta ai
democratici sinceri, e portandola sempre di più tra le masse popolari, i
lavoratori spiegando perchè questa repressione riguarda tutti coloro che si
ribellano, che lottano contro lo stato esistente, e che la repressione dello
Stato borghese ai rivoluzionari è parte centrale della guerra di classe tra
proletari, masse popolari e padroni, Stato, governi al servizio di questo
sistema di sfruttamento, di mancanza di lavoro, di guerra, di miseria, di
attacco ai diritti civili e alla stessa democrazia.</p>
<p>Tutte le solidarieta' sono importanti, ma noi in questa battaglia vogliamo
soprattutto la  <strong>solidarieta' che rispetti quello che ha scritto lo stesso
Alfredo Cospito</strong> :  _"fino alla fine contro il 41bis e  l'ergastolo
ostativo": "mi opporró con tutte le forze all'alimentazione forzata. Saranno
costretti a legarmi nel letto... Alla loro spietatezza ed accanimento opporró
la mia forza, tenacia e la volontá di un anarchico e rivoluzionario
cosciente...". _</p>
<p>La nostra parola d'ordine è, quindi,  <strong>"Fuori Alfredo Cospito dal 41 bis, no
all'ergastolo ostativo; salvare la vita e la sua identità politica".</strong></p>
<p>Questo è oggi ciò che va conseguito in tutti i modi possibili.<br />
Dobbiamo vincerla questa battaglia di Alfredo, con Alfredo.<br />
Se vinciamo avremo fatto un passo in avanti per la lotta contro questo Stato
borghese assassino.</p>
<p>Source: <a href="https://femminismorivoluzionario.blogspot.com/2023/01/alfredo-cospito-fuori-dal-41bis-il-mfpr.html">https://femminismorivoluzionario.blogspot.com/2023/01/alfredo-cospito-fuori-dal-41bis-il-mfpr.html</a></p>