<h1>向世界上的各人民战争致以阶级敬意的决议</h1>
<p>Author: maoistlibrary</p>
<p>Publish Time: 2023-01-29T03:15:06+00:00</p>
<p>Modified Time: 2023-01-29T03:15:06+00:00</p>
<p>Description: 国际共产主义者同盟二〇二二年十月 全世界无产者，联合起来！ 向世界上的各人民战争致以阶级敬意的决议 国际共产主&hellip;</p>
<p>Images: []</p>
<p>Categories: ['非洲', '帝国主义国家', '拉丁美洲', '亚洲', '人民战争']</p>
<p>Type: article</p>
<!--METADATA-->

<p>国际共产主义者同盟<br />
二〇二二年十月</p>
<p>全世界无产者，联合起来！</p>
<h4>向世界上的各人民战争致以阶级敬意的决议</h4>
<p>国际共产主义者同盟第一次国际会议向秘鲁、印度、土耳其和菲律宾的马克思列宁毛主义共产党领导下，坚持和发展人民战争的共产党人、战士和革命群众致以热烈的阶级敬意。这些人民战争是世界无产阶级革命的最前线。秘鲁共产党、印度共产党（毛主义）、土耳其共产党/马克思列宁主义和菲律宾共产党为全世界共产党人做出了效仿的榜样。他们发动人民战争，革命战争，用牢不可破的共产主义决心面对着帝国主义和反动派种族灭绝的军队，用有力的行动粉碎了想为一盘豆子而出卖革命的修正主义叛徒。</p>
<p>当今世界正进入一个新的革命时期，人民战争的光辉道路向国际无产阶级和世界最深、最广大的群众阐明，我们共产党人是为这个帝国主义及其走狗强加给我们的地狱给出答案、解决方案和唯一可行方法的人。即，民主革命和社会主义革命，之后是连续的文化革命，到达自由、富足的时代，那里没有压迫者和被压迫者，没有剥削者和被剥削者，人类在那里全面发展，共产主义，将开始。</p>
<p>我们同志们的牺牲、无私和英雄主义正发展着人民战争，给了我们巨大的鼓舞，我们在我们的所有工作中都感到他们的亲切存在，为全世界共产党人的再次联合而斗争。他们的榜样让我们充满了勇敢，为的是克服我们道路上的所有阻碍和胜利发展两条路线斗争，而这允许我们在毛主义的指导下在更高的程度上团结起来。</p>
<p>我们在今天实现的国际共产主义者同盟的成立是国际共产主义运动的巨大一步，毋庸置疑，它会为支持人民战争的所有国际活动和阶级活动——怀着最高的无产阶级国际主义精神——的胜利发展提供强大推力。甚至更多，最重要的是，它会为在全世界点燃更强大的人民战争烈焰服务。</p>
<p>国际共产主义者同盟是共产党人的新组织，它是那些发动和发展人民战争的人的新组织。</p>
<p>在国际无产阶级和地球上的被压迫人民前，我们发誓，要做所能做的一切，为正在进行的人民战争的胜利而有力发展服务，为尽快发动新的人民战争服务。勇敢的战士升起红旗，挥舞着革命军队的枪杆子，将会知道，他们的决定和决心在所有的大陆鼓舞着越来越多的革命变革行动，同时让帝国主义、修正主义和反动派颤抖。无论发生什么，我们都将和他们与他们的道路在一起，人民战争道路。</p>
<p><strong>人民战争必胜！<br />
愿强大的武装革命烈焰燃烧帝国主义野兽！</strong></p>
<p>国际共产主义者同盟第一次国际会议<br />
2022年10月</p>
<p>链接：https://ci-ic.org/blog/2022/12/28/resolution-for-class-greetings-to-the-
peoples-wars-in-the-world/</p>
<p>Source: <a href="https://maozhuyi.home.blog/2023/01/29/%e5%90%91%e4%b8%96%e7%95%8c%e4%b8%8a%e7%9a%84%e5%90%84%e4%ba%ba%e6%b0%91%e6%88%98%e4%ba%89%e8%87%b4%e4%bb%a5%e9%98%b6%e7%ba%a7%e6%95%ac%e6%84%8f%e7%9a%84%e5%86%b3%e8%ae%ae/">https://maozhuyi.home.blog/2023/01/29/%e5%90%91%e4%b8%96%e7%95%8c%e4%b8%8a%e7%9a%84%e5%90%84%e4%ba%ba%e6%b0%91%e6%88%98%e4%ba%89%e8%87%b4%e4%bb%a5%e9%98%b6%e7%ba%a7%e6%95%ac%e6%84%8f%e7%9a%84%e5%86%b3%e8%ae%ae/</a></p>