<h1>Polícia assassina camponeses durante ataque contra famílias</h1>
<p>Author: LCP de Rondônia e Amazônia Ocidental</p>
<p>Publish Time: 2023-01-30T20:18:45+00:00</p>
<p>Modified Time: 2023-01-30T20:24:59+00:00</p>
<p>Description: Reproduzimos abaixo nota recebida da Liga dos Camponeses Pobres da Amazônia Ocidental &nbsp; Polícia assassina camponeses durante ataque contra famílias &nbsp; &nbsp; No dia 28 de janeiro, na região do distrito de Nova Mutum Paraná, área rural de Porto Velho, policiais do Batalhão de Operações Especiais (BOPE) assassinaram dois camponeses e feriram outro gravemente com [&hellip;]</p>
<p>Images: []</p>
<p>Type: article</p>
<p>Tags: ['Amazônia ocidental', 'assassinato', 'crimes do latifúndio', 'pistolagem']</p>
<p>Category: Luta camponesa</p>
<!--METADATA-->

<p>Source: <a href="https://resistenciacamponesa.com/luta-camponesa/policia-assassina-camponeses-durante-ataque-contra-familias/">https://resistenciacamponesa.com/luta-camponesa/policia-assassina-camponeses-durante-ataque-contra-familias/</a></p>