<h1>pc 29 gennaio: Fuori Cospito dal 41bis, salvare la vita e la sua identità politica</h1>
<p>Author: fannyhill</p>
<p>Time: 2023-01-29T10:16:00+01:00</p>
<p>Images: ['<a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhwmGRrlM4fdHkZuGZaTRb7LnPiQSaOnHlRamYI5Y3KJ_cwEvFjCfSNkbsmsqwNmLXGU4JNKVAKZdWZ0jwDSmWJsOOpku5p-YGKYxyJCv1Fqw52_0Qr-nd-KaDcXGSeeG-dZonW0VLLwhfkn7Hevb2OpFQEZ8-FlQUEw2LtfJRzlGGxyHFhy8kugbZcRw/w640-h351/cospito.jpg">cospito.jpg</a>']</p>
<!--METADATA-->

<p>Fare il massimo sforzo in tutte le forme possibili perchè questo obiettivo
venga raggiunto. E' interesse dei comunisti, dei rivoluzionari, dei
democratici, coerenti e di tutto il movimento proletario e popolare.</p>
<p>E' chi tiene Cospito ingiustamente e illegittimamente nel 41bis che mette a
rischio la sua vita, esercita una violenza di Stato e un "terrore" verso tutti
gli oppositori.</p>
<p>Questa carcerazione semina vento e raccoglie tempesta, a livello nazionale e
internazionale.</p>
<p><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhwmGRrlM4fdHkZuGZaTRb7LnPiQSaOnHlRamYI5Y3KJ_cwEvFjCfSNkbsmsqwNmLXGU4JNKVAKZdWZ0jwDSmWJsOOpku5p-YGKYxyJCv1Fqw52_0Qr-
nd-KaDcXGSeeG-
dZonW0VLLwhfkn7Hevb2OpFQEZ8-FlQUEw2LtfJRzlGGxyHFhy8kugbZcRw/s303/cospito.jpg"><img alt="" src="../Images/cospito.jpg" /></a></p>
<p>Source: <a href="https://proletaricomunisti.blogspot.com/2023/01/pc-29-gennaio-fuori-cospito-dal-41bis.html">https://proletaricomunisti.blogspot.com/2023/01/pc-29-gennaio-fuori-cospito-dal-41bis.html</a></p>