<h1>pc 29 gennaio: Buona assemblea a Genova per la mobilitazione contro la guerra inter imperialista</h1>
<p>Author: fannyhill</p>
<p>Time: 2023-01-29T11:54:00+01:00</p>
<p>Images: []</p>
<!--METADATA-->

<p><strong>Una grande partecipazione all'assemblea di Genova è stata la risposta
all'appello del CALP (Collettivo Autonomo Lavoratori Portuali) per una
giornata di lotta nazionale contro la guerra.</strong></p>
<p><strong><br />
</strong></p>
<p><strong>Pubblichiamo, per ora, l'intervento dell'operaio della Dalmine (BG) dello
Slai cobas sc</strong></p>
<p><strong>e del compagno di Taranto di proletari comunisti  </strong></p>
<p>Source: <a href="https://proletaricomunisti.blogspot.com/2023/01/pc-29-gennaio-buona-assemblea-genova.html">https://proletaricomunisti.blogspot.com/2023/01/pc-29-gennaio-buona-assemblea-genova.html</a></p>