<h1>pc 29 gennaio: La Meloni in Libia consegna i migranti ai torturatori della guardia costiera in cambio di affari per il gas</h1>
<p>Author: fannyhill</p>
<p>Time: 2023-01-29T11:29:00+01:00</p>
<p>Images: ['<a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjscmJ3MDVca4UHsHdG4-5YERBTZ1sS3skrLCLtDxBpdUvMye5XktCAWkS0EcroUjhRgbCWB0P7viZoNZ7x3ch7NTgSkFq4jemKqvJBb4j4hioTMaEs4o6hRQITCdMNKKD5ag6CZGZvyXSPa1cwG3Tt5hrlcBnOCGWX1A51-5uPKrrjgR-qobmel696mQ/s1600/eni.jpg">eni.jpg</a>']</p>
<!--METADATA-->

<hr />
<p><strong><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjscmJ3MDVca4UHsHdG4-5YERBTZ1sS3skrLCLtDxBpdUvMye5XktCAWkS0EcroUjhRgbCWB0P7viZoNZ7x3ch7NTgSkFq4jemKqvJBb4j4hioTMaEs4o6hRQITCdMNKKD5ag6CZGZvyXSPa1cwG3Tt5hrlcBnOCGWX1A51-5uPKrrjgR-
qobmel696mQ/s310/eni.jpg"><img alt="" src="../Images/eni.jpg" /></a></strong></p>
<p>Meloni sigla con Descalzi, Eni, un 'intesa definita "storica" sulla pelle dei
migranti: Cinque navi (finanziate dall'Ue) alla guardia costiera libica per il
"controllo" dei profughi in fuga da violenze e fame, in cambio di uno storico
accordo sul gas da 8 miliardi di dollari.</p>
<p>«Abbiamo parlato di come potenziare gli strumenti per combattere i flussi
illegali. È un tema che non riguarda solo Italia e Libia, deve riguardare
l'Unione europea nel suo complesso», ripete Meloni. Poi tocca a Tajani: «Ho
firmato un memorandum d'intesa tra il governo italiano e quello libico per la
consegna di cinque vedette finanziate dalla Ue. Rafforziamo la cooperazione
con la Libia, anche per contrastare i flussi d'immigrazione irregolare».</p>
<p>Il rafforzamento della famigerata Guardia costiera libica, denunciata dai
migranti per le violenze, gli arresti, portera' a impedire con la forza che i
migranti possano scappare dall'orrore o per riportarli nei lager delle
torture, stupri delle donne.</p>
<p><strong>I migranti, uomini, donne, bambini vengono sacrificati, consegnati al
"boia" per, nella classica politica imperialista, avere in cambio affari.</strong></p>
<p>Meloni ha ricordato come «l'Eni è presente qui dal 1959, ha di fatto
contribuito a una parte importante della storia libica di questi anni, dello
sviluppo economico della Libia...". Dimostrando come l'Italia imperialista è
stata complice degli orrori perpetrati in Libia dall'imperialismo americano e
oggi della politica di lager, torture dell'attuale regime verso i migranti,
per i profitti del capitalismo italiano.</p>
<p>E Meloni spiega la <strong>politica neo coloniale del suo governo, che</strong> <strong>prende
risorse energetiche e lascia briciole nei paesi del nord Africa</strong> : «l'Italia
vuole giocare un ruolo importante, anche nella capacità di aiutare i Paesi
africani a crescere e a diventare più ricchi. Una cooperazione che non vuole
essere predatoria, che <strong>vuole lasciare qualcosa nelle nazioni</strong> ».</p>
<p>Source: <a href="https://proletaricomunisti.blogspot.com/2023/01/pc-29-gennaio-la-meloni-in-libia.html">https://proletaricomunisti.blogspot.com/2023/01/pc-29-gennaio-la-meloni-in-libia.html</a></p>