<h1>国际毛主义统一会议成功召开的历史性消息 国际共产主义者同盟成立！</h1>
<p>Author: maoistlibrary</p>
<p>Publish Time: 2023-01-29T03:07:24+00:00</p>
<p>Modified Time: 2023-01-29T03:07:24+00:00</p>
<p>Description: 国际共产主义者同盟二〇二二年 序 言 参加国际毛主义统一会议（UMIC）的马克思列宁毛主义政党和组织——沿着伟&hellip;</p>
<p>Images: []</p>
<p>Categories: ['非洲', '基础文件', '帝国主义国家', '拉丁美洲', '亚洲', '人民战争']</p>
<p>Type: article</p>
<!--METADATA-->

<p>国际共产主义者同盟<br />
二〇二二年</p>
<h5>序 言</h5>
<p>参加国际毛主义统一会议（UMIC）的马克思列宁毛主义政党和组织——沿着伟大的列宁创立的第三国际的道路和国际共产主义运动（ICM）的最优良传统——向国际无产阶级和世界人民郑重宣布，新的国际毛主义组织诞生的历史性和卓越性决定，新的国际毛主义组织在三面伟大而光辉的红旗下成立了：毛主义、反修正主义斗争和世界无产阶级革命。</p>
<p>怀着深深的共产主义信念，我们这些党和组织在此重聚并重申——再次怀着庄严的承诺——完成国际毛主义统一会议的协定，捍卫和应用国际无产阶级全能的意识形态——马克思列宁毛主义。</p>
<p>在为推行毛主义作为世界革命唯一指挥和指南的艰苦而不懈斗争中，它是一个坚定的承诺，它是唯一一面永不褪色的深色红旗，是无产阶级、被压迫民族和世界人民在迈向永放光芒的金黄的共产主义的不可阻挡的征途上胜利的保障。</p>
<p>马克思列宁毛主义政党和组织的第一次国际毛主义统一会议有着一个历史性的卓越和深刻的战略含义。它是呼应着世界无产阶级革命新巨浪的光荣任务。</p>
<p>怀着热烈的热情，洋溢着阶级乐观主义和深深感动，我们提出以下红色口号：</p>
<p><strong>第一次国际毛主义统一会议是基础，不可抗拒地迈向国际共运中共产党人的再次联合
——一个战争机器——一个战斗机器，举起马克思列宁毛主义和战无不胜的人民战争的不朽旗帜！！</strong></p>
<p>全世界无产者，联合起来！</p>
<h3>国际共产主义者同盟政治宣言和原则</h3>
<h5>一、前言</h5>
<p>共产主义是不可阻挡的历史目标，人类向它走去，无论我们今天面对怎样的变迁，这个不朽的目标都将实现。</p>
<p>共产党人的主要任务是为了进行革命从而夺取政权，让自己符合和发展为一个马克思列宁毛主义党——我们必须根据各自国家的特点发展——这是抵达共产主义的世界无产阶级革命的一部分并为之服务。共产党的存在是在新时代进行无产阶级革命的关键，我们发现我们处在新时代——新时代随着1917年伟大的社会主义十月革命而开始。没有一个马克思列宁毛主义共产党，就不能进行革命，更不用说发展革命夺取政权和保卫新政权了。</p>
<p>国际共产主义运动是国际无产阶级的先锋队。国际共运的主要问题仍然是力量的分散，主要危险是修正主义。它的统一建立在马克思主义的基础和指导上——今天的马克思列宁毛主义——和把它应用到各国革命的具体实践和世界革命进程中的。</p>
<p>毛主席告诉我们，“国际共产主义运动的历史还表明，无产阶级的团结是在同机会主义、修正主义和分裂主义的斗争中巩固和发展起来的。”当前的分散源于苏联和人民中国的资本主义复辟，在不同的党和组织的新修正主义的表现中，秘鲁——修正主义和投降主义的——右倾机会主义路线（ROL
R&amp;C）的出现、尼泊尔“普拉昌达主义”的修正主义背叛和革命国际主义运动（RIM）中“阿瓦基安派”取消主义修正主义加剧了这一点。分裂主义和随之而来的分散是无产阶级运动中新修正主义背叛马克思主义基本原则的结果。</p>
<p>马克思主义和修正主义当前的分界线是：（1）是否承认毛主义是马克思主义的第三个、新的和更高的阶段和与修正主义及所有机会主义战斗的必要性；（2）为在各自国家进行革命，是否承认革命暴力的万能；（3）是否承认摧毁旧的国家机关和用无产阶级专政取代资产阶级专政；（4）是否承认无产阶级革命党的必要性；（5）是否承认无产阶级国际主义的必要性。</p>
<p>不坚决地与修正主义和所有机会主义作斗争并不可分地进行反帝国主义和一切反动派的斗争，国际共运就不可能向再次联合迈出一步。这就是为什么我们立基于“两条路线的斗争是党的发展的推动力”，这是制定和保卫无产阶级红线和与其他非无产阶级路线斗争的关键，换言之，保持党的红色。</p>
<p>马克思列宁毛主义的革命反攻正用人民战争、民族解放斗争和无产阶级与世界被压迫人民发展的斗争击败上世纪90年代初被释放的反革命总攻——主要是美帝国主义释放的。我们致敬印度、秘鲁、土耳其和菲律宾的英勇的人民战争与民族解放武装斗争。</p>
<p>帝国主义和世界无产阶级革命时代——我们发现我们处在这个时代，总危机和扫除帝国主义的时代——的阶级斗争依照毛泽东主席确定的人民逻辑[1]，依照此，无产阶级没有最后失败。因此，苏联（1956年）和中国（1976年）的资本主义复辟没有阻止国际无产阶级在它的道路上最终夺取政权的革命征途。这些失败只是革命与反革命矛盾发展的某些时刻，我们从中吸取教训阻止未来的复辟。几十年的无产阶级专政——在世界三分之一多的地方开始社会主义建设——产生了人类史上最伟大的社会转变和群众成就，前所未有。</p>
<p>90年代社会帝国主义苏联的终结既不是马克思主义的失败，也不是社会主义的失败，而是腐朽的修正主义和社会帝国主义的破产。马克思主义——今天的马克思列宁毛主义——是整个人类史上最彻底、进步和理性的学说；它代表着新事物，它是史上最后一个和最先进阶级：无产阶级的世界观、意识形态；无产阶级意识到它的历史使命是资本主义的掘墓人，因此也是一切阶级社会的掘墓人。毛主义反对一切堕落、过时的资产阶级意识形态及其修正主义偏差。</p>
<p>在1848年《共产党宣言》发表至今的170多年中，无产阶级的意识形态在阶级斗争的熔炉中出现和发展为三个阶段：（1）马克思主义、（2）马克思列宁主义和（3）马克思列宁毛主义。毛主义是国际无产阶级万能的科学的意识形态，它是万能的是因为它是真理；它是马克思主义的第三个、新的和更高阶段；它是我们坚持、捍卫和主要是应用的当代的马克思主义。</p>
<p>秘鲁的右倾机会主义路线、所谓的“普拉昌达主义”和“阿瓦基安主义”等新修正主义作为反革命总攻的一部分，在国际无产阶级运动中行动，是反毛主义的逆流，企图压制世界无产阶级革命。新修正主义否定马克思主义、党、社会主义和无产阶级专政。但是，它是攻击的中心集中在否定人民战争是毛主义基本的和不可分割的问题。</p>
<p>毛主义的根本是政权，换句话说，无产阶级的政权，无产阶级专政的政权，基于共产党领导的武装力量的政权。尤其要注意的是：（1）民主革命中无产阶级领导的政权；（2）社会主义革命和连续的文化革命中无产阶级专政的政权；（3）基于共产党领导的武装力量，用人民战争夺取和保卫的政权。</p>
<p>毛主席建立了世界革命的战略和策略。世界革命的发展在阻止世界帝国主义战争上是主要的——如果它开始——我们共产党人必须用世界革命战争反对它。这要求我们领导人民战争去面对帝国主义侵略亚洲、非洲、拉丁美洲甚至是欧洲的被压迫民族的战争。即使没有帝国主义侵略，我们也必须领导人民战争进行革命，蔓延到各国和各大陆，直到推向世界革命，我们会用它从地球表面扫除帝国主义和反动派。因此，它对应着我们要用革命战争进行世界革命，而它的基础由被压迫民族构成。</p>
<p>因此，毛主义的根本方面是政权。人民战争和阶级的政权是毛主义基本的和不可分割的部分——无产阶级的政治和军事概念：共产党领导武装力量夺取和保卫的政权。</p>
<p>革命战争，人民战争，是斗争的高级形式——革命的基本问题用它来解决；它是与政治战略（夺取政权）对应的军事战略，让社会向有利于阶级和人民的方向变革；它是斗争的主要形式，人民军队是组织的主要形式，一支战斗、动员[2]和生产的新型军队。人民战争是共产党为无产阶级夺取和保卫新政权而领导的群众的战争。</p>
<p>为了进行人民战争，必须牢记四个根本问题：（1）无产阶级的意识形态——马克思列宁毛主义——应用到各国革命的具体实践和特点中，无论是被压迫国家还是帝国主义国家；（2）共产党领导人民战争的必要性；（3）它的道路的政治战略的详细说明；（4）根据地。新政权或阵线-
国家——在根据地形成——是人民战争的核心。</p>
<p>为了建立根据地，毛主席确定了三个根本要求：（1）有武装力量，（2）打败敌人，（3）动员群众。也就是说，发展游击战争消灭敌人的有生力量，因此，为建立、建设和保卫新政权创造了权力真空——从而破坏旧的社会生产关系，建立新的社会生产关系。新政权/新国家与旧国家的矛盾由此发展，根据战争的流动性要经过多次的重建和反重建。</p>
<p>帝国主义是资本主义的更高和最后阶段，它是垄断的、寄生的、腐朽的和令人痛苦的。它正处在最后的总危机中，由于这种形势，它被其不可避免的日益恶化和加深的周期性危机搞得疲惫不堪。这就是为什么它总是不得不从更低点开始。它的存在只是为了被世界革命所扫除。</p>
<p>帝国主义向来趋向反动和战争。帝国主义和世界反动派会在各类战争的交汇中崩溃，它们将会被革命从地球表面扫除，社会主义会出现。列宁明确了，“帝国主义是泥足巨人”，毛主席说，在战略上，我们必须完全蔑视帝国主义。在策略上，我们必须认真对待它。</p>
<p>毛主席建立他的伟大论点：“从现在起，五十年内外到一百年内外，是世界上社会制度彻底变化的伟大时代，是一个翻天覆地的时代，是过去任何一个历史时代都不能比拟的。处在这样一个时代，我们必须准备进行同过去时代的斗争形式有着许多不同特点的伟大的斗争。”（毛泽东，在七千人大会上的讲话，1962年）</p>
<p>世界无产阶级革命的进程——我们在这个时代发展着——是帝国主义和世界反动派从地球表面上被扫除的进程。因此，革命已经成为了当代世界的历史的和政治的主要倾向。</p>
<p>这个时代的所有基本矛盾都加剧了，主要矛盾是被压迫民族和帝国主义的矛盾。革命的客观条件从未如此成熟。主观条件在向前发展，粉碎了衰落的总的反攻，粉碎了修正主义推动和散播的悲观主义和投降主义。条件一天天地有利于革命。</p>
<p>发展世界无产阶级革命需要更多的人民战争。这需要在各国——根据各自情况——建立或重建共产党，这要应用列宁的教导，“深入到最深的群众中”，“在革命暴力的实践中教育他们”和“不懈战斗，扫除机会主义和修正主义的巨大垃圾堆”。</p>
<p>这次行动诞生的当前国际会议和新组织是国际无产阶级的成就，是对帝国主义和世界反动派及修正主义和所有机会主义的反革命总攻的打击。</p>
<p>新的国际组织是一个思想、政治和组织协调的中心，以民主集中制和服从它的各党和组织相互不断商讨产生的问题决议为基础，它将把这个程序扩展到——尽管参与了相同的原则和目的——所有那些仍在它之外的党和组织。新的国际组织的任务是进行推行毛主义的斗争，作为世界无产阶级革命的唯一指挥和指南，为建立或重建马克思列宁毛主义共产党（被推迟的战略任务）服务，在走向重建共产国际中为在世界开始、发展和协调人民战争服务。</p>
<h5>二、制定国际共运总政治路线的基础</h5>
<p>通过把马克思列宁毛主义应用到各国革命的具体实践和世界革命中，我们指出建立和发展国际共产主义运动总政治路线的以下原则：</p>
<p><strong>1.新时代</strong></p>
<p>随着帝国主义的出现，世界被分为了少数压迫民族和大量的被压迫民族，世界革命的条件成熟了。</p>
<p>1917年，伟大的列宁和布尔什维克党领导的伟大的社会主义十月革命的胜利是世界史上非凡的里程碑。它是世界资产阶级革命的结束和新时代的开始，无产阶级承担起破坏帝国主义、官僚资本主义和半封建主义：帝国主义和世界无产阶级革命的时代。在伟大的十月革命之前有许多革命，它们中的每一个都为社会提供了新的推动力。但是，这些革命只是用一个剥削制度取代了另一个剥削制度。</p>
<p>伟大的十月社会主义革命是第一场革命，设想和进行建立一个没有剥削和压迫的社会
——一个无阶级社会。伟大的十月社会主义革命代表着人类史上完全的转折点。它开启了走向社会主义和共产主义的光辉长路的新时代。</p>
<p>伟大的十月社会主义革命赋予革命暴力作为变革整个世界的不可或缺武器的力量。列宁说：“在十月革命中，……革命暴力实现了辉煌胜利。”我们认为革命暴力是普遍规律是一条马克思主义原则，重申毛主席确定的：“枪杆子里面出政权”和“我们是革命战争万能论者”。</p>
<p>为了评估这个新时代的世界，我们看到四对基本矛盾表现为：（1）资本主义和社会主义的矛盾——两种完全不同的社会制度的矛盾——会覆盖这整个时期，它会是最后一个解决的矛盾，它甚至会持续到夺取政权之后；（2）资产阶级和无产阶级的矛盾——它是两个对立阶级的矛盾——也会遗留到夺取政权之后，它表现为众多的思想、政治和经济形式，直到我们进入共产主义时解决它；（3）帝国主义内部矛盾——这些矛盾是帝国主义者争夺世界霸权的矛盾；它发生在超级大国之间，超级大国和帝国主义大国之间，帝国主义大国之间；（4）被压迫民族和帝国主义的矛盾——它是为被压迫民族解放而摧毁帝国主义和反动派的斗争；它是整个帝国主义时代历史的主要矛盾；然而，根据阶级斗争的具体情况，四对基本矛盾中的任何一个都能成为主要矛盾，但是，历史的主要矛盾会再次表现出来，直到它最终解决。</p>
<p>我们，马克思列宁毛主义者，为了实现我们的最终目标共产主义，必须进行三种革命：（1）民主革命——落后国家的无产阶级领导的新型的资产阶级革命——建立无产阶级、农民和小资产阶级——特定情况下——中等资产阶级——的联合专政，所有这些阶级都在共产党代表的无产阶级的霸权下；（2）社会主义革命——帝国主义国家——建立无产阶级专政；（3）文化革命——进行文化革命是为了无产阶级专政下的继续革命，制服和消灭任何资本主义的出现和进行反对资本主义复辟的斗争——它们为加强无产阶级专政和迈向共产主义服务。</p>
<p>毛主席教导我们，“新陈代谢是宇宙间普遍的永远不可抵抗的规律。”这是历史规律，在争取建立新的社会制度的斗争中，阶级不可能只尝试一次，只打一次，无产阶级也不例外。苏联（1956年）和中国（1976年）的资本主义复辟是社会主义和资本主义矛盾——新陈代谢的历史斗争的一部分。</p>
<p>列宁告诫过，剥削阶级在被击败和没收后不会罢手。由于失败，他们有着百倍的恨意和努力来复辟资本主义。他们复辟的愿望和意图会变成复辟企图。这就是为什么他们必须牢牢地屈从于无产阶级专政，目的是保证阶级消亡的条件。列宁宣布：“消灭资本主义及其残余和引进共产主义秩序的原则构成了整个世界史刚进入的新时代的内容……”</p>
<p>由此，列宁指出了这项任务会花费很长的时间——为了彻底消灭阶级——不仅有必要消灭剥削阶级，也要消灭城乡差距、工农差距和体脑差距及其他差距。</p>
<p>这个矛盾只会通过复辟与反复辟的漫长而复杂的过程解决，直到无产阶级专政和社会主义在全世界巩固。因此，铺下了所有的社会阶级消失的道路——国家随之也会消亡——人类进入了永远光辉的金黄的共产主义。毛主席教导，“社会主义制度终将要代替资本主义制度，这是一个不以人们自己的意志为转移的客观规律。不管反动派怎样企图阻止历史车轮的前进，革命或迟或早总会发生，并且将必然取得胜利。”</p>
<p><strong>2.世界革命的进程</strong></p>
<p>在全世界的革命运动中有两种力量在行动：国际共产主义运动和民族解放运动，前者是领导，后者是基础。</p>
<p>民族解放运动是在被帝国主义和反动派压迫的民族里行动的力量。上世纪10年代，列宁给予了印度、中国、波斯的斗争最大的关注，提出社会主义革命不是无产阶级反对资产阶级的唯一的和全部的方法，所有殖民地反对压迫者也是一种方法。他说这两种力量融合在一起：在整个世界行动的国际无产阶级运动和被压迫民族的民族解放运动，指出被压迫民族的群众占全球人口的大多数。它会在世界革命中占决定重量。他得出结论，革命转移到了被压迫民族，但是这没有否认帝国主义国家的革命。此外，他表明，一个社会主义国家——像苏联这样的——能够在帝国主义的封锁中发展。这就是革命在全世界不平衡发展的规律。</p>
<p>列宁进一步发展了马克思的理论，奠定了破坏帝国主义的世界革命的战略基础，把民族解放斗争和国际无产阶级运动斗争联合起来和发展了革命。尽管“全世界无产者，联合起来！”是共产党人的口号，但他提出了指导这两种力量斗争的口号“全世界无产者和世界人民，联合起来！”。后者把在帝国主义国家建设社会主义的无产阶级运动与殖民地和半殖民地国家的民族解放斗争统一起来。共产国际接受了这个口号。</p>
<p>毛主席——发展了世界革命的战略和策略——根据当时的任务具体化了这个口号：“全世界马克思列宁主义者团结起来，全世界革命人民团结起来，打倒帝国主义，打倒现代修正主义，打倒各国反动派。”因此，他把民族解放运动和国际无产阶级运动结合了起来，这两种力量推动了世界历史的发展。</p>
<p>国际无产阶级运动是国际无产阶级的理论和实践。无产阶级斗争在三个领域——思想、政治和经济——自它在历史上第一次出现，就是最后一个阶级，它就如此斗争。以下里程碑引人注目：1848年，马克思和恩格斯写了《共产党宣言》，建立了无产阶级的基础和纲领；1871年，巴黎公社，无产阶级第一次夺取政权；1905年，革命的总演习；1917年，俄国十月革命的胜利，无产阶级建立了无产阶级专政，开启了新时代；1949年，中国革命的胜利，无产阶级领导的各革命阶级的联合专政，不间断地完成社会主义革命，它改变了世界上各方力量的关系；上世纪60年代，毛泽东主席领导的无产阶级文化大革命，复辟与反复辟的尖锐斗争中的无产阶级专政下继续革命。</p>
<p>我们必须发展需求斗争，来为夺取政权服务。无产阶级在它的争取实现需求的斗争中产生了工会和罢工，这不仅是为了需求的斗争的工具，而且它们“为即将到来的伟大斗争锻炼阶级”。罢工是需求斗争的主要工具，总罢工是起义的补充。</p>
<p>无产阶级产生了政治机器：与其他政党完全不同和对立的共产党。它的目标是夺取政权，马克思是如此定义的。列宁在与旧修正主义的阻碍影响斗争时明确了新型党的特征，旧修正主义产生了以工人贵族、工会官僚、议会迷为基础的资产阶级工人党，这类政党调整旧秩序。</p>
<p>毛泽东主席发展了围绕着枪杆子的党的建设，提出了三大工具相互关联的建设：共产党、新型军队和革命统一战线，其中的中心是共产党。</p>
<p>无产阶级产生了世界无产阶级革命的意识形态：马克思列宁毛主义。</p>
<p>马克思阐述并为辩证唯物主义奠定了基础，用它分析资本——资本主义社会的——发现了历史发展的规律。马克思和恩格斯集合了人类产生的精华：德国古典哲学、英国政治经济学和法国的社会主义，为无产阶级的意识形态奠下了基础。在马克思逝世后，恩格斯完成了马克思仍待完成的工作，如《资本论》第二册和第三册。他系统化和定义了马克思主义是国际无产阶级不可或缺的和谐的理论。用列宁的话说：“不研读恩格斯的全部著作，就不可能理解马克思主义，也不可能完整地阐述马克思主义。”没有反对错误思想和立场的斗争，马克思主义就不能完全迈出一步。因此，它必须抵抗蒲鲁东和无政府主义右倾偏差和杜林的所谓创造性发展、德国社会民主党内部产生的机会主义立场。</p>
<p>我们不朽的创始人马克思和恩格斯通过科学的分析表明，资本主义的崩溃及其不可避免地向共产主义转变——那里不再有人剥削人。他们明确了全世界无产者的使命：在反资本主义的革命斗争中站起来，团结所有的工人和被剥削者破坏它，在它的灰烬上造就社会主义和共产主义。</p>
<p>旧修正主义在恩格斯死后发展——由伯恩斯坦和考茨基——列宁与他们斗争并战胜了他们。简言之，马克思主义——在它的第一个阶段——建立了马克思主义哲学或辩唯物主义、马克思主义政治经济学和科学社会主义。</p>
<p>列宁发展了马克思主义，把它提升到第二个阶段，马克思列宁主义。他是在反对旧修正主义的激烈斗争中完成的。旧修正主义否定马克思主义哲学，说一个人应该立足于新康德主义，这是唯心主义，而不是辩证唯物主义。在政治经济学上，他们否定日益的贫困化，因而主张资本主义满足了无产阶级的需求；他们否认剩余价值和帝国主义。在科学社会主义上，他们主张反对阶级斗争，反对革命暴力和无产阶级专政——散播和平主义和议会迷。</p>
<p>列宁教导道，无产阶级的革命政治是通过它的先锋党实现的。没有它的总参谋部——共产党——无产阶级就不能完成它改变世界的主要任务。得益于列宁创造和领导的新型革命党的存在，俄国无产阶级能够利用革命形势，用革命内战回应帝国主义战争。毛主席说：“这种革命党的胜利改变了世界革命的面貌。”</p>
<p>修正主义通过援引新情况来篡改马克思主义原则。列宁说，修正主义是资产阶级在无产阶级队伍中的高级分遣队，进行反对帝国主义的斗争就必须进行反对修正主义的斗争——因为它们是同一枚硬币的两面。列宁强调，修正主义企图分化工会运动和无产阶级政治运动，导致社会主义的分裂。此外，在这场反对修正主义的不妥协的正确斗争中，列宁提出——在准备和开始第一次世界大战的背景下——变帝国主义战争为革命战争，从而揭露旧修正主义者是社会爱国者和社会沙文主义者；他提出在革命时期，必须创造新组织，因为反动派攻击合法和公开组织，我们必须建立秘密机构，即使是对群众工作来说也是如此。然后，他用共产党和通过武装起义实现了十月革命。</p>
<p>斯大林同志继续列宁的工作——在苏联建设社会主义的过程中——他与托洛茨基、季诺维也夫、加米涅夫和布哈林的机会主义和背叛作斗争。斯大林发展了这场斗争13年，他以行政方式解决问题是错误的。</p>
<p>在世界大战期间，斯大林同志领导下的苏联不得不用焦土政策保卫领土，两千五百万人用生命保卫了社会主义祖国。在复杂和困难的条件下——在斯大林同志的领导下——无产阶级专政被巩固，社会主义取得胜利。25年内实施的五个五年计划在生产关系上产生了最大的变革，导致了有史以来生产力最强力的发展，人民群众取得了迄今为止最伟大的社会成就。</p>
<p>我们主张毛主席关于斯大林同志作用的立场，他是一位伟大的马克思主义者。此外，我们必须牢记，他出色地定义了列宁主义。我们，共产党人，今天有着保卫他在二战、共产国际特别是其第七次世界大会中的作用的任务。</p>
<p>毛泽东主席同时发展了马克思列宁毛主义，把马克思主义提升到最高峰，无产阶级的理论变为了马克思列宁毛主义。他在顽强不懈的斗争中完成了这项任务，粉碎了中国共产党内部的右倾机会主义路线——我们在此强调粉碎刘少奇和邓小平修正主义路线的斗争；在国际上，他领导了反对赫鲁晓夫现代修正主义的斗争并击败了它。他实现了中国民主革命，不间断地过渡到社会主义革命和无产阶级文化大革命。</p>
<p>从历史上看，无产阶级文化大革命是毛主席做出的马克思列宁主义最杰出的发展；它是无产阶级专政下继续革命这个悬而未决的大问题的解决方法；“它代表着社会主义革命发展的新阶段，甚至更深和更宽的阶段。”</p>
<p>我们强调两个问题：（1）无产阶级文化大革命意味着无产阶级专政发展的里程碑，把无产阶级扎根于政权中，这具体化为“三结合”的革命委员会；（2）中国的资本主义复辟——1976年邓小平集团的反革命政变后——没有否定无产阶级文化大革命，而只是复辟-
反复辟斗争的一部分，与否定相反，它向我们表明，无产阶级文化大革命在人类向共产主义的无情前进中具有的非凡的历史重要性。</p>
<p>在这种情况下，产生了最惊天动地的政治进程和地球上有史以来最大规模的群众动员，毛主席如下确定了它的目标：“现在的无产阶级文化大革命对巩固无产阶级专政、防止资本主义复辟和建设社会主义十分必要，非常及时。”</p>
<p>毛主席认为，没有正确的思想政治观点，就没有灵魂，无产阶级文化大革命是一场伟大的革命，目标是改造人们的灵魂——换言之，改造世界观、意识形态——提升无产阶级和广大群众为了政权的斗争，保卫无产阶级专政、世界革命和共产主义。</p>
<p>因此，我们共产党人有着三把伟大的剑：我们的创始人马克思、伟大的列宁和毛泽东主席，我们的伟大任务是高举、捍卫和应用马克思列宁毛主义，把它置于世界革命的指导和指南上。</p>
<p>世界无产阶级革命的英雄主义之路和社会变革之路具体开始于1871年的巴黎公社，随后是1905年的俄国革命。之后，在第一次帝国主义世界大战期间，1917年伟大的十月社会主义革命胜利，开启了世界历史的新时代。</p>
<p>在这不久之后，帝国主义表现出腐朽的总危机，为了摆脱危机和重新确定新的世界霸权，用第二次帝国主义世界大战开始了主要大国间的对抗。这场战争在世界范围内转化为伟大的民族解放战斗，并使革命与反革命的矛盾更加尖锐——导致法西斯主义的瓦解和苏联与红军的伟大胜利，以及欧洲和亚洲的许多其他民主革命，产生了一个广泛的社会主义阵营。</p>
<p>随着中国革命的胜利，资本主义和社会主义间世界力量战略相持的新的关系形成了。第二次世界大战后的所有时期都是帝国主义和社会主义间的激烈斗争时期。美帝国主义者实现了资本主义阵营内的霸权，用核弹敲诈威胁世界，这在整个世界的阶级斗争中响起。</p>
<p>在苏联，苏共右派起来阻挡社会主义的发展——随伟大的斯大林同志的逝世——抓住时机，采取攻势，现代修正主义走到阳光下，破坏无产阶级专政和国际共产主义运动的团结。在1956年的苏共二十大上，赫鲁晓夫修正主义横行猖獗，篡夺了列宁和斯大林的党与红军的领导权。无产阶级专政因一场国家政变而被篡夺，导致资本主义在苏联复辟。</p>
<p>面对这个事实，帝国主义在许多国家鼓动和推进进攻——用国家政变的方式——为的是加深它的统治，反对发生在亚洲、非洲和拉丁美洲的民族解放斗争的高潮。中共——领导它的毛主席——和少数党起来反对赫鲁晓夫修正主义和帝国主义，保卫世界革命，开始了曾见过的最伟大的思想斗争。所有这些进程激化了全世界共产党的内部斗争。</p>
<p>在中国，中共的左派——毛主席的伟大领导下——在保卫马克思列宁主义和毛泽东思想中发起进攻，他们开始了无产阶级文化大革命，这深化了社会主义革命。它综合了如何在无产阶级专政下进行阶级斗争和革命的道路——马克思主义中到那时仍未解决的极其重要的问题。它阻止了资本主义在中国复辟达十年。随着毛主席的逝世，右翼走资本主义派——邓小平集团——受到鼓舞，能够偷袭和篡夺无产阶级专政的权力。</p>
<p>随后，世界革命失去了根据地，进入了国际共运力量分散的新时期。在反对现代修正主义和保卫马克思主义、列宁主义、毛泽东思想的斗争中，世界许多国家重建的党发动了人民战争。因此，世界无产阶级革命的火炬在武装斗争得到了维护，如印度、菲律宾、土耳其和后来的秘鲁的人民战争。特别是随着秘鲁人民战争——在贡萨罗主席的伟大领导下，通过把马克思主义、列宁主义、毛泽东思想应用到秘鲁革命中——毛主义被定义为马克思主义发展的新的、第三个和更高阶段。</p>
<p>在恶化的帝国主义总危机中，一场以美国为首的反革命总攻被释放。但是，他们只得到了这个制度所有矛盾都激化，导致世界变得日益大乱，推进了它的瓦解。这产生了全世界被剥削和被压迫的群众的巨大爆发，继续和推动了正在进行的人民战争，准备发动更多的人民战争，以及因严重激化的帝国主义内部矛盾而对被压迫民族的掠夺战争的加剧。</p>
<p>面对当前形势，我们共产党人通过团结在马克思列宁毛主义周围，面临着国际共运中做出飞跃的巨大挑战，制定它的总政治路线，为的是与帝国主义的反革命总攻战斗，而这在其尖锐的矛盾中被刺成了碎片。</p>
<p>世界历史正进入新的历史时期。今天，共产党人准确确定了世界无产阶级革命的时刻。这是理解当前世界力量关系、我们的处境和敌人处境，为世界革命的发展服务的关键。</p>
<p>毛主席教导我们，道路是曲折的，但前途是光明的。革命迟早会在全世界胜利，共产主义迟早会照耀地球，而这取决于共产党人的行动。</p>
<p><strong>3. 国际形势</strong></p>
<p>坚持列宁的论点，帝国主义的经济关系构成了当前既存国际形势的基础。在整个20世纪，资本主义的这个新的特定阶段——其更高和最后一个阶段——彻底明确。世界分为被压迫国家和压迫国家是帝国主义的独特特征。资本主义社会整个进程的基本矛盾是无产阶级和资产阶级的矛盾。但是，当它从非垄断资本主义转变为垄断资本主义——或帝国主义时，三对基本矛盾在世界上发展起来。</p>
<p>第一对矛盾：被压迫民族与帝国主义超级大国和大国。这是当前时刻的主要矛盾，同时也是帝国主义时代的主要矛盾。世界被分为两部分，一部分是大量的被压迫民族——它们是殖民地或半殖民地国家（后者只有形式主权或独立，他们在经济上、政治上和文化上屈从于帝国主义）；另一部分是少数的帝国主义大国，超级大国或大国——它们都是压迫民族。在帝国主义大国方面，美帝国主义是唯一霸权超级大国。俄罗斯仍是核超级大国，还有一小撮二流帝国主义大国。</p>
<p>美帝国主义是世界上的最大的资本输出者，这表现在其经济上的极大失衡上。为了保持其霸权，帝国主义被迫同时进行多场战争，以及在各大陆都有军事存在。这导致维持其庞大的军事机器、间谍活动和覆盖操作（covered
operations）的巨大经济成本，过去战争和当前战争的信用成本，对战争的退伍军人的支持；更不用说在自己的土地上的高额社会成本，蔑视被压迫民族的群众的生命和尊严，为征服他们而实施种族灭绝，这浇灌了全世界人民的阶级仇恨。</p>
<p>就其自身而言，被压迫国家有着最多、最穷的人口，他们遭到帝国主义压迫的压服，他们生活在不能满足人类实现发展的条件下，他们忍受着生活条件和自然环境的恶化，他们遭受着帝国主义及其当地走狗的系统性掠夺战争的折磨。</p>
<p>官僚资本主义在这些国家的半封建半殖民地的基础上发展。它产生了相应的政治和思想类型，系统性地阻止民族发展，它剥削无产阶级、农民、小资产阶级和限制中等资产阶级。</p>
<p>不承认被压迫国家的半封建性质，从而否定用农民战争解决它的必要性，最终否定这些国家民主革命的必要性，否定发展人民战争作为联合战争——其中农村是主要的，城市是必要补充——结束半封建主义、帝国主义和官僚资本主义的必要性。</p>
<p>世界危机会继续被转嫁到被压迫国家，只要它们还是这种情况，就仍是帝国主义重新分配的战利品。帝国主义的政策是用进一步的反动和暴力对被压迫民族进行进一步的民族征服或抢夺和劫掠战争。帝国主义者的计划是分割各国，根据军事力量关系和战略要地的占领推进重新分割世界。他们寻求的不是和平，而是用强加的“协定”和“和平协议”的投降条约来征服人民，只是把他们在战场上取得的东西合法化。</p>
<p>亚洲、非洲和拉丁美洲的被压迫国家——如毛主席指出的——是革命风暴地区和世界无产阶级革命的基础。必须强调被压迫国家甚至扩展到了欧洲。</p>
<p>我们重申，真正的民族自决只能根据各自的情况，通过新民主主义革命或社会主义革命来实现，对此，必须建立或重建新型的共产党，能够领导革命进行到底的马克思列宁毛主义党。毛主席在以下的伟大指南中出色地总结了被压迫民族的所有斗争：“国家要独立，民族要解放，人民要革命！”</p>
<p>第二对矛盾：资产阶级和无产阶级。</p>
<p>2008年的经济危机是以美国的金融危机开始的，转嫁给了被压迫民族和甚至帝国主义国家自身的群众身上。因此，它打击了帝国主义国家的无产阶级，他们为保卫在整个20世纪所取得的成就而进行了激烈的斗争。这场危机的后果并没有被克服，这就是为什么恢复就业是以质量下降、工资降低和工作日延长为代价的。复苏是以增加对无产阶级的超额剥削为代价的。</p>
<p>无产阶级-
资产阶级的矛盾也因成千上万的战争难民和普通穷人——逃离帝国主义战争和半殖民地的残酷剥削和压迫——的移民潮而恶化。移民正在加强帝国主义国家的无产阶级队伍。这些移民潮是这个制度本身造成的，他们导致的“人道主义悲剧”使帝国主义国家的垄断组织受益，因为这些劳动力对他们来说没有任何成本，因此降低了工资，从而降低了生产成本。</p>
<p>同时，帝国主义者自己在他们的媒体上乖张地宣传这些移民的“恐怖主义”危险，宣扬沙文主义的歇斯底里，滋生种族主义和民族主义。帝国主义运用沙文主义的反动政策，把无产阶级分为本地工人和移民工人，来阻止无产阶级统一的阶级自觉行动。阻止它组织成一个单一阶级，有着共同的利益和单一意识形态、单一政治和单一党——共产党。</p>
<p>帝国主义国家的矛盾也存在于革命与反革命间，这不是改变这个或那个政治体制的问题——换言之，资产阶级专政的政府形式——而是用社会主义革命结束资产阶级对无产阶级和人民的专政。</p>
<p>资产阶级-
无产阶级的矛盾和帝国主义民族中的其他所有矛盾都在激化。而且，由于帝国主义国家——特别是美帝国主义——对被压迫民族和他们的人民的种种罪行，帝国主义国家内部日益抵抗——这是其当前分解阶段的一个特征。帝国主义战争必须滚回家。</p>
<p>此外，在他们自己的土地上，美国国家的镇压力量系统性地不断谋杀最贫穷的人，这是针对美国无产阶级和人民——特别是针对黑人和被压迫民族移民及其后裔的战争的一部分。面对压迫，倾向是群众在造反中崛起，把他们为被压迫民族大规模种族灭绝而获得的枪支转向他们自己的压迫者。证实这种倾向的一些表现已经出现。</p>
<p>总之，主要的是反帝国主义战争的运动会壮大，再加上造阶级剥削和压迫的反和群众的日益贫困化。这正在所有的帝国主义国家发生。</p>
<p>当处理当今世界的基本矛盾时——也就是说，决定性标志着国际阶级斗争、革命与反革命斗争的矛盾——我们认为无产阶级-
资产阶级的矛盾不止存在于帝国主义国家。这对矛盾存在于世界上的所有国家。</p>
<p>在被压迫国家，它表现为无产阶级与官僚-
买办资产阶级的矛盾。在这些国家，人民一边有一个中心：无产阶级，它是唯一能领导民主革命进行到底的阶级，在特定情况下，它发展它的先锋队——共产党——用行动领导人民战争，形成工农联盟，赢得可信赖的盟友小资产阶级——在特定的情况和条件下——联合民族资产阶级（中等资产阶级）。</p>
<p>在这些国家，统治阶级越尝试重建国家，无产阶级与官僚-
买办资产阶级间的对抗性矛盾甚至越明显。这两个对抗的阶级开始日益两极分化，无产阶级作为民主革命的唯一领导阶级变得更加重要。</p>
<p>我们强调民主革命中的三对基本矛盾：民族-帝国主义的矛盾、人民-官僚资本主义的矛盾和群众-
封建制的矛盾。这三个矛盾中的任何一个都会根据革命时期而成为重要矛盾。在被压迫国家，无产阶级-资产阶级的矛盾表现为人民-
官僚资本主义的矛盾（由此，无产阶级是人民一边的领导阶级）。当民主革命取得胜利——经济上没收帝国主义资本、官僚资本主义，大地主封建的财产按人分配给贫农，主要是无地或少地贫农——社会主义革命在这个时刻就开始不间断地发展，改变革命性质，之后无产阶级-
资产阶级的矛盾成为了主要矛盾。</p>
<p>作为毛主义者，我们非常清楚，在社会主义革命胜利之后——已经建立无产阶级专政
——对应着要进行连续的文化革命，为的是防止资本主义复辟和继续向共产主义前进，要么所有人进入共产主义，要么没人进入。</p>
<p>第三对矛盾：帝国主义内部矛盾。正如列宁教导我们的：帝国主义不是一体的——有不同的帝国主义国家。换言之，有着帝国主义大国和超级大国，它们根据经济、政治和军事的力量关系瓜分世界；力量关系一直在变化，因勾结和竞争而发展。</p>
<p>美国现在占据着唯一霸权超级大国的地位。在社会帝国主义苏联于1991年解体后，帝国主义俄罗斯的经济实力下降，军事力量也是如此，但它仍保持着核超级大国的特性。反过来，其他帝国主义大国，如德国、英国、法国、日本、中国、奥地利、荷兰、澳大利亚、瑞典、加拿大、意大利、西班牙等，也都属于少数压迫国家。自上世纪90年代的十年以来，他们为新瓜分原屈从于社会帝国主义苏联的被压迫国家而竞争。自此，发生在东欧、中亚的前苏维埃共和国、所谓的大中东——波斯湾、伊拉克、阿富汗、叙利亚、北非——，远东
——朝鲜——，东南亚——越南、老挝、柬埔寨——和拉丁美洲——古巴、尼加拉瓜和委内瑞拉——与此有些许关联的所有事件——好战的或者非好战的——都包括在新瓜分这些国家的争夺中。</p>
<p>当今的世界形势是美帝国主义用血与火发展其侵略战争的计划造成的。他们的主要战略目标是夺走俄罗斯的核超级大国的地位，牵制社会帝国主义中国，推动其逐步开放经济。与其他帝国主义大国的联盟——根据便利程度——如与德国、法国、英国等，被用于颠覆对俄罗斯有高战略价值的影响区的秩序，实施经济制裁作为对所有帝国主义大国的威胁。反之，俄罗斯努力保持其影响区，特别是乌克兰、叙利亚和伊朗。</p>
<p>至于帝国主义者，无论是独自一个还是联合，他们都反对一个或许多被压迫国家，不仅是主要矛盾在此刻表现出来，第三个矛盾——帝国主义者内部的矛盾——也表现了出来。美帝国主义用“分而治之”对付其他帝国主义大国。帝国主义者肆意违反他们自己的条约，他们自己的国际规则——不侵略的原则——因为这项规则是让其他帝国主义者遵守的。这就是为什么帝国主义者间的和平与和谐是一再重复的老掉牙故事——如“超帝国主义”、“超级帝国主义”故事一样，散播如“新帝国主义”、“新殖民主义”、“新自由主义”、“全球化”、“地缘政治”等反动概念，这些假理论被帝国主义者自己和修正主义者用来主要反对民主革命和民族解放斗争。</p>
<p>帝国主义的争夺是绝对的，勾结是相对的。这决定了帝国主义联盟的有条件性和暂时性；这就是为什么不能说“帝国主义集团”，这是修正主义。因此，欧盟不是一个集团或“欧洲帝国主义”，而是德国霸权——与法国竞争又勾结，企图增加力量——下的一个欧洲国家联盟，与美帝国主义争夺。</p>
<p>二流帝国主义大国为把自己变为新的超级大国而斗争，开始为今天美帝国主义占据的世界霸权地位而争斗，强加——用一场新的世纪大战——新分割世界——已经被分割的世界——和新的世界秩序。</p>
<p>关于社会主义和资本主义的矛盾——对应着世界无产阶级革命的整个时代——在当前形势下，它在思想和历史领域表现出来和发展——这是由于中国资本复辟后直到现在，没有社会主义。</p>
<p>在反动一方，这个矛盾表现为反革命总攻——正在减弱——当前用“反恐战争”针对民族解放战争。我们用马克思列宁毛主义的革命反攻反对它，主要是发展人民战争。在革命一方，社会主义和资本主义的矛盾表现为社会主义作为思想在无产阶级和世界人民的斗争中；在印度、秘鲁、土耳其和菲律宾的正在进行的战斗和人民战争中；为在毛主义的指导和主要应用人民战争下团结国际共运，而不懈地宣传和加强马克思列宁毛主义党和组织间的两条路线斗争中。</p>
<p>所有这些，一方面推动了资产阶级国家（被压迫国家中为帝国主义服务的大地主-
资产阶级国家）更大的反动化，应对在全世界不平衡发展的革命形势。它表现为向行政权的绝对权力集中前进——总统绝对主义或法西斯主义——根据不同国家的特点。面对维持统治的危机和革命，及准备帝国主义侵略战争而集中权力。</p>
<p>世界的客观形势在发展，根本上是由于帝国主义腐朽的总危机的恶化——甚至反动派自己也承认。这是其崩溃的加深。少数帝国主义者和第三世界大资产阶级与地主占有不断增长的社会生产的巨额财富，而世界的人民群众却被剥夺了对其财富的占有。所有这些的结果是加深的危机和帝国主义最后总危机中的更短的周期，促使所有帝国主义国家发动新的瓜分的掠夺战争。</p>
<p>帝国主义仍然活着，美帝国主义——唯一霸权超级大国和世界反革命宪兵——是世界人民的主要敌人；它仍然在非洲、亚洲和拉丁美洲为所欲为；它仍然用部队占领殖民地，在世界各地建立军事基地，强加掠夺战争；它继续压迫国内的人民群众。但是同样的情况也变得更加难以仍受，世界人民的90%迟早会起来反对帝国主义和反动派的，这是不可避免的。这一切都在激烈的斗争和不平衡的发展中，这是已经在进行的新的世界无产阶级革命的巨浪。</p>
<p>自这个十年开始以来，帝国主义和官僚资本主义的危机在全世界甚至更加严重。每当它的腐朽加深，所有的矛盾就会激化；这导致革命形势在全世界更加不平衡地发展。这种情况表现在群众的伟大活动上，它的爆发使一切反动派及其修正主义走狗颤抖。它以前所未有的大爆发而无处不在。客观形势与主观因素快速相遇——主要是共产党，新型的马克思列宁毛主义党发动新的人民战争。因此，一个新的时刻开始了，这个革命时期是世界无产阶级革命新巨浪的一部分。这个形势决定了全世界共产党的任务、战略和策略。</p>
<p><strong>4. 国际共产主义运动</strong></p>
<p>我们重申1848年《共产党宣言》[3]的全面有效性，它是国际共产主义运动诞生的起点和基石。它建立了无产阶级革命者的基本原则和纲领。我们伟大的创始人马克思和恩格斯给出了伟大的号召和口号：“全世界无产者，联合起来！”，这个战斗口号激励着全世界无产者的斗争，指引着它解放的道路。马克思和恩格斯燃起的革命之火，点燃了世界，永远地改变了世界历史进程。</p>
<p>马克思说：“过去的经验证明：忽视在各国工人间应当存在的兄弟团结，忽视那应该鼓励他们在解放斗争中坚定地并肩作战的兄弟团结，就会使他们受到惩罚，——使他们分散的努力遭到共同的失败。”</p>
<p>列宁明确了真正的无产阶级国际主义需要：“第一、要求一个国家的无产阶级斗争的利益服从全世界范围内的无产阶级斗争的利益；第二、要求正在战胜资产阶级的民族，有能力和决心去为推翻国际资本而承担最大的民族牺牲。”毛主席提出了最深刻意义上的国际主义：“这是共产主义的精神。”</p>
<p>因此，国际共产主义运动的历史是光辉的斗争历程，在这个历程中，全世界的共产党人进行斗争，进行团结的斗争，为实现不变的目标：共产主义社会服务。</p>
<p>在这个英勇的斗争建立了三个国际：</p>
<p>第一国际，或国际工人协会，是马克思和恩格斯在反对无政府主义、布朗基派和其他立场的激烈斗争中建立的，确立了无产阶级的意识形态是唯一的——马克思主义——它与无产阶级的国际性及其革命政党牢固、科学地结合在一起，奠定了无产阶级革命的思想基础。当时的国际被企图篡夺它的机会主义者渗透和包围，马克思提出国际工人协会最好结束，而不是目睹它被无原则的团结扼杀。</p>
<p>第二国际，以马克思主义基础，是恩格斯在1889年建立的，为剧增的工人社会主义组织和政党，特别是欧洲和北美的组织和政党服务。恩格斯逝世后，伯恩斯坦和考茨基的修正主义攻击第二国际的领导层，它退化成了机会主义，最终在一战期间破产，当时，它们的领导人在护国主义[4]的借口下反对反帝国主义战争的斗争。他们在议会投票赞成战争贷款，拒绝变帝国主义战争为革命——他们支持帝国主义战争和本国的资产阶级——变成了社会爱国者、社会沙文主义者和社会叛徒。</p>
<p>1919年3月第三国际的建立是列宁的伟大领导和布尔什维克党下发展的国际共运内部左派长期斗争的结果。它浓缩了在反对沙皇制、帝国主义和所有的反对派的战斗及不可分地反对粉饰旧秩序的第二国际各党的所有的机会主义和修正主义的斗争中无产阶级革命经验。列宁设想和建立了第三国际作为战争机器，进行世界无产阶级革命和无产阶级专政建设。第三国际的建立是国际共产主义运动史上的伟大飞跃。</p>
<p>第三国际——共产国际（CI或Comintern）——存在了24年，到1943年自己解散的这段时间举行了7次世界大会。它不得不在复杂环境下发展。这种复杂环境表现为其创建者和主要领袖——伟大的列宁——在1924年逝世，苏联社会主义建设的巨大挑战，法西斯在世界许多国家崛起掌权——特别是欧洲——和第二次世界大战的开始。</p>
<p>它的存在受到布尔什维克党内长达13年的激烈而艰苦的两条路线斗争的强烈影响，其中，左派——在斯大林同志的领导下——不得不进行顽强地斗争，揭露和粉碎托洛茨基主义、布哈林主义和加米涅夫-
季诺维也夫右倾机会主义集团和其他派别及黑线，反对他们削弱苏联无产阶级专政的努力，他们企图篡夺共产国际的领导，控制机构在许多部分推行他们的政策——造成严重伤害的罪恶行为。</p>
<p>因此，共产国际遭受了右倾和“左”倾偏差——特别是在五大至七大期间——它发布了许多错误的建议和指示，对各革命党和过程造成了一些伤害。但是，主要的是斯大林同志领导——发展两条路线斗争——共产国际中的左派阻止了修正主义的篡权，粉碎了领导层中托洛茨基主义和季诺维也夫主义的影响。在斯大林同志正确而公正的领导下，共产国际保持了红色，马克思列宁主义占据上风，修正主义不能抬头。</p>
<p>由于当时的环境和面临的挑战，1935年中召开的七大尤为杰出。这次重要的大会必须在困难而复杂的形势中回答影响深远的新问题。</p>
<p>七大建立了世界反法西斯主义战线和人民阵线的策略，来保卫无产阶级专政和发展无产阶级革命，同时与法西斯主义的反革命进攻作战。有了它，在国际共运史上第一次，国际无产阶级和全世界人民群众能在同一个旗帜、同一个政策、同一个计划和同一个领导下团结起来，有着同一支战斗部队，形成了从列宁那里继承下来的任务，即一个世界革命真正的战争机器。</p>
<p>在共产国际的指导下，数以百万计的群众为反法西斯主义、革命和保卫苏联而如钢铁洪流般崛起。中国革命坚持到底，改变了世界范围内反对帝国主义和反动派的斗争的力量关系，有利于社会主义、无产阶级和被压迫人民。</p>
<p>在共产国际的领导下，共产党人进行了游击战争的英勇武装斗争——如西班牙内战——在数十个国家——不仅是在欧洲，也在亚洲。这些国家的革命没有胜利，造成这种结果主要是因为没有足够成熟和准备好的以马克思列宁主义为基础的和警惕修正主义的共产党。尽管如此，如历史表明的，它的斗争为击败法西斯主义做出了贡献，共产党人已经向全世界表明了共产党人的高度英勇和英雄主义，不允许阶级的士气受到打击。</p>
<p>在毛主席的领导下，中共运用七大的决议，明白了如何针对中国革命的特定需要运用统一战线政策——实行独立自主、团结斗争，打败了日本法西斯，继续进行解放战争，直到夺取全国政权，打败了本国统治阶级及其帝国主义主子，完成了新民主主义革命，不间断地进行社会主义革命。马克思列宁主义的创造性应用和把七大确立的路线应用到中国革命的具体情况中，导致了统一战线更加深刻的发展和全面理解，全面发展了人民战争的理论和实践。</p>
<p>许多国家发生的问题和偏差主要是由于各国党对统一战线的运用，主要责任是负责把国际路线应用到各自国家的共产党。根据毛主席提出的，为了建立对这一经验的正确评估，必须在那些仍留在马克思主义中的人和滑入修正主义泥潭的人之间画一条清晰的分界线，对于仍是前者的人，我们需要区分主要错误和实践中的错误。最关键的是，毛主席制定了统一战线的六条规律、革命三大基本工具及其相互关系。</p>
<p>在如意大利和法国这样的许多国家里，在进行了反纳粹法西斯主义的武装斗争的英勇抵抗后，由于共产党领导层中的右倾机会主义立场，这些党离开了共产国际的指引和马克思列宁主义的基本原则，他们的领导层在资产阶级面前投降了，同时以保卫民主自由政权为中心，背叛了革命，堕落为最腐朽的修正主义，现代修正主义。</p>
<p>在世界上，在斯大林同志的领导下，反法西斯阵线得以出色运用——中心是保卫以苏联为代表的无产阶级专政。由此，面对法西斯的无产阶级专政和世界革命向前推进。反法西斯战争的胜利是社会主义伟大而英勇的胜利，是国际无产阶级和世界被压迫人民对帝国主义和世界反动派的胜利，是马克思列宁主义对修正主义的胜利。</p>
<p>随着反法西斯战争的胜利，帝国主义阵营被削弱，无产阶级革命壮大。得益于红军和抵抗战争的光辉作用，革命扩大到东欧和中欧，到达部分德国——社会主义阵营从而壮大。值得注意的是，随着1949年中国革命的胜利，革命和反革命在国际上的力量关系变得有利于世界革命。世界革命发展到了战略相持阶段——强大的社会主义阵营与强大的殖民地和半殖民地民族解放运动出现。</p>
<p>这就是为什么我们认为七大是一次重要的马克思列宁主义大会，用正确和合理的政治路线武装了无产阶级，去和法西斯战斗和推动了世界无产阶级革命。</p>
<p>尽管共产国际和斯大林同志在这个过程中犯了一些错误，但是严重的偏差和背叛问题是陷入这些情况的这些党的领导层的修正主义犯下的，而不能归咎于斯大林同志、联共（布）或共产国际。</p>
<p>当回顾国际共运和无产阶级革命的历史时，我们看到斯大林同志明白如何坚定和英明地运用——在复杂且困难形势中——列宁定义的真正的无产阶级国际主义，让特殊利益和民族利益服从作为整体的国际无产阶级的利益，把保卫世界无产阶级革命和共产主义事业放在首位。</p>
<p>1943年，共产国际宣布解散，国际共运进入了相对分散时期，这主要是现代修正主义的分裂主义和背叛行动造成的。现代修正主义是以白劳德、铁托、陶里亚蒂、多列士和赫鲁晓夫（主要的）为代表的逆流。在臭名昭著的苏共二十大上，赫鲁晓夫集团篡夺了苏共领导层、红军和社会主义国家——使它们依次堕落为修正主义党、反人民的军队和社会法西斯主义的资产阶级国家——破坏了无产阶级专政，损害了国际共产主义运动团结的基本原则。</p>
<p>1947年，共产党和工人党情报局成立，斯大林同志通过情报局与现代修正主义作激烈的斗争，粉碎和谴责铁托修正主义。正是情报局开始了反对修正主义掌权的第一个国家的斗争。在布达佩斯会议上，铁托修正主义遭到谴责和驱逐，清晰表明，说斯大林同志与二战后出现的民族和解的修正主义路线和其他修正主义者的路线调和是谎言。情报局——在斯大林同志的领导下——开始了反对现代修正主义的斗争，而毛主席在多年后完成了这个斗争。</p>
<p>共产党人在世界层面上联合的任务——第二次世界大战和斯大林逝世后——是在反对现代修正主义的激烈斗争中进行的，其中，毛主席作为成长的世界革命的伟大领袖出现。</p>
<p>1957年和1960年，莫斯科召开了两次共产党和工人党国际会议。这两次会议的宣言对应着当时国际共运中两条路线斗争的发展，它们的结果是让步，目的是不在当时分裂，给苏共内部斯大林的真正追随者时间发起党内的两条路线斗争。考虑到苏共的分量非常大，其内部形势非常困难，这反映了以毛主席为领导的中共领导的左派在运用有理、有利和有节的原则时的正确做法。</p>
<p>1961年，苏共召开二十二大，系统总结了现代修正主义的立场。毛主席——领导中国共产党——确定了新修正主义的本质，他总结为“三和两全”。赫鲁晓夫歪曲列宁的和平共处论点——区分了不同社会制度的国家的关系和国内各阶级的关系——提出了“和平共存”作为国际共产主义运动的总路线。对赫鲁晓夫来说，问题是避免战争——因为据他说——核武器不会区分剥削者还是被剥削者，这就是为什么为了避免人类灭亡，人类必须相互合作。“和平过渡”的提出则是革命不需要革命暴力，而是通过“和平道路”、选举和议会主义来用一种社会制度取代另一种社会制度。至于他们捍卫的“和平竞争”——为了摧毁帝国主义体系——社会主义制度应该进行竞争，来向帝国主义者展示社会主义制度更加优越，因此，帝国主义者应该变为社会主义。“全民国家”的修正主义论点意味着否定国家的阶级性质，具体反对无产阶级专政。“全民党”是另一个阴谋，否定了党作为无产阶级政党的阶级性质。因此，赫鲁晓夫鼓吹苏共二十二大是共产党人的新纲领，用“自由、平等和博爱”的资产阶级口号代替《共产党宣言》。《宣言》是共产党人的纲领，对它的否定激起和激化了马克思主义与修正主义的斗争。</p>
<p>1963年6月14日，《关于国际共产主义运动总路线的建议》即知名的“中国复信”发表，之后又发表了“九评”，毛主席和中共全方面地出色揭露和粉碎了现代修正主义。</p>
<p>只有随着大论战产生的鲜明的分界线——毛主席和中共领导的——国际共产主义运动才能提升到在毛主席的伟大领导及其对世界无产阶级革命的贡献周围再次联合。</p>
<p>毛主席在发展这场斗争的同时，也进行了反对中共内部的右倾机会主义路线——已经篡夺了党和国家重要机关——的斗争。</p>
<p>毛主席和中共认为——这种情况下——尚不足以适应新的共产主义国际，因为思想和政治基础——那时起应是马克思主义、列宁主义、毛泽东思想——没有确定。特别是阿尔巴尼亚劳动党——恩维尔·霍查领导的——没有接受毛泽东思想，想要只基于马克思列宁主义的国际，没有考虑已有的新发展，因为霍查在本质上反对毛泽东思想。</p>
<p>随着中国的无产阶级文化大革命，毛主席的影响在全世界日益增长。中共的精力集中在非常紧迫的事情上，如从刘少奇-
邓小平的修正主义篡权中把中华人民共和国的政权再夺回来，以及如何在无产阶级专政下继续革命。这就是毛主席如何——在反对修正主义的国内外阶级斗争中——成为无产阶级的伟大导师和世界革命的伟大领袖的，他的思想变为了马克思主义的第三个阶段——尽管定义和承认它的斗争只是在以后发生的。（我们）追寻这个目标已经四十年了，而国际毛主义统一会议是非常重要的一步。</p>
<p>上世纪60年代末和70年代初，在无产阶级文化大革命的影响下，反现代修正主义斗争的革命过程催生了坚持马克思主义、列宁主义、毛泽东思想的共产党和人民军队的建立；在印度是印共（马列）和毛共中心；在菲律宾是菲共；在土耳其是土共/马列，除了在其他国家进行反修正主义的斗争外，还保卫马克思主义、列宁主义、毛泽东思想，保卫无产阶级文化大革命和人民战争。</p>
<p>1976年9月毛主席逝世，中国修正主义者进行反革命政变攻击毛主席及其思想，马克思主义者的联合遇到了严重而复杂的问题。随着毛主席的逝世和邓小平及其帮凶在中国的修正主义篡权，我们共产党人在世界上变得分散，没有一个中心或世界革命的根据地；反革命露出爪子，否定毛主席和马克思主义、列宁主义、毛泽东思想的有效性，释放了邓小平（中国修正主义）、霍查（阿尔巴尼亚修正主义）和勃列日涅夫（俄国修正主义）的三重修正主义攻击。</p>
<p>1976年中国的反革命政变开始了国际共运深刻分散的新时期，其中美帝国主义发动了反革命总攻，集中和主要的攻击中心是夺走革命的灵魂——它的意识形态，马克思列宁毛主义。</p>
<p>1980年秋，13个共产党和组织签署了《致全世界的马克思列宁主义者、工人和被压迫者》的声明，呼吁共产党人团结在马克思列宁主义周围，坚持毛主席，但是认为它不是一个新的阶段，因而不具有普遍适用性——工作主要是美国革命共产党带领的。</p>
<p>1984年第二次会议召开，它决定成立革命国际主义运动（RIM）。在成立宣言中，它重申它受马克思主义、列宁主义、毛泽东思想的指导。</p>
<p>革际运是再次联合道路上向前迈进的一步，这就是为什么有必要对这一经验做出正确而公正的评价。对此，有必要分析革际运内部的两条路线斗争的过程和每一个党所发挥的作用。如每一个革命机体，左派、中派和右派在其核心的两条路线的发展中确定。</p>
<p>上世纪80年代的十年，在贡萨罗主席的伟大领导下，秘鲁共产党在国际共产主义运动中高举、捍卫和应用毛主义作为马克思主义第三个、新的和更高阶段。贡萨罗主席对国际共运的主要贡献是在1980年5月17日发动的秘鲁人民战争中高举、捍卫和应用毛主义，用彻底和科学的方法定义了毛主义。这个事件对世界无产阶级革命和国际共产主义运动有着基本的重要性，因为它证实了毛主义和人民战争的有效性。随着他的英勇牺牲——在帝国主义和反动派的地牢中抵抗完全孤立制度29年后被谋杀——他的名字永久镌刻在国际无产阶级的伟人长廊中。</p>
<p>经过秘共在革际运中的活动，它最终在1993年承认毛主义是马克思主义的新阶段。</p>
<p>革际运存在了20多年——从1984年成立到2006年因普拉昌达背叛尼泊尔人民战争和美革共让其服从于阿瓦基安修正主义的“新综合”的主张而解散。2012年，革际运正式解散。它的存在反映了国际共产主义运动的两条路线斗争。革际运服务于世界无产阶级革命和共产党人的再次联合而斗争的任务，而左派——在艰苦斗争中——能够保持推行毛主义作为世界革命核心的指导和指南的斗争。</p>
<p>但是，随着1992年贡萨罗主席被捕及随后秘鲁人民战争遭到的打击——这阻碍了国际共运内左派的行动——美革共与修正主义和投降主义的右倾机会主义路线（ROL）合流，利用复杂形势攻击左派，推进它的低劣霸权——首先隐蔽继而公开散播修正主义，反对马克思列宁毛主义，即所谓的“新综合”。</p>
<p>革际运更加缺乏凝聚力。在《宣言：革际运争取人民战争的世纪》（2000年）已经被批准和采取这个立场后，美革共——以阿瓦基安为首——开始否定它，滑入了修正主义道路，日益攻击毛主义。这加剧了这种情况。在随后的几年里，普拉昌达和阿瓦基安——二者都是修正主义倾向和头子——不仅是在革际运内部，而且是在整个国际共运中争夺霸权。革际运在思想上、政治上和组织上缺乏凝聚力也加剧了。最后，这些修正主义者在他们的委员会中瓦解了革际运。革际运造成了消极作用和堕落，走向了破产和解散。</p>
<p>今天——当世界上产生了新的世界无产阶级革命的巨浪，人民战争正在印度、秘鲁、土耳其和菲律宾进行，在许多国家准备着，当全世界产生了民族抵抗和人民抵抗的英勇斗争，当帝国主义的总危机及其溺死大大加剧——急迫和必须把国际共运核心进行的两条路线斗争提升到更高的水平，目的是确立和发展其必要的、公正而正确的总政治路线，通过在许多国家用人民战争点燃革命星火来加强这次的新巨浪，进一步推进已经发动的人民战争和无产阶级领导下的反帝国主义革命运动。</p>
<p>这就是为什么有必要在对无产阶级革命和作为整体的无产阶级专政的历史经验作出公正而正确的评价的基础上加深思想和政治斗争。这个评价特别是总结马克思主义第三阶段——毛主义——的应用经验。</p>
<p>推行马克思列宁毛主义作为世界革命的指南和指导的斗争是艰苦、漫长和复杂的。没有艰苦的斗争，马克思主义就不会发展，但最终，毛主义正指引着已经开始的世界无产阶级革命的新巨浪，为了用人民战争把帝国主义和反动派从地球上扫除，为了进行民主革命、社会主义革命和无产阶级文化革命——根据各自情况——和向光辉金黄的共产主义过渡，需要给它推动力。</p>
<p>特别需要保持加深的反对不同形式的新修正主义的斗争，因为——尽管他们在国际共运中被揭露和粉碎——他们仍然通过右倾和“左”倾机会主义立场、中派立场、取消主义立场等发挥影响，他们损害着国际共运作为一个整体的团结，因为他们是国际共运的主要危险。</p>
<p>庆祝第一次国际会议和新的国际组织的成立具有历史性的和非凡的重要性，它们是国际无产阶级的成就，是对帝国主义和世界反动派的反革命总攻以及修正主义和所有机会主义的显著打击。我们再次联合和克服国际共运分散的巨大一步已经迈出，在毛主义的指挥和指导下重建共产国际的有组织的斗争的新阶段开始了，这个新阶段的标志是将加入正在进行的人民战争的新的人民战争的发展。</p>
<p><strong>5. 新的无产阶级组织的原则</strong></p>
<ul>
<li>矛盾——永恒物质不断变化的唯一基本规律；</li>
<li>群众创造历史和造反有理；</li>
<li>阶级斗争、无产阶级专政和无产阶级国际主义；</li>
<li>把马克思列宁毛主义的普遍真理应用到具体情况中，把它与每个国家革命的实践融合起来；</li>
<li>坚定应用独立、自主和自力更生的马克思列宁毛主义共产党的必要性；</li>
<li>不可分地和无情地与帝国主义、修正主义及反动派作斗争；</li>
<li>两条路线斗争是推动党发展的动力；</li>
<li>要马克思主义，不要修正主义；要团结，不要分裂；要光明正大，不要阴谋诡计</li>
<li>不断改造思想和总是政治挂帅；</li>
<li>为人民服务，为世界无产阶级革命服务；</li>
<li>完全无私和公正而正确的工作作风；</li>
<li>反潮流。</li>
</ul>
<p>我们在确凿的马克思主义真理中特意重申毛主席提出的：“从马克思主义关于国家学说的观点看来，军队是国家政权的主要成分。谁想夺取国家政权，并想保持它，谁就应有强大的军队。有人笑我们是‘战争万能论’对，我们是革命战争万能论者，这不是坏的，是好的，是马克思主义的。俄国共产党的枪杆子造了一个社会主义。我们要造一个民主共和国。帝国主义时代的阶级斗争的经验告诉我们：工人阶级和劳动群众，只有用枪杆子的力量才能战胜武装的资产阶级和地主；在这个意义上，我们可以说，整个世界只有用枪杆子才可能改造。”</p>
<p><strong>6. 庄严的决定</strong></p>
<p>作为共产党人，我们是世界上的单一阶级——国际无产阶级——的子女——它与不可否认的命运连在一起——共产主义——要么所有人进入，要么没人进入。为此，我们坚决服从无产阶级国际主义，这是国际共运的一个基本原则，我们展开马克思和恩格斯在《共产党宣言》中明确的我们强大而不朽的口号：“全世界无产者，联合起来！”</p>
<p>参加国际毛主义统一会议（UMIC）的马克思列宁毛主义政党和组织——沿着伟大的列宁创立的第三国际的道路和国际共产主义运动的最优良传统——向国际无产阶级和世界人民郑重宣布，新的国际毛主义组织诞生的历史性和卓越性决定，新的国际毛主义组织在三面伟大而光辉的红旗下成立了：毛主义、反修正主义斗争和世界无产阶级革命。</p>
<p>怀着深深的共产主义信念，我们这些党和组织在此重聚并重申——再次怀着庄严的承诺——完成国际毛主义统一会议的协定，捍卫和应用国际无产阶级全能的意识形态——马克思列宁毛主义。</p>
<p>在为推行毛主义作为世界革命唯一指挥和指南的艰苦而不懈斗争中，它是一个坚定的承诺，它是唯一一面永不褪色的深色红旗，是无产阶级、被压迫民族和世界人民在迈向永放光芒的金黄的共产主义的不可阻挡的征途上胜利的保障。</p>
<p>马克思列宁毛主义政党和组织的第一次国际毛主义统一会议有着一个历史性的卓越和深刻的战略含义。它是呼应着世界无产阶级革命新巨浪的光荣任务。</p>
<p>怀着热烈的热情，洋溢着阶级乐观主义和深深感动，我们提出以下红色口号：</p>
<p><strong>第一次国际毛主义统一会议是基础，不可抗拒地迈向国际共运中共产党人的再次联合
——一个战争机器——一个战斗机器，举起马克思列宁毛主义和战无不胜的人民战争的不朽旗帜！！</strong></p>
<p>签 字：</p>
<p><strong>奥地利（毛主义）共产党成立委员会[KG（m）KPÖ）]，奥地利<br />
巴西共产党（P.C.B.），巴西<br />
智利共产党红色派（FRPCCh），智利<br />
哥伦比亚共产党（红色派）[PCC（FR）]，哥伦比亚<br />
无产阶级权力-哥伦比亚马列毛主义党组织（PP-OP-MLM），哥伦比亚<br />
厄瓜多尔共产党-红太阳（PCE-SR），厄瓜多尔<br />
芬兰毛主义委员会（MKS），芬兰<br />
毛主义共产党（PCM），法国国家<br />
红旗委员会（KRF），德意志联邦共和国<br />
墨西哥共产党重建委员会（CR-PCM），墨西哥<br />
重建挪威共产党组织（OGNKP），挪威<br />
秘鲁共产党（PCP），秘鲁<br />
毛主义共产党（PCM），西班牙国家<br />
瑞典共产主义者同盟，瑞典<br />
土耳其共产党/马克思列宁主义（TKP/ML），土耳其</strong></p>
<p>[1] “斗争，失败，再斗争，再失败，再斗争，直至胜利——这就是人民的逻辑，他们也是决不会违背这个逻辑的。”毛主席，《丢掉幻想，准备斗争》，1949年8月。<br />
[2] 这意味着军队：动员、政治化、组织和武装群众。<br />
[3] 包括了马克思和恩格斯写的所有的序言和注解，特别是1872年的序言。<br />
[4] 保卫帝国主义“祖国”。</p>
<p>链接：https://ci-ic.org/blog/2022/12/26/historical-news-of-the-successful-
holding-of-the-unified-maoist-international-conference-the-international-
communist-league-was-founded/</p>
<p>Source: <a href="https://maozhuyi.home.blog/2023/01/29/%e5%9b%bd%e9%99%85%e6%af%9b%e4%b8%bb%e4%b9%89%e7%bb%9f%e4%b8%80%e4%bc%9a%e8%ae%ae%e6%88%90%e5%8a%9f%e5%8f%ac%e5%bc%80%e7%9a%84%e5%8e%86%e5%8f%b2%e6%80%a7%e6%b6%88%e6%81%af-%e5%9b%bd%e9%99%85%e5%85%b1/">https://maozhuyi.home.blog/2023/01/29/%e5%9b%bd%e9%99%85%e6%af%9b%e4%b8%bb%e4%b9%89%e7%bb%9f%e4%b8%80%e4%bc%9a%e8%ae%ae%e6%88%90%e5%8a%9f%e5%8f%ac%e5%bc%80%e7%9a%84%e5%8e%86%e5%8f%b2%e6%80%a7%e6%b6%88%e6%81%af-%e5%9b%bd%e9%99%85%e5%85%b1/</a></p>