<h1>pc 29 gennaio: La polizia americana è composta di serial killer contro gli afroamericani, contro i poveri</h1>
<p>Author: fannyhill</p>
<p>Time: 2023-01-29T10:35:00+01:00</p>
<p>Images: ['<a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg7NUodUsMF33zNvmxeN7aTUX_rVaB74X5XtxCBuRS87pL7t2WLosk3tOOg9LOrJjm5ZMIg9z07N2o-Gp7qZVDWwV2ULeV5Gxi-6BtkwsaWAngg5rraQ6TpVKYV1CGYMgISFIQOr88LWmfNaxl2FhrwJgmAsV4Gj1yGFhByACHEtnJKBK7nTQMPDAKPsA/w400-h226/tiren.jpg">tiren.jpg</a>']</p>
<!--METADATA-->

<p><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg7NUodUsMF33zNvmxeN7aTUX_rVaB74X5XtxCBuRS87pL7t2WLosk3tOOg9LOrJjm5ZMIg9z07N2o-Gp7qZVDWwV2ULeV5Gxi-6BtkwsaWAngg5rraQ6TpVKYV1CGYMgISFIQOr88LWmfNaxl2FhrwJgmAsV4Gj1yGFhByACHEtnJKBK7nTQMPDAKPsA/s299/tiren.jpg"><img alt="" src="../Images/tiren.jpg" /></a></p>
<p>Lo Stato imperialista Usa, qualunque sia il suo presidente, è il "padrino" di
questa polizia. e quindi è complice e responsabili dei misfatti quotidiani che
seminano lutti e dolore nelle comunita' proletarie e povere di ogni origine e
di ogni razza negli Usa.</p>
<p>E' una guerra interna, altra faccia della guerra esterna che l'imperialismo
Usa conduce in ogni angolo del mondo.</p>
<p><strong>Massimo appoggio alle masse popolari americane che scendono in piazza
contro questo orrore quotidiano.</strong></p>
<p>Source: <a href="https://proletaricomunisti.blogspot.com/2023/01/pc-29-gennaio-la-polizia-americana-e.html">https://proletaricomunisti.blogspot.com/2023/01/pc-29-gennaio-la-polizia-americana-e.html</a></p>