<div class="view view-ns-prod-news-topic view-id-ns_prod_news_topic view-display-id-panel_pane_1 view-dom-id-a1aa421b63f7fae85431969eff68115a">
        
  
  
      <div class="view-content">
      <div class="dynamic-formatters-group promo-group clearfix"><div class="promo promo-0   clearfix">
  <div class="content-column-two-left alpha">
    <div class="content-column-two-left-inner clearfix">
        <div class="media-wrapper">
        <div class="field-item evenfield field-name-field-ns-prod-news-promo-media field-type-file field-label-hidden"><div id="file-7450" class="file file-image file-image-png">

      
  
  <div class="content">
    <img typeof="foaf:Image" src="https://www.kaypakkayahaber.com/sites/default/files/styles/grid-17/public/serfiraz_nidal2-750x375.png?itok=AD-erjCG" width="100" height="100" alt="" title="" />  </div>

  
</div>
</div>
    </div>
    </div>
  </div>
              <div class="field-item evenfield field-name-field-ns-prod-news-promo-article field-type-entityreference field-label-hidden"><a href="/haber/mlkp-kurdistan-orgutu-serfiraz-nidal-welat-yildiz-yoldas-olumsuzdur">MLKP KÜRDİSTAN ÖRGÜTÜ: “Serfiraz Nîdal (Welat Yıldız) Yoldaş Ölümsüzdür!”</a></div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-kicker field-type-text field-label-hidden">kaypakkaya haber</div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-lead field-type-text-long field-label-hidden"><p>Devrim kurumları Serfiraz yoldaşın hastalığı yenme mücadelesinde bütün imkanlarını seferber etti.</p></div>

      </div></div><div class="dynamic-formatters-group promo-group clearfix"><div class="promo promo-0   clearfix">
  <div class="content-column-two-left alpha">
    <div class="content-column-two-left-inner clearfix">
        <div class="media-wrapper">
        <div class="field-item evenfield field-name-field-ns-prod-news-promo-media field-type-file field-label-hidden"><div id="file-7440" class="file file-image file-image-png">

      
  
  <div class="content">
    <img typeof="foaf:Image" src="https://www.kaypakkayahaber.com/sites/default/files/styles/grid-17/public/onsayfa-678x381_0.png?itok=ZInd6zLw" width="100" height="100" alt="" title="" />  </div>

  
</div>
</div>
    </div>
    </div>
  </div>
              <div class="field-item evenfield field-name-field-ns-prod-news-promo-article field-type-entityreference field-label-hidden"><a href="/haber/tkp-ml-fransa-taraftarlari-san-olsun-partimiz-tkp-mlnin-50-yilina">TKP-ML Fransa Taraftarları: Şan olsun Partimiz TKP-ML’nin 50. Yılına!</a></div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-kicker field-type-text field-label-hidden">kaypakkaya haber</div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-lead field-type-text-long field-label-hidden"><p>Partimiz, “Sübjektivizmden, revizyonizmden ve dogmatizmden arınmış, kitlelerle kaynaşmış, teori ile pratiği birleştiren, özeleştiri metodunu uygulayan çelik disiplinli bir komünist partisi” olmak ilkesiyle hareket etmeye, kendi sınıf mücadelesi ve uluslararası proletaryanın sosyalizm mücadelesinde öğrenerek, sosyalizmin zaferi için kararlı ve azimli bir şekilde MLM yolunda ilerlemeye devam etmektedir.</p></div>

      </div></div><div class="dynamic-formatters-group promo-group clearfix"><div class="promo promo-0   clearfix">
  <div class="content-column-two-left alpha">
    <div class="content-column-two-left-inner clearfix">
        <div class="media-wrapper">
        <div class="field-item evenfield field-name-field-ns-prod-news-promo-media field-type-file field-label-hidden"><div id="file-7435" class="file file-image file-image-jpeg">

      
  
  <div class="content">
    <img typeof="foaf:Image" src="https://www.kaypakkayahaber.com/sites/default/files/styles/grid-17/public/emirali-yagan-.jpg?itok=1jcX_rY8" width="100" height="100" alt="" title="" />  </div>

  
</div>
</div>
    </div>
    </div>
  </div>
              <div class="field-item evenfield field-name-field-ns-prod-news-promo-article field-type-entityreference field-label-hidden"><a href="/haber/sair-ve-yazar-emirali-yagan-yasamini-yitirdi">Şair ve yazar Emirali Yağan yaşamını yitirdi</a></div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-kicker field-type-text field-label-hidden">kaypakkaya haber</div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-lead field-type-text-long field-label-hidden"><p>Şair ve yazar Emirali Yağan, tedavi gördüğü Fransa’da yaşamını yitirdi. Yağan’ın memleketi Dersim’de defnedilmesi bekleniyor.</p></div>

      </div></div><div class="dynamic-formatters-group promo-group clearfix"><div class="promo promo-0   clearfix">
  <div class="content-column-two-left alpha">
    <div class="content-column-two-left-inner clearfix">
        <div class="media-wrapper">
        <div class="field-item evenfield field-name-field-ns-prod-news-promo-media field-type-file field-label-hidden"><div id="file-7433" class="file file-image file-image-jpeg">

      
  
  <div class="content">
    <img typeof="foaf:Image" src="https://www.kaypakkayahaber.com/sites/default/files/styles/grid-17/public/kaypakkaya_anma_2022.jpg?itok=0bvk4Vza" width="100" height="100" alt="" title="" />  </div>

  
</div>
</div>
    </div>
    </div>
  </div>
              <div class="field-item evenfield field-name-field-ns-prod-news-promo-article field-type-entityreference field-label-hidden"><a href="/haber/kurulusunun-50-yilinda-partiyle-umudu-buyutuyoruz-etkinliginde-bulusalim">Kuruluşunun 50. Yılında Partiyle umudu büyütüyoruz etkinliğinde buluşalım!</a></div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-kicker field-type-text field-label-hidden">kaypakkaya haber</div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-lead field-type-text-long field-label-hidden"><p>Tüm göçmen işçileri, kadınları, gençliği, devrimci ve tüm yurtseverleri Proletarya partisinin kuruluşunun 50. yılında düzenlediğimiz gecede buluşmaya çağırıyoruz. 28 Mayıs 2022 tarihinde devrim sloganlarımızı hep birlikte haykıralım!</p></div>

      </div></div><div class="dynamic-formatters-group promo-group clearfix"><div class="promo promo-0   clearfix">
  <div class="content-column-two-left alpha">
    <div class="content-column-two-left-inner clearfix">
        <div class="media-wrapper">
        <div class="field-item evenfield field-name-field-ns-prod-news-promo-media field-type-file field-label-hidden"><div id="file-7432" class="file file-image file-image-jpeg">

      
  
  <div class="content">
    <img typeof="foaf:Image" src="https://www.kaypakkayahaber.com/sites/default/files/styles/grid-17/public/hbdh-sinan-ates-milisleri-750x375.jpg?itok=2_jMvPLT" width="100" height="100" alt="" title="" />  </div>

  
</div>
</div>
    </div>
    </div>
  </div>
              <div class="field-item evenfield field-name-field-ns-prod-news-promo-article field-type-entityreference field-label-hidden"><a href="/haber/hbdh-sinan-ates-milislerinden-akpli-belediyeye-ait-makinelerine-eylem">HBDH Sinan Ateş Milisleri’nden AKP’li Belediyeye Ait İş Makinelerine Eylem</a></div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-kicker field-type-text field-label-hidden">kaypakkaya haber</div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-lead field-type-text-long field-label-hidden"><p>Bu yağma düzenini yıkacağız! Onların anladığı dil devrimci eylemimizin dilidir!</p></div>

      </div></div><div class="dynamic-formatters-group promo-group clearfix"><div class="promo promo-0   clearfix">
  <div class="content-column-two-left alpha">
    <div class="content-column-two-left-inner clearfix">
        <div class="media-wrapper">
        <div class="field-item evenfield field-name-field-ns-prod-news-promo-media field-type-file field-label-hidden"><div id="file-7431" class="file file-image file-image-png">

      
  
  <div class="content">
    <img typeof="foaf:Image" src="https://www.kaypakkayahaber.com/sites/default/files/styles/grid-17/public/hbdh-sorxwin-ciwana-678x381.png?itok=RBkcLXwQ" width="100" height="100" alt="" title="" />  </div>

  
</div>
</div>
    </div>
    </div>
  </div>
              <div class="field-item evenfield field-name-field-ns-prod-news-promo-article field-type-entityreference field-label-hidden"><a href="/haber/hbdh-sorxwin-ciwana-munzur-milislerinden-esenyurtta-yol-kesme-eylemi">HBDH Sorxwin Ciwana Munzur Milisleri’nden Esenyurt’ta yol kesme eylemi</a></div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-kicker field-type-text field-label-hidden">kaypakkaya haber</div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-lead field-type-text-long field-label-hidden"><p>Bu irade 50. yılında zaferi taçlandıracaktır.</p></div>

      </div></div><div class="dynamic-formatters-group promo-group clearfix"><div class="promo promo-0   clearfix">
  <div class="content-column-two-left alpha">
    <div class="content-column-two-left-inner clearfix">
        <div class="media-wrapper">
        <div class="field-item evenfield field-name-field-ns-prod-news-promo-media field-type-file field-label-hidden"><div id="file-7430" class="file file-image file-image-jpeg">

      
  
  <div class="content">
    <img typeof="foaf:Image" src="https://www.kaypakkayahaber.com/sites/default/files/styles/grid-17/public/hbdh-agir-kop-milisleri-7-750x375.jpg?itok=uX7GPrUZ" width="100" height="100" alt="" title="" />  </div>

  
</div>
</div>
    </div>
    </div>
  </div>
              <div class="field-item evenfield field-name-field-ns-prod-news-promo-article field-type-entityreference field-label-hidden"><a href="/haber/hbdh-agir-kop-milisleri-kurt-halkinin-dogusunu-selamladik">HBDH Agir Kop Milisleri: “Kürt Halkının Doğuşunu Selamladık”</a></div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-kicker field-type-text field-label-hidden">kaypakkaya haber</div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-lead field-type-text-long field-label-hidden"><p>HBDH olarak Kürt halkının onurlu davasını 50. yılında birleşik devrimle zafere taşıyacağımızı ilan ediyoruz.</p></div>

      </div></div><div class="dynamic-formatters-group promo-group clearfix"><div class="promo promo-0   clearfix">
  <div class="content-column-two-left alpha">
    <div class="content-column-two-left-inner clearfix">
        <div class="media-wrapper">
        <div class="field-item evenfield field-name-field-ns-prod-news-promo-media field-type-file field-label-hidden"><div id="file-7429" class="file file-image file-image-png">

      
  
  <div class="content">
    <img typeof="foaf:Image" src="https://www.kaypakkayahaber.com/sites/default/files/styles/grid-17/public/kaypakkaya_haber_atik-26-kongre-cagri-620x330.png?itok=Frwe816A" width="100" height="100" alt="" title="" />  </div>

  
</div>
</div>
    </div>
    </div>
  </div>
              <div class="field-item evenfield field-name-field-ns-prod-news-promo-article field-type-entityreference field-label-hidden"><a href="/haber/atik-26-merkezi-kongresine-cagri">ATİK 26. Merkezi Kongresine Çağrı</a></div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-kicker field-type-text field-label-hidden">kaypakkaya haber</div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-lead field-type-text-long field-label-hidden"><p>ATİK Çatısı Altında Örgütlü Olan Federasyon, Ülke Komiteleri, Yeni Kadın, YDG, Dernek ve Komite Üyelerimize;</p></div>

      </div></div><div class="dynamic-formatters-group promo-group clearfix"><div class="promo promo-0   clearfix">
  <div class="content-column-two-left alpha">
    <div class="content-column-two-left-inner clearfix">
        <div class="media-wrapper">
        <div class="field-item evenfield field-name-field-ns-prod-news-promo-media field-type-file field-label-hidden"><div id="file-7428" class="file file-image file-image-jpeg">

      
  
  <div class="content">
    <img typeof="foaf:Image" src="https://www.kaypakkayahaber.com/sites/default/files/styles/grid-17/public/manset-fransa.jpg?itok=-pnqVP60" width="100" height="100" alt="" title="" />  </div>

  
</div>
</div>
    </div>
    </div>
  </div>
              <div class="field-item evenfield field-name-field-ns-prod-news-promo-article field-type-entityreference field-label-hidden"><a href="/haber/fransa-atik-komitesi">Fransa  ATİK Komitesi</a></div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-kicker field-type-text field-label-hidden">kaypakkaya haber</div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-lead field-type-text-long field-label-hidden"><p>Esas olan anti-faşist, anti-emperyalist geniş demokratik kitlesel birliklerin ortak mücadelesini her alanda örgütlemektir.</p></div>

      </div></div><div class="dynamic-formatters-group promo-group clearfix"><div class="promo promo-0   clearfix">
  <div class="content-column-two-left alpha">
    <div class="content-column-two-left-inner clearfix">
        <div class="media-wrapper">
        <div class="field-item evenfield field-name-field-ns-prod-news-promo-media field-type-file field-label-hidden"><div id="file-7426" class="file file-image file-image-jpeg">

      
  
  <div class="content">
    <img typeof="foaf:Image" src="https://www.kaypakkayahaber.com/sites/default/files/styles/grid-17/public/sinem_mut_anil_kaya.jpg?itok=HgaWdrg5" width="100" height="100" alt="" title="" />  </div>

  
</div>
</div>
    </div>
    </div>
  </div>
              <div class="field-item evenfield field-name-field-ns-prod-news-promo-article field-type-entityreference field-label-hidden"><a href="/haber/sinem-mut-ve-anil-kayanin-sinir-disi-edilme-karari-durduruldu">Sinem Mut ve Anıl Kaya’nın Sınır Dışı Edilme Kararı Durduruldu</a></div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-kicker field-type-text field-label-hidden">kaypakkaya haber</div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-lead field-type-text-long field-label-hidden"><p>Haklarında kesinleşmiş hapis cezası bulunan ve bundan dolayı zorunlu olarak Almanya’ya iltica başvuru yapan Sinem ve Anıl’ın başvuruları, Bundesamt für Migration und Flüchtlinge (BAMF) tarafından 15 Mayıs 2020 tarihinde “inandırıcı belge bulunamadığı” gerekçesiyle reddedilmişti.</p></div>

      </div></div><div class="dynamic-formatters-group promo-group clearfix"><div class="promo promo-0   clearfix">
  <div class="content-column-two-left alpha">
    <div class="content-column-two-left-inner clearfix">
        <div class="media-wrapper">
        <div class="field-item evenfield field-name-field-ns-prod-news-promo-media field-type-file field-label-hidden"><div id="file-7425" class="file file-image file-image-jpeg">

      
  
  <div class="content">
    <img typeof="foaf:Image" src="https://www.kaypakkayahaber.com/sites/default/files/styles/grid-17/public/hevi_sarya-750x375.jpg?itok=RwF8AsF8" width="100" height="100" alt="" title="" />  </div>

  
</div>
</div>
    </div>
    </div>
  </div>
              <div class="field-item evenfield field-name-field-ns-prod-news-promo-article field-type-entityreference field-label-hidden"><a href="/haber/kbdh-konsey-uyesi-hevisarya-ve-hbdh-yk-uyesi-tekin-yoldas-medya-haber-ozel-programinda-delal">KBDH Konsey üyesi HeviSarya ve HBDH YK üyesi Tekin Yoldaş, Medya Haber Özel Programı&#039;nda Delal Devrim&#039;in konuğu oldular (2 Nisan 2022)</a></div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-kicker field-type-text field-label-hidden">kaypakkaya haber</div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-lead field-type-text-long field-label-hidden"><p>HBDH Yürütme Komitesi üyesi Tekin Yoldaş ve KBDH Genel Konseyi üyesi HeviSarya, Medya Haber Özel Program’ında Delal Devrim’in sorularını yanıtladılar. Tekin Yoldaş ve HeviSaryamart ayı içerisinde halklara dönük olarak gerçekleştirilen katliamları ve faşizme karşı mücadelenin yükseldiği Newroz’a ilişkin önemli açıklamalarda bulunarak Kızıldere Direnişi’nin 50.yılında güncel anlamını ifade ettiler.</p></div>

      </div></div><div class="dynamic-formatters-group promo-group clearfix"><div class="promo promo-0   clearfix">
  <div class="content-column-two-left alpha">
    <div class="content-column-two-left-inner clearfix">
        <div class="media-wrapper">
        <div class="field-item evenfield field-name-field-ns-prod-news-promo-media field-type-file field-label-hidden"><div id="file-7424" class="file file-image file-image-jpeg">

      
  
  <div class="content">
    <img typeof="foaf:Image" src="https://www.kaypakkayahaber.com/sites/default/files/styles/grid-17/public/277749525_1607058659659365_4377711640509070226_n.jpg?itok=Myd1FuoR" width="100" height="100" alt="" title="" />  </div>

  
</div>
</div>
    </div>
    </div>
  </div>
              <div class="field-item evenfield field-name-field-ns-prod-news-promo-article field-type-entityreference field-label-hidden"><a href="/haber/atif-40-genel-kurulunu-gerceklestirdi">ATİF 40. Genel Kurulu’nu Gerçekleştirdi</a></div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-kicker field-type-text field-label-hidden">kaypakkaya haber</div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-lead field-type-text-long field-label-hidden"><p>46 yıl önce, Türkiye ve Türkiye Kürdistanlı göçmen işçi ve emekçilerin kurduğu Almanya Türkiyeli İşçiler Federasyonu(ATİF) Cumartesi günü 40. Genel Kurulu’nu başarıyla gerçekleştirdi.</p></div>

      </div></div><div class="dynamic-formatters-group promo-group clearfix"><div class="promo promo-0   clearfix">
  <div class="content-column-two-left alpha">
    <div class="content-column-two-left-inner clearfix">
        <div class="media-wrapper">
        <div class="field-item evenfield field-name-field-ns-prod-news-promo-media field-type-file field-label-hidden"><div id="file-7421" class="file file-image file-image-png">

      
  
  <div class="content">
    <img typeof="foaf:Image" src="https://www.kaypakkayahaber.com/sites/default/files/styles/grid-17/public/cuta.png?itok=Iot5QJ1V" width="100" height="100" alt="" title="" />  </div>

  
</div>
</div>
    </div>
    </div>
  </div>
              <div class="field-item evenfield field-name-field-ns-prod-news-promo-article field-type-entityreference field-label-hidden"><a href="/haber/dunya-barisi-icin-isci-birligi">Dünya Barışı için İşçi Birliği</a></div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-kicker field-type-text field-label-hidden">kaypakkaya haber</div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-lead field-type-text-long field-label-hidden"><p>Ford işçilerinin Ukrayna'daki savaşa ve hükümetlerin savaş politikalarına karşı Ortak Tavrı</p></div>

      </div></div><div class="dynamic-formatters-group promo-group clearfix"><div class="promo promo-0   clearfix">
  <div class="content-column-two-left alpha">
    <div class="content-column-two-left-inner clearfix">
        <div class="media-wrapper">
        <div class="field-item evenfield field-name-field-ns-prod-news-promo-media field-type-file field-label-hidden"><div id="file-7420" class="file file-image file-image-jpeg">

      
  
  <div class="content">
    <img typeof="foaf:Image" src="https://www.kaypakkayahaber.com/sites/default/files/styles/grid-17/public/ydg-1.jpg?itok=bJoIRJtH" width="100" height="100" alt="" title="" />  </div>

  
</div>
</div>
    </div>
    </div>
  </div>
              <div class="field-item evenfield field-name-field-ns-prod-news-promo-article field-type-entityreference field-label-hidden"><a href="/haber/atik-ydgden-kongre-cagrisi">ATİK YDG’den kongre çağrısı</a></div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-kicker field-type-text field-label-hidden">kaypakkaya haber</div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-lead field-type-text-long field-label-hidden"><p>Avrupa Türkiyeli İşçiler Konfederasyonu (ATİK) bünyesinde bulunan Yeni Demokratik Gençlik (YDG), Almanya’nın Mannheim şehrinde gerçekleştireceği 29. kongresine çağrı yaptı.</p></div>

      </div></div><div class="dynamic-formatters-group promo-group clearfix"><div class="promo promo-0   clearfix">
  <div class="content-column-two-left alpha">
    <div class="content-column-two-left-inner clearfix">
        <div class="media-wrapper">
        <div class="field-item evenfield field-name-field-ns-prod-news-promo-media field-type-file field-label-hidden"><div id="file-7419" class="file file-image file-image-png">

      
  
  <div class="content">
    <img typeof="foaf:Image" src="https://www.kaypakkayahaber.com/sites/default/files/styles/grid-17/public/sarya-ve-yoldas-12-mart-2022-750x375.png?itok=gdvftyqx" width="100" height="100" alt="" title="" />  </div>

  
</div>
</div>
    </div>
    </div>
  </div>
              <div class="field-item evenfield field-name-field-ns-prod-news-promo-article field-type-entityreference field-label-hidden"><a href="/haber/kbdh-genel-konsey-uyesi-hevi-sarya-ve-hbdh-yk-uyesi-tekin-yoldastan-7-mucadele-yildonumune">KBDH Genel Konsey Üyesi Hevi Sarya ve HBDH YK Üyesi Tekin Yoldaş’tan 7. Mücadele Yıldönümüne İlişkin Açıklama</a></div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-kicker field-type-text field-label-hidden">kaypakkaya haber</div>

  <div class="field-item evenfield field-name-field-ns-prod-news-promo-lead field-type-text-long field-label-hidden"><p>Hevi Sarya ve Tekin Yoldaş’ın mesajlarını sizlerle paylaşıyoruz.</p></div>

      </div></div>    </div>
  
      <h2 class="element-invisible">Sayfalar</h2><div class="item-list"><ul class="pager"><li class="pager-first first"><a title="İlk sayfaya git" href="/Haberler">« ilk</a></li>
<li class="pager-previous"><a title="Önceki sayfaya dön" href="/Haberler?page=3">‹ önceki</a></li>
<li class="pager-item"><a title="1. sayfaya git" href="/Haberler">1</a></li>
<li class="pager-item"><a title="2. sayfaya git" href="/Haberler?page=1">2</a></li>
<li class="pager-item"><a title="3. sayfaya git" href="/Haberler?page=2">3</a></li>
<li class="pager-item"><a title="4. sayfaya git" href="/Haberler?page=3">4</a></li>
<li class="pager-current">5</li>
<li class="pager-item"><a title="6. sayfaya git" href="/Haberler?page=5">6</a></li>
<li class="pager-item"><a title="7. sayfaya git" href="/Haberler?page=6">7</a></li>
<li class="pager-item"><a title="8. sayfaya git" href="/Haberler?page=7">8</a></li>
<li class="pager-item"><a title="9. sayfaya git" href="/Haberler?page=8">9</a></li>
<li class="pager-ellipsis">…</li>
<li class="pager-next"><a title="Sonraki sayfaya git" href="/Haberler?page=5">sonraki ›</a></li>
<li class="pager-last last"><a title="Son sayfaya git" href="/Haberler?page=155">son »</a></li>
</ul></div>  
  
  
  
  
</div>